[2015-11-27 10:49] gjn commented on #2937
Does the implementation not correspond to the table mentioned by @procrastinatio higher up? Or why do we request lod 15 when we only have 14?

[2015-11-27 10:50] gjn commented on #2853
Go live might be next Wednesday.

[2015-11-27 10:53] oterral commented on #2937
Not exactly :) the gaps are not taken in account

[2015-11-27 13:40] #2937 closed

[2015-11-27 16:12] #2934 closed

[2015-11-29 10:52] davidoesch commented on #2879
Still an issue on the same device on alpha for this orientation https://mf-geoadmin3.int.bgdi.ch/3dalpha/mobile.html?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=8.07857&lat=46.8197

[2015-11-30 06:19] mariokeusen commented on #2470
Status here?

[2015-11-30 08:09] p1d1d1 commented on #1148
@gjn any update here?

[2015-11-30 10:05] davidoesch opened #2948 "Print report link for ch.kantone.cadastralwebmap-farbe"
For ch.kantone.cadastralwebmap-farbe ( ad  alter for a pure AV layer to be intgerated)
realize in the tooltip a link to a PDF

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11468735/25e1498e-9752-11e5-891f-8a6efd929db5.PNG)

The link to PDF is called
with the following paramteres
URL: https://geodata01.admin.ch/order/product.igs?product=av_pdf&pos=<Ost>/<Nord>
Resulat:
URL auf Re

[2015-11-30 18:29] davidoesch commented on #2948
@cedricmoullet  double check please

[2015-12-01 06:44] gjn commented on #2948
I think we need to pass by a service, because we can't directly pass HTTP Basic Auth from the browser without it being visible in the console.

[2015-12-01 06:45] davidoesch commented on #2948
It is opendata ...., but still you are right: bad practice

On Tue, Dec 1, 2015 at 7:44 AM, Gilbert Jeiziner <notifications@github.com>
wrote:

[2015-12-01 06:48] cedricmoullet commented on #2948
I already mentionned it to customer: we will not send credentials, it's a non sense.

[2015-12-01 08:45] loicgasser commented on #2942
+1 for A)

[2015-12-01 08:46] oterral commented on #2887
We could define a maxResolution for 3d

[2015-12-01 08:56] procrastinatio commented on #2937
See also https://github.com/geoadmin/service-mapproxy/pull/24

[2015-12-01 09:04] oterral opened #2950 "Replace transitions by translate3d"
I've done some tests with for new menu. And the translate3d (use hardware acceleration) increase a lot the smoothness on mobile (tested on my iPhone 4)

- Background selector
- Menu
- Header changing
- Button effect
- Layer tools toggle (Layer manager)

[2015-12-01 09:13] gberaudo opened #2951 "Duplicated scripts in master (dev)"
[On master](https://mf-geoadmin3.dev.bgdi.ch/src/?dev3d=true&lang=en&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=8.22546&lat=42.69089&elevation=517826&heading=360.000&pitch=-44.169), direc

[2015-12-01 13:28] gjn commented on #2942
Here are some testlinks with different pixel tolerances. Note: no zoom related logic applied for now. It's the same tolerance for every zoom level. It's for playing around and finding the good zoom/tolerance relation.

[Default tolerance (5px)](https://mf-geoadmin3.dev.bgdi.ch/gjn_tolerance/?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohn

[2015-12-01 14:04] davidoesch commented on #2942
Test on mobile- this is the limit

It is really tricky to find here the right dimension

The 30px is not enough eg for the best res for public stops -- needs to be way bigger. For public stops we also have to reduce the icon size on zoom 12 onward

On Tue, Dec 1, 2015 at 2:28 PM, Gilbert Jeiziner <notifications@github.com>
wrote:

[2015-12-02 06:43] gjn commented on #2942
yes, not easy. It depends really on icon size for points and line thickness for polyline/ploygons.

@ltclm @AFoletti Any way to say, on average, what icon size is? Line thickness?

[2015-12-02 06:54] AFoletti commented on #2942
@gjn  it's very hard to tell a "global" or average value.
In general line thickness is quite small (no more than 2px I would say) with of course some exception (I think sachplan layers have some)
Point is much more variable, and we have symbols which change with zoomlevels. Apart some exceptions (sachplan anyone?) point symbols are generally smaller than 20px

[2015-12-02 07:05] loicgasser commented on #2942
For Agnes points 20px, for adresses 10px. So I would say 10 is probably good.

[2015-12-02 07:10] #2902 closed

[2015-12-02 07:24] davidoesch commented on #2942
solution must be

- zoomlevel  dependend
- dataset dependend

the current 5px solution is based on GWR , which works fine on dense areas
as in
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,true,false,false&l

[2015-12-02 07:27] gjn commented on #2942
If it's data dependant, we need to handle this information somehwere - most probably in the bod. No easy task to add for all existing layers.

@ltclm @AFoletti thoughts on this?

[2015-12-02 07:44] oterral commented on #2942
My 2 cents on this:

-  Line/Polygon: 5 is good
-  Point: size of the icon  (I don't know if it's possible)

[2015-12-02 07:48] AFoletti commented on #2942
My opinion?
"I have a dream..."
More seriously:
Data dependent is maybe possible, but you have to consider that as "data" you mean "layer". But a layer may have many different point sizes at the same zoomlevel. How do you handle those cases?
Data AND zoomlevel dependent: what you want here is to parse the WMS snippet :stuck_out_tongue_winking_eye: . And you will still have the problem mentioned ab

[2015-12-02 10:16] davidoesch commented on #2838
@cedricmoullet @gjn I got only negative feedback regarding the current situation: my proposal we remove it fro the selection

[2015-12-02 10:18] cedricmoullet commented on #2838
+1

[2015-12-02 10:22] davidoesch opened #2954 "Go Live ALPHA: roadmap"
Mission target ALPHA

* 2D no downtime
* costs: if estimated 3D costs per month go above 5kUS$* shut down 3D

- [x] nasty Questions  currently approved by KOMM @davidoesch
- [x] 2.5D button @pfanguin
- [x] swissimage warning text  @oterral
- [x] autoscaling backend max 30 instances @procrastinatio
- [x] push / mail / controlling of daily AWS costs @hpchrist
- [x] push / mail / pingdom/ load on bac

[2015-12-02 10:23] gjn commented on #2838
So summarize.

On every topic switch:
1) Remove all layers that are not active
2) Keep active layers that are part of ech (previous behaviour)

On topic switch _to_ topic `ech`
1) Add ech proposed layers as inactive if not already present

Correct?

[2015-12-02 10:25] gjn commented on #2954
Added points from https://github.com/geoadmin/mf-geoadmin3/issues/2939

[2015-12-02 10:26] gjn commented on #2939
duplicated by https://github.com/geoadmin/mf-geoadmin3/issues/2954

[2015-12-02 10:26] #2939 closed

[2015-12-02 10:29] davidoesch commented on #2838
On topic switch to topic ech
1) Add ech proposed layers as inactive if not already present
-> nope we even get rid of the proposed layers.---Am I to radical?

[2015-12-02 10:31] gjn commented on #2838
I'm +1 for this (being radical)

But it was prio1 entity in User Value document...(I agree that it should be prio1, but I don't think it was well done)

[2015-12-02 10:37] AFoletti commented on #2838
For what is worth, here my +1 on the radical solution. The only thing I do with those proposed layers is to delete them from the list ;)

[2015-12-02 10:45] gjn commented on #2954
layersconfig is not a must (should)

optimiez bg layers already done, IMO, or is there more?

[2015-12-02 10:45] ltclm commented on #2954
2 1/2 BG Layer size has been reduced with lossy jpeg compression.
concerning WMS/PG Cluster:
what is the expected load?
5x, 10x, 100x of what we have now?

[2015-12-02 10:46] gjn commented on #2838
It's bad for us. But it was not done for us.

@davidoesch is negative feedback from power users / professional users?

[2015-12-02 10:47] davidoesch commented on #2838
Power user ---

On Wed, Dec 2, 2015 at 11:46 AM, Gilbert Jeiziner
<notifications@github.com> wrote:

[2015-12-02 10:48] gjn commented on #2838
As said, I'm for radical solution, but I think we should keep 'discoverability' in mind and maybe try different approach.

[2015-12-02 10:59] cedricmoullet commented on #2954
WMS / PG cluster: factor 2

[2015-12-02 11:48] mariokeusen commented on #2954
Working on the Abnahmen...

[2015-12-02 15:45] mariokeusen commented on #2954
Protocols sent to customers. Waiting for feedback/signatures

[2015-12-02 16:12] loicgasser commented on #2954
https://github.com/geoadmin/mf-geoadmin3/pull/2953

[2015-12-02 16:13] loicgasser commented on #2954
https://github.com/geoadmin/mf-geoadmin3/pull/2955

[2015-12-02 19:24] ltclm commented on #2954
pg cluster does not need an upgrade, the average load is 0.5 (= doing nothing), today a tile generation with 64 threads was using pg.bgdi.ch by mistake, the average load increased to 2.5 (=doing something). the 64 threads generated about 70 database queries / second.

[2015-12-03 07:07] hpchrist commented on #2954
I agree with that.

From: Clausen Marcel [mailto:notifications@github.com]
Sent: Mittwoch, 2. Dezember 2015 20:25
To: geoadmin/mf-geoadmin3 <mf-geoadmin3@noreply.github.com>
Cc: Christ Hanspeter swisstopo <Hanspeter.Christ@swisstopo.ch>
Subject: Re: [mf-geoadmin3] Go Live ALPHA: roadmap (#2954)

pg cluster does not need an upgrade, the average load is 0.5 (= doing nothing), today a tile generation

[2015-12-03 07:54] gjn commented on #2954
One could say that pg cluster is now over-dimensioned. ;=)

[2015-12-03 08:12] mariokeusen commented on #2838
+1 for "radical" and agree with @gjn at the same time

[2015-12-03 08:35] hpchrist commented on #2954
Hi,

we (infra team) think, that it's not needed to increase the varnish cluster. The current setup is already over-dimensioned. And adding a new varnish is less then an hour of work, if needed.

Regarding the billing monitoring:
I've now added 3 alarms: one will monitor the montly costs of S3, the other the monthly costs of AWS Data Transfer and the third the total AWS charges.

[2015-12-03 09:04] #2713 closed

[2015-12-03 09:51] oterral commented on #2838
-1 Proposed layer are useful. I'm in favor to remove them when we change topic. As i always said NOBODY changes topic. It's sad we can't monitor the user interactions.

[2015-12-03 10:36] davidoesch commented on #2838
the users were gov employees who are sedning links from the URL: they mounr
that the URL is now very long ... this means: shortened URL are as well not
used

On Thu, Dec 3, 2015 at 10:51 AM, oterral <notifications@github.com> wrote:

[2015-12-03 17:45] loicgasser opened #2960 "Background selector reacts on permalink change"
With this line https://github.com/geoadmin/mf-geoad2otmin3/blob/master/src/components/backgroundselector/BackgroundSelectorDirective.js#L81

The background selector closes every time one moves the map. (with a delay and that's the issue, e.g. update of x and y coordinates)

1. Open http://map.geo.admin.ch
2. Pan the map
3. Quickly (not that quickly) open the background

Result:
The background open

[2015-12-03 18:18] davidoesch commented on #2960
I observed this as well but blamed my old pc. Now I can reproduce it. I propose to deactivate as Loïc suggests

On Thu, Dec 3, 2015 at 6:55 PM, Gasser Loïc <notifications@github.com>
wrote:

[2015-12-03 18:58] gjn commented on #2960
I have no qualms removing that part. It would be fully under user control.

[2015-12-04 05:27] cedricmoullet commented on #2960
Yes, we can remove it

2015-12-03 19:58 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-12-08 17:08] #2960 closed

[2015-12-09 08:25] loicgasser opened #2968 "Adapt 3d nav btns on mobile"
At the moment 3d nav btns are not really usable in 3d. We should have custom buttons on mobile
Arrow up and down to replace the head.
Arrow left and right to replace the north arrow.
@davidoesch what do you think?

[2015-12-09 08:59] gjn commented on #2838
@oterral What about this solution (which is technically challenging, but might add value to the users): when loading a topic, we will add the proposed layers to the layermanager (as now) - but we don't add them in the permalink. Reasoning: the app will show the in the layermanager anyway when this topic is loaded, so no need to transfer this info in the permalink; as it's part of the application l

[2015-12-09 09:00] oterral commented on #2838
+1 I think it should be the good way

[2015-12-09 09:08] gberaudo commented on #2881
New build mechanism implemented with https://github.com/geoadmin/mf-geoadmin3/pull/2924
@gjn, I think we can close this one.

[2015-12-09 09:28] gjn commented on #2881
Yes. Thanks alot for addressing this.

[2015-12-09 09:28] #2881 closed

[2015-12-09 09:42] davidoesch commented on #2954
@AFoletti can you translate msgid 3d_overlay_warning in IT? Thanks

[2015-12-09 10:33] AFoletti commented on #2954
Done.
Why do we write about 3D? It's not 3D. It's 25/10D ;)

[2015-12-09 10:52] davidoesch commented on #2954
Comes from official Komm ... #nuffsaid

On Wed, Dec 9, 2015 at 11:33 AM, AFoletti <notifications@github.com>
wrote:

[2015-12-10 06:37] cedricmoullet commented on #2938
@oterral can you review and merge if it's fine ?

[2015-12-10 06:39] #2913 closed

[2015-12-10 06:40] #2819 closed

[2015-12-10 07:07] alcapat commented on #2808
Done in the Saucelbas PR https://github.com/geoadmin/mf-geoadmin3/pull/2906
commit : aabbb4f
Not ready to merge because of IE test not adapted yet.

[2015-12-10 07:41] #2938 closed

[2015-12-10 07:54] gjn commented on #2808
Nice!

An alternative would be to put all layers into one view and test this. Might be faster than each individual test (How long does the current test take in one browser?). Downside would be that it's not clear which layer caused the failure (in case of failure)....

[2015-12-10 08:22] mariavkourouni opened #2972 "Profile enhancements: integration of icons"
Please could you integrate the needed icons `fa-arrows-h` and `fa-clock-o` ?
[see here](https://fortawesome.github.io/Font-Awesome/cheatsheet/)

[2015-12-10 08:51] davidoesch commented on #2954
https://share.pingdom.com/banners/91d47e31 for the mapproxy repsonse time (! updated every 24h!)

[2015-12-10 10:04] oterral opened #2973 "Marker printed behind a layer added after a search"
1) Search and click to Bern
2) Add a layer
3) Print

-> Marker printed behind the layer added

Expected:

Marker printed on top

[2015-12-10 10:18] gjn commented on #2973
Might be related, or not. But crosshair printin currently does not work in prod:

https://map.geo.admin.ch/?crosshair=marker

It does result in 503 error on the request. Might be fixed with https://github.com/geoadmin/mf-geoadmin3/pull/2959

[2015-12-10 10:22] alcapat commented on #2808
Yes good solution, but if the test failed, you have no idea of which layer type is involved. It is really important to have this information ?
The current test take almost 1'30 / 1'50 by browser

[2015-12-10 10:23] gjn commented on #2808
If it fails, we can always analyse by hand which one caused the failure. Not ideal, but execution time does become more and more important.

[2015-12-10 11:09] Jenselme opened #2975 "Error message after usage for measurement tool"
Hi,

I just found a bug. To reproduce:

- Enable draw & measure on map
- Use the measurement tool
- Disable draw & measure on map

Error in chromium console:
[code]

What happened? If we take a look at the values of `unSourceEvents` [in DrawDirective](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/draw/DrawDirective.js#L371):
[code]

In the `for i in unSourceEvent`, i get the

[2015-12-10 11:56] #2783 closed

[2015-12-10 12:00] oterral commented on #2975
Good found I fix it

[2015-12-10 12:32] pfanguin commented on #2972
see #2979

[2015-12-10 13:02] #2973 closed

[2015-12-10 13:02] #2975 closed

[2015-12-10 13:07] Jenselme commented on #2975
Thanks!

[2015-12-10 13:29] #2470 closed

[2015-12-10 13:35] Jenselme opened #2980 "Error message after usage for measurement tool in layermanager"
Linked to #2975. The cause of the bugs are the same, I have the same ideas for solution. I think we should expect to be bitten because of this quite often.

How to reproduce:

- Enable draw & measure on map
- Use the measurement tool
- Disable draw & measure on map

Problems:
- Try to hide the layer. I get in the Chrome console (caused by `for (var i in features)` in https://github.com/geoadmin/mf

[2015-12-10 13:39] gjn commented on #2980
I tend to agree with @Jenselme . We should try to eliminate the overwriting of the Array object here: https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/profile/ProfileService.js#L137

[2015-12-10 13:41] gjn commented on #2980
btw: we could use d3.max and d3.min function instead of overwriting in profile service. I will create a PR.

[2015-12-10 13:46] gjn commented on #2980
That's not to say that we sholdn't address the `for i in array` expression, as _any_ library can extend the Array object. The beauty of JavaScript...

[2015-12-10 13:57] oterral commented on #2980
bad `for ... in` . I remove it all.

[2015-12-10 14:03] gjn commented on #2980
@oterral It's all in https://github.com/geoadmin/mf-geoadmin3/pull/2981

[2015-12-10 14:20] oterral commented on #2980
Thx

[2015-12-10 14:24] mariokeusen commented on #2954
Signed protocols will be on my desk tomorrow. Abnahme terrain and 2.5d-swissmaps TLM considered as done...

[2015-12-10 14:31] mariavkourouni commented on #2972
thank you!

[2015-12-10 14:33] #2972 closed

[2015-12-10 16:45] loicgasser commented on #2838
And if layers are defined in the permalink we don't add the default layers? (same behaviour as now)

[2015-12-10 16:46] loicgasser commented on #2913
still have this issue. would be good to know where it comes from.

[2015-12-10 20:48] davidoesch opened #2983 "3D remove offline button when I'm 3D"
When in 3D on mobile offline button does not make any sense

[2015-12-11 02:47] #2980 closed

[2015-12-11 03:13] #2416 closed

[2015-12-11 07:22] oterral commented on #2983
This problem occurs only when we open the page directly in 3d.

[2015-12-11 07:38] oterral opened #2985 "2d Rotate button permanently updated in 3d"
@gberaudo I have seen  that the 2d rotate button is always updated (css transform property) when 3d is active even if the map doesn't move.

It seems the [cesiumRendering](https://github.com/openlayers/ol3-cesium/blob/6189779042d3a25b0009cb697f0a35731afe64e8/src/ol3cesium.js#L189) is never stopped . Shouldn't the autorenderloop stuff fix this?

Or maybe it's the [checkCameraChange](https://github.

[2015-12-11 12:11] cedricmoullet opened #2988 "Up / Down arrow in layer manager"
Two clicks are needed in order to up or down one layer. It should work only with one.

[2015-12-11 12:14] oterral commented on #2988
With which type of layers have you seen that?

[2015-12-11 12:16] oterral commented on #2988
Ah ok I see the problem. It's a order conflict when marker location is added.

[2015-12-11 12:18] cedricmoullet commented on #2988
I played with swissimage and wanderwege

2015-12-11 13:16 GMT+01:00 oterral <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-12-12 09:59] davidoesch opened #2990 "Mobile scrolling issue"
Try to resolve the scrolling issue on mobile as described in
http://codepen.io/xavieralexandre/full/EPjgLQ for iframe

[2015-12-13 21:39] xavieralexandre commented on #2990
`interactions: ol.interaction.defaults({mouseWheelZoom: false})` for mouses & trackpads and `interactions: ol.interaction.defaults({dragPan: false})` for touchscreens avoid unwanted interactions with the iframe. It does not solve scrolling problem on mobile though as the iframe continues to capture touch interaction. And it obviously disables entirely `mouseWheelZoom` and `dragPan` which is not id

[2015-12-14 08:55] mariokeusen opened #2991 "[topic aviation] new service link URL's"
UC: bazl will have a migration of its CMS on December 23rd. Therefore we'll have to replace the service link url on the topic=aviation.
New URL's are available in the translation sheet (row 161): https://docs.google.com/spreadsheets/d/1F3R46w4PODfsbJq7jd79sapy3B7TXhQcYM7SEaccOA0/edit#gid=0

Thanks for importing the new urls for this week's deploy.
FYI: new URL's are not yet functional, but the cus

[2015-12-14 09:21] davidoesch opened #2993 "3D tooltip: can't close window"
iphone 5s , 9.2
mf-geoadmin3.int.bgdi.ch/?dev3d=true

"1. Open application activate 3d Button
2. Activate the catalog in the accordeon panel
3. Add ch.bafu.bundesinventare-jagdbanngebiete to the map
4. Click on an object of the layer in the map
6. Close the tooltip window"

Cant close window since the object  window close button is not visible
![img_0100](https://cloud.githubusercontent.com/assets

[2015-12-14 09:44] oterral commented on #2993
Fixed with https://github.com/geoadmin/mf-geoadmin3/pull/2989

[2015-12-14 13:56] mariokeusen commented on #2911
After my test today on IE11: still no feature highlight visible...

[2015-12-15 07:00] #2983 closed

[2015-12-15 07:00] #2988 closed

[2015-12-15 12:23] gjn commented on #2954
@davidoesch @cedricmoullet Can you confirm that current help is ok? (Should work on integration)

[2015-12-15 12:31] davidoesch commented on #2954
yes it is ok, I just added move left/right arrows to it.
http://help.geo.admin.ch/?id=28&lang=en

we do adaption fro SHIFT +arrow for tilt later on

On Tue, Dec 15, 2015 at 1:23 PM, Gilbert Jeiziner <notifications@github.com>
wrote:

[2015-12-15 14:06] mariokeusen commented on #2991
Hi Patrick,

Unfortunately the CMS-project of bazl forced the customer to once again adapt the URL: I have updated the translation sheet on row 161. Thanks for considering this on short term

Mario

[2015-12-16 03:53] #2993 closed

[2015-12-16 04:19] cedricmoullet commented on #2991
@alcapat @gjn could you please take in account this for today ?

[2015-12-16 04:20] cedricmoullet commented on #2985
@gberaudo ?

[2015-12-16 04:21] #2853 closed

[2015-12-16 04:24] #2796 closed

[2015-12-16 04:25] cedricmoullet commented on #2892
@gjn how do we proceed on this issue ?

[2015-12-16 04:26] cedricmoullet commented on #2911
@oterral status ?

[2015-12-16 08:13] oterral commented on #2911
I've put the  link to the bug in Cesium in the description. It's not something that will be fixed in the future.

[2015-12-16 08:18] gjn commented on #2892
@gberaudo This is still an issue, correct?

[2015-12-16 08:27] gberaudo commented on #2985
Sorry, I overlooked this one.

@oterral, are you writting about this button?
![rotate_button](https://cloud.githubusercontent.com/assets/7294662/11835701/b7ca4fbe-a3d5-11e5-84fb-b666607d6d29.png)

or this button?
![rotate_2d](https://cloud.githubusercontent.com/assets/7294662/11835715/d38107d4-a3d5-11e5-9c8f-bd150ed2d2e2.png)

I tested the following url and in both cases the `transform` property s

[2015-12-16 08:28] gberaudo commented on #2892
Yes

[2015-12-16 08:37] oterral commented on #2985
The 2nd button yes on right of the screen , on chrome I see its  transform property updating all the time.

[2015-12-16 08:42] oterral commented on #2985
wow strange just tested and yes the bug doesn't exist anymore.  really weird.

[2015-12-16 08:48] oterral commented on #2985
@gberaudo have a look here : https://mf-geoadmin3.int.bgdi.ch/?dev3d=true&lang=fr&topic=ech&lon=8.22546&lat=44.01476&elevation=315049&heading=360.000&pitch=-42.846&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=186412

[2015-12-16 08:50] oterral commented on #2985
I guess the [refactoring of buttons directives](https://github.com/geoadmin/mf-geoadmin3/commit/e1c94925b6827afb60f2e066a56d47970c3ba0c2) has fixed this

[2015-12-16 08:50] #2985 closed

[2015-12-16 10:54] alcapat opened #2999 "Profil with IE 9 doesn't work (ont INT)"
Open this link https://mf-geoadmin3.int.bgdi.ch with IE
Switch to IE 9.
Go to the drawing tool.
Draw a line. A window is display on the bottom left. If you select the tab "Profile", the profile is not visible.
Error occur during the deploy of 15.12.2015

[2015-12-16 11:24] loicgasser opened #3001 "3D: Tooltip on nav btns and help (ctrl + right or left click)"
The help is nice, but the user might want something more direct than a big popup window.

A tooltip on both 3D nav buttons as contextual help would be nice. (Desktop only)

The ctrl + right or left click for navigating in 3D is obvious to us but not to all of our users.
It should be more obvious you can use the keyboard to navigate.
This could show up when hovering on the 3D buttons as well.
(I kn

[2015-12-16 11:56] davidoesch commented on #3001
I already proposed this earlier. Yes +1

As we did for the zoom buttons

[2015-12-16 12:33] oterral commented on #2999
Fixed with #3002

[2015-12-16 12:40] alcapat commented on #2991
@cedricmoullet  the PR for this update (#2992) is already merged

[2015-12-16 12:42] cedricmoullet commented on #2991
With the latest translations ?

[2015-12-16 12:52] alcapat commented on #2991
Yes

[2015-12-16 13:04] davidoesch opened #3003 "hiking time: overlapping in footer"
draw profile

result
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11841472/c7efb582-a3fd-11e5-99b5-6768509186cd.PNG)

expected result
there is a bigger space between the result and and the axis annotation so there is now overlap

[2015-12-16 13:18] davidoesch opened #3005 "3D keyboard control: add SHIFT +arrow key function"
Add keyboard control
- [x] Rotate clockwise  Shift + left arrow Rotates the view clockwise.
- [x]  Rotate counter-clockwise  Shift + right arrow    Rotates the view counter-clockwise.

[2015-12-16 13:33] mariavkourouni commented on #3003
#3007

[2015-12-16 13:40] oterral commented on #3001
There is no title for map buttons.

[2015-12-16 14:43] #2999 closed

[2015-12-16 15:00] davidoesch commented on #3001
But there is for plus and minus buttons

On Wed, Dec 16, 2015 at 2:40 PM, oterral <notifications@github.com> wrote:

[2015-12-16 18:43] davidoesch opened #3008 "3d not working on android 4.2.2 chrome 47"
3d of map.geo.admin,ch does not run.
2d works as a defined. When switching 2 3d . Map content is just white . 3d icon is active. No error shown . Cesium newyork exsmple runs fine.

![screenshot](https://cloud.githubusercontent.com/assets/4577727/11850367/28328d28-a42d-11e5-8e26-83a538f33f0d.png)

Expected result -  it runs

[2015-12-16 20:19] davidoesch opened #3009 "Haltestellen Text departure correction"
Change
"STATION Nächste Abfahrt von"

To

"STATION nächste Abfahrt "

Simply remove the last word in DE FR IT RM (en is correct)

[2015-12-17 07:49] gjn commented on #2954
Well done, everybody.

[2015-12-17 07:49] #2954 closed

[2015-12-17 09:46] gjn commented on #2991
@mariokeusen Can we close?

[2015-12-17 10:44] mariokeusen commented on #2991
Jep all good.

[2015-12-17 10:44] #2991 closed

[2015-12-17 12:03] alcapat commented on #2808
Modification is done : https://github.com/geoadmin/mf-geoadmin3/commit/0d7c0a39880e8ed7b0f5968a14de4d0de3debd6b
Need to have a new available account to test.

[2015-12-17 15:14] davidoesch opened #3011 "touch sensitivity for tooltips in 3D"
all iOS and Android touch devices
Add swisismage
go 3d
zoom in and pan around

result
- the tooltip is activated event a very short touch

-> extend the touch and hold timer

[2015-12-17 16:01] davidoesch opened #3012 "3D: WMS aggregated layer Zoom issue"
Zoom to
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,true,false,false&layers_timestamp=18641231,,,&lon=8.73243&lat=47.28530&elevation=740&heading=6.035&pitch=-29.836

result

orange points from other zoom l

[2015-12-17 20:40] davidoesch opened #3013 "3D Icon vertical spacing in iframe"
This one is a picky one

Vertical spacing should be the same as between + and - icon

![image](https://cloud.githubusercontent.com/assets/4577727/11881361/a5c17b12-a506-11e5-9838-59787a79b85f.png)

[2015-12-17 21:05] davidoesch opened #3014 "3D and tiny iframes"
No idea how deal with this one here ---
http://www.sac-cas.ch/unterwegs/tourenplanung/naturvertraeglich-unterwegs.html
![image](https://cloud.githubusercontent.com/assets/4577727/11881957/26b66e00-a50a-11e5-98dd-f40d7cd8f33c.png)

Expected result:

No overlapping
Icons visible

[2015-12-18 10:28] davidoesch opened #3015 "3D Iframe blocked with kml"
open win7 , use chrome

http://www.rts.ch/info/suisse/7349462-gagnants-ou-perdants-avec-le-nouvel-horaire-des-cff-partagez-votre-avis.html

activate 3d in iFrame

zoom pan arround with mouse and keyboard control
Result after a cuouple of movements :
3D crashes, with a win 11 warning,
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11894850/47452006-a57a-11e5-9cc6-312197e3e71a.PNG)

[2015-12-18 14:05] davidoesch opened #3016 "PDF Issue Adobe Reader Pro"
Reproduced by several customers: our PDF seems to have an issue with compliance
" Funktion Drucken: Auf dem Bildschirm erscheint das erstellte PDF okay; nach dem Ausdruck aus Adobe Acrobat pro erscheinen ein oder mehrere weisse quadratische Lücken - in der Grösse der quadratischen Markierungen durch den Cursor. Ich fand keinen Weg, sie zu entfernen. Einziger Wrk around: Öffnen mit Adobe Acrobat

[2015-12-18 14:27] davidoesch commented on #2698
I reopen this and set it to prio 1, since this is still an issue reported frequently

eg here
[map.geo.ch Test 4 Druckvorlage.pdf](https://github.com/geoadmin/mf-geoadmin3/files/66692/map.geo.ch.Test.4.Druckvorlage.pdf)

results in
![map geo ch test 4 ausdruck](https://cloud.githubusercontent.com/assets/4577727/11898935/d008b42c-a59b-11e5-8fa2-d780c8385df5.jpg)

not all elements are shown

[2015-12-20 11:03] loicgasser commented on #3016
We re migrating to MapFish print 3. I don't think it s worth the effort right now. We should test the new Print with this tool instead and make sure this one is compilant.

[2015-12-20 16:15] procrastinatio commented on #3016
Same test with `mapfish print v3` (PDF 1.7)

[code]

My take on PDF. As our PDF are mostly raster (pixelkarte, swissimage), using a format designed for vector brings no adavantage. Providing a (georeferenced) image would be even more useful for many users. The PDF standard is über-complex.

[2015-12-20 19:35] davidoesch commented on #3016
Question

-> issue is not related to pdf compatibility

Pdf is simplest format to open and to print for most users, especially for raster. Second we can assure scale of print out since we print for an a4 or a3: with a simple image distortion /scale is a risk

[2015-12-21 08:38] cedricmoullet commented on #2698
@procrastinatio can you have a look at this one ?

[2015-12-21 08:47] cedricmoullet opened #3017 "KML Import - support clampToGround mode"
https://github.com/AnalyticalGraphicsInc/cesium/blob/7d449906cf65cf06e75d5cde7bf2dd5921bc95dd/Source/DataSources/KmlDataSource.js#L1461

[2015-12-21 09:37] p1d1d1 opened #3018 "[Print] - No map in PDF"
Tested on IE and Chrome.

[2015-12-21 09:55] procrastinatio commented on #2698
Could you provide some examples of buggy KML ? Do some KMLsystematically fail to print some features or is it completely random ? Is is imported KML or drawn features ? Or is it simply the resulting PDf which is buggy ?

[2015-12-21 10:03] davidoesch commented on #2698
Drawn features: https://public.geo.admin.ch/_ylHx2n3SECWZVZDqnp8iQ
imported  features :eg by gpsvisualizer like https://gist.githubusercontent.com/davidoesch/f6ed7ed436927da3cc35/raw/3e642dec62fcedf1305e6985060b9debe8137093/Viatimage%2520Alps

 as decribed above: the resulting PDF which is buggy, links are ok

[2015-12-21 13:51] mariokeusen commented on #3018
Could not reproduce that on both IE and Chrome...

[2015-12-21 13:56] procrastinatio commented on #3016
To test you assumption, here is a PDF with two layers: the PK and swissimage. All swissimage tiles arewrongs, and hence are not displayed. [pk-with-buggy-swissimages.pdf](https://github.com/geoadmin/mf-geoadmin3/files/68510/pk-with-buggy-swissimages.pdf).

Result:
![habkern](https://cloud.githubusercontent.com/assets/1236739/11932090/f1a8c9d8-a7f2-11e5-863e-0be1fbbe45c7.jpg)

[2015-12-21 13:57] davidoesch commented on #3016
Rolf z has access to The pro version of Adobe : can you test it at his machine

On Mon, Dec 21, 2015 at 2:56 PM, procrastinatio <notifications@github.com>
wrote:

[2015-12-21 14:28] #3018 closed

[2015-12-21 14:33] davidoesch opened #3019 "Don't load opaque layers"
- [ ] order layer according to transparency setting
- [ ] opaque layers are added the bottom
- [ ] only the top opaque layer is loaded, the others not (as in 3D)
- [ ] opacity setting is managed in BOD (as it is currently done for some vector layers)

[2015-12-21 17:44] procrastinatio commented on #2698
Maybe related to https://github.com/geoadmin/mf-geoadmin3/issues/3016

[2015-12-22 06:59] gjn commented on #3019
First, please read comments by @ltclm here: https://github.com/geoadmin/mf-chsdi3/issues/1821

It's not only about opaque property, but also about the extent of that layer. Some are well outside Switzerland (pixelkarte-farbe), some are kind of outside of Switzerland (swissimage-product), some are exactly Switzerland (zipcodes). This is not easy to handle with a single attribute. (That's mainly a p

[2015-12-22 07:45] davidoesch opened #3020 "KML and alti: WGS84 vs swiss standard"
Inform the user  that he has to be make a decisions on how to deal with altitude iunformation in 3D

add a warning dialog on import kml
- [ ]       Display a dialog to inform the user that map.geo.admin is using WGS84 for altitude information
- [ ]           describe this situation in the help.

we will take this into account with https://github.com/geoadmin/mf-geoadmin3/issues/2414 https://docs.g

[2015-12-22 07:45] ltclm commented on #3019
Yes we should discuss this. Point 1 and 2, 4: we could add something like a z-value to each layer representing its relative position in the layer tree? Point 3: i would not do something like that at all in 2d: see https://github.com/geoadmin/mf-chsdi3/issues/1821

[2015-12-22 08:00] gjn commented on #3016
@procrastinatio What do you mean by buggy swissimage tiles? What is buggy?

[2015-12-22 08:08] procrastinatio commented on #3016
I did issue a PDF with a swissimage with a wrong timestamp (20151230), so this layer exists in the PDF but with no tiles (no images), to test assumption in https://github.com/geoadmin/mf-geoadmin3/issues/3016#issuecomment-166149130. With Adobe Acrobat Pro, no trouble.

[2015-12-22 08:24] procrastinatio commented on #3016
For now I am listing all possibles _limit_ cases to test the PDF generation, display and print in various viever

**Raster**

- [ ] Missing tiles (no retry)
- [ ] Wrong layer geometry, timestamp
- [ ] Mixed image type: png/jpeg, png8/32 bits, color/greyscale, etc.
- [ ] Transparent tiles, no content tile

**Vector**

- [ ] Multigeometries, outside print area, application area
- [ ] Not supported g

[2015-12-22 09:31] davidoesch opened #3022 "Infobox "Link für Datenbezug""
In Infobox "Link für Datenbezug"

if BOD and geocat is empty for this field

Result:
link to current permalink is set

Expected result:
no link is set in this case "-"

[2015-12-22 09:35] davidoesch opened #3023 "Use CSW geocat to feed content of infobox"
prerequisite
- [ ] geocat team has a QS process in place to manually publish edits of owners in geocat

Then
- [ ]   title
- [ ]   short title
- [ ]   Abstract
- [ ]   id geo ig
- [ ]   link to geocat
- [ ]   link to scale number
- [ ]   link to detailbeschreibung
- [ ]   link to fachportal
- [ ]   link to wms service
- [ ]   Datenstand
- [ ]   optional: url to legend

can be updated by geocat dir

[2015-12-22 09:37] mariokeusen commented on #3023
+100 for that in general
Except for the datenstand: what about the auto-updates?

[2015-12-22 14:33] procrastinatio commented on #3016
Tested  [tsa_du_touno_2.pdf](https://github.com/geoadmin/mf-geoadmin3/files/66677/tsa_du_touno_2.pdf) on Windows, MacOs and Linux, on Acrobat Reader, Acrobat Pro, and various PDF viewer. No problem. Only Adobe Illustrator  CC Tryout 18 on a Mac issues the following error:

```PDF Objects that have been Reinterpreted```
```An unknown imaging construct was encountered.```

resulting in:

<img width=

[2015-12-23 07:36] davidoesch commented on #3016
OK: can we sum up
A) Issue: " misisng tiles in the pdf might generate an error"
B) Workaround: regenerate the PDF
C) Solution: adapt mapfishprint to overcome missing tiles  due to  network issue

[2015-12-23 07:48] davidoesch commented on #3019
Let's keep its simple

There are two user scenarios

A) search and add a layer:
expected result: layer with data is shown,independent from what is already selected
current solution: added layer is always on the top, fully opaque vector layers are *always* set to opacity=0.7
current result: user get what he wants

B) complex single topic map ( like tick maps)
Expected result: user opens a preconfig

[2015-12-23 08:22] ltclm commented on #3022
The issue comes from empty strings from the geocat data.
This change of the layer info views in the bod will fix this by replacing empty strings with NULL.
https://github.com/geoadmin/db/commit/b43ec287fe3c4e55ea87695db4d2cb7a31561c94

dev:
https://mf-chsdi3.dev.bgdi.ch/rest/services/all/MapServer/ch.bafu.moose/legend?lang=de
prod:
https://mf-chsdi3.prod.bgdi.ch/rest/services/all/MapServer/ch.bafu

[2015-12-23 09:27] procrastinatio commented on #3016
I tested against [JHOVE](http://jhove.sourceforge.net/index.html), one of the few free validating PDF parser.
With [Mapfish print v2](http://www.mapfish.org/doc/print/), pdf document are well-formed and valid PDF 1.5, unless they have WMTS layer. But multipages PDF are valid PDF 1.3.
With [Mapfish print v3](http://mapfish.github.io/mapfish-print-doc/#/overview) documents are well-formed and valid

[2015-12-23 09:57] gjn commented on #3019
Also, we will have easy ordering of layers via drag & drop soon, which should facilitate things for the user.

[2015-12-23 09:57] #3019 closed

[2015-12-23 09:59] gjn commented on #3022
This will be fixed on next deploy. Thanks alot @ltclm

[2015-12-23 09:59] #3022 closed

[2016-01-05 07:49] pfanguin opened #3024 "Icon swipe css broken"
- icon-caret-left has been removed.
- icon 2x is too large

![image](https://cloud.githubusercontent.com/assets/6862714/12110127/3fc992c2-b389-11e5-8417-d24a64d7732a.png)

[2016-01-05 07:52] pfanguin opened #3025 "Text in IT for iframe button is too large"
![image](https://cloud.githubusercontent.com/assets/6862714/12110163/8ba034ee-b389-11e5-8c5b-719944a9d3df.png)

[2016-01-05 08:49] procrastinatio commented on #3016
Valdating the [ESRI ArcGis API for Javascript](https://developers.arcgis.com/javascript/jsapi/printtask.html), for instance this [demo](http://developers.arcgis.com/javascript/sandbox/sandbox.html?sample=widget_print_webmap) generated PDF gives:

[code]

[2016-01-05 09:41] loicgasser commented on #3023
@ltclm This already the case no? Geocat info is directly imported the BOD. Now, I don't if it works with the new version of GeoCat.

[2016-01-05 09:48] ltclm commented on #3023
@loicgasser That's already the case now, yes, the import scripts are working with the new geocat version.
@davidoesch what exactly do you want to change with this ticket?
Do you want the layer info to be fetched directly from the csw service?

[2016-01-05 10:07] davidoesch commented on #3023
yes "Do you want the layer info to be fetched directly from the csw service?"
-> but before we need the QS to be done on geocat side ( up to now done in BOD)

[2016-01-05 10:09] ltclm commented on #3023
we have to import / cache geocat in the bod, layer search sphinx indices have to be updated too with this information.
but yes the qs has to be done in geocat.

[2016-01-05 10:29] loicgasser commented on #3023
This would be only for the infobox then. I am afraid the service will be a little slower.
Also layer information is used to search for layers.
What is the benefit of such an action? BOD is deployed and updated after each deploy.

[2016-01-05 12:22] gjn commented on #3023
Can we test performance to get this info from GeoCat directly? What's the rest services address?

[2016-01-05 12:50] ltclm commented on #3023
The information can be extracted from the following service url:
p.e.
**ch.are.alpenkonvention**
SERVICE URL:
http://www.geocat.ch/geonetwork/srv/eng/csw?request=GetRecordById&elementSetName=full&outputFormat=application/xml&outputSchema=http://www.geocat.ch/2008/che&service=CSW&version=2.0.2&id=8698bf0b-fceb-4f0f-989b-111e7c4af0a4

the geocat2bod interface is using xpath to do that.

My concerns:

[2016-01-05 15:07] davidoesch opened #3027 "draw: Dropdown-Menu covers close button"
"Dropdown-Menü „Mehr …“ sich hinter dem „Menü schliessen“-Balken versteckt"
![unbenn](https://cloud.githubusercontent.com/assets/4577727/12118361/521b55a4-b3c6-11e5-8cdc-ccde61c75a8a.png)

[2016-01-06 08:44] loicgasser commented on #3023
From my point of view it's too much work for a less performant/stable solution.
With a deploy every week this year metadata will be updated often enough.

If we still decide to go with it, I see 2 acceptable solutions:
1. GeoCat service + front end templating
2. Direct connection to GeoCat DB + templating backend

It would be great to have a common DB for GeoCat and MapGeoAdmin.

[2016-01-06 09:40] davidoesch commented on #3023
-csw uptime is an issue, I agree we don't control the service itis a SAAS contract with c2c
- the issue is, that geocat2bod is not done every week by IGKS (I agree, we try to fix here a process issue with a technological "workaround"

[2016-01-06 13:13] gjn opened #3028 "In Drawing, the 'more..' menu is not fully visible"
![image](https://cloud.githubusercontent.com/assets/2572317/12143305/b557d71e-b47f-11e5-9c9a-33a72100e458.png)

[2016-01-07 07:58] gjn commented on #3023
Clear process issue here as it shouldn't be automated because QS needs to be assured.

When IGKS does the geocat2bod, is everything on prod updated?

[2016-01-07 08:00] gjn commented on #3028
dupliate of #3027

[2016-01-07 08:00] #3028 closed

[2016-01-11 07:05] mariokeusen opened #3031 "[topic selection] use permalink when opening a topic"
UC: open app, open the topic selector, choose another topic
Result: till now, a topic could have 1-more default layers, but no other default settings from permalink parameters like layer opacity etc.
Expected: a topic should be able to use the settings from a pre-defined permalink, when it's opened by the user

As discussed with jeg, clm, oed and kem: We'll need this requirement for the new snowsp

[2016-01-11 09:42] davidoesch opened #3032 "KML works with local import but not on URL"
Why does KML file
https://gist.githubusercontent.com/davidoesch/2d3fa44b076b06449645/raw/9ff3431141f17e37349e38939b34924e03b4a0e8/PatrouilledesGlaciersPOI.kml
not load ?
https://api3.geo.admin.ch/ogcproxy?url=https%3A%2F%2Fgist.githubusercontent…%2Fce340a06201593f1fc68d7c4cf83950cf9caf5c1%2FPatrouilledesGlaciersPOI.kml Failed to load resource: the server responded with a status of 500 (Internal Se

[2016-01-11 10:56] oterral commented on #3032
Error when parsing the encoding in the ogcproxy (line 75)[https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/ogcproxy.py#L75]

The regex should be something like this `encoding=(\"|')(.*?)(\\\"|\"|')`

[2016-01-11 14:50] oterral opened #3033 "$http.success and error are deprecated"
According to the [spec](https://docs.angularjs.org/api/ng/service/$http) we should remove the use `success` and `error` methods and use `then` instead

[2016-01-11 15:19] davidoesch commented on #3032
so a bug in ogcproxy?

[2016-01-11 16:35] oterral commented on #3032
yes

[2016-01-11 16:45] oterral commented on #3015
[code]

[2016-01-12 06:37] gjn opened #3035 "Firefox 43: no map or no app"
Recently, we get more and more usre reports that they can't see a map or even the application using
Firefox 43. We need to investigate this a little deeper.

First goal would be to try to reproduce it. Do we have a native system with FF43 on windows available?

[2016-01-12 07:20] p1d1d1 commented on #3035
Just tested with FF 43.0.4
It does work. Cannot reproduce

[2016-01-12 08:05] #3027 closed

[2016-01-12 08:45] davidoesch opened #3036 "Display coordinates tooltip footer inconsistent : lat/lon"
- [ ] in "Display coordinates" http://help.geo.admin.ch/?id=12&lang=en

- [x] in contextpopup : is lon/lat representation ( I know we had a reason for this...) but we should switch to lat /lon as in footer info. Since it is ISO standard ( http://www.iso.org/iso/iso_catalogue/catalogue_tc/catalogue_detail.htm?csnumber=39242 https://en.wikipedia.org/wiki/ISO_6709 ) to first mention lat

- [x]   add

[2016-01-12 08:49] oterral commented on #3035
yes we have one on win8 pc

[2016-01-12 09:02] oterral commented on #3008
Yesterday i had the exact same bug on our android 4.2.1, today the alert error message appears correctly. Can you retry please @davidoesch ?

[2016-01-13 10:29] davidoesch opened #3039 "add RSS syndication to http://api3.geo.admin.ch/releasenotes/index.html"
Can you add a RSS feed/syndication to http://api3.geo.admin.ch/releasenotes/index.html
-> user gets a push info on changes

[2016-01-13 11:59] loicgasser opened #3040 "Blurry Images on IE edge"
Map is a bit blurry in IE edge.

Here are 2 printscreens picturing this issue. Pixel ratio issue?

On IE:

![ie_edge](https://cloud.githubusercontent.com/assets/3306154/12293680/6a39e512-b9f5-11e5-829e-56d44eaca59c.png)

On Chrome:

![chrome](https://cloud.githubusercontent.com/assets/3306154/12293687/74a847c8-b9f5-11e5-9ccd-e864990be242.png)

[2016-01-13 13:10] rfrancel opened #3041 "Tablets Pro: app load in desktop version (not mobile)"
On Surface Pro size 12.3 " and iPad Pro size 12.9", app loads on desktop, not mobile version.

[2016-01-13 13:14] loicgasser commented on #3039
Good idea: some basic doc on the mecanics
http://pageaffairs.com/notebook/create-your-own-simple-rss-feed

[2016-01-13 13:30] gjn commented on #3039
something for rebecca or maria.

[2016-01-13 15:11] rfrancel commented on #3039
I'd be happy to do it

[2016-01-13 19:01] davidoesch commented on #3008
I have to replace The battery on the device ... Sorry can't test it in the next couple of days. 

But the error was odd

On Tue, Jan 12, 2016 at 10:03 AM, oterral <notifications@github.com>
wrote:

[2016-01-14 06:38] davidoesch commented on #3023
With the next deploy - yes

[2016-01-14 11:40] davidoesch opened #3045 "3d: offline: deactivate 2.5D button"
when offline: deactviate 2.5D button

[2016-01-14 11:53] pfanguin commented on #3024
see  #3042

[2016-01-14 11:55] davidoesch opened #3046 "Offline & geolocation"
When offline geolocation does not always work

reproduce

https://map.geo.admin.ch/index.html?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttps:%2F%2Fgist.githubusercontent.com%2Fponceta%2F68f53f68df2acfb82f87%2Fraw%2Fe02393a787e937ea5f83a1e3bc6e

[2016-01-15 13:10] davidoesch opened #3048 "obstacle: inactive elements are visible"
reproduce

load
https://map.geo.admin.ch/?topic=aviation&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.bazl.luftfahrthindernis&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,,&catalogNodes=1379,1381,1514&X=137223.39&Y=694249.54&zoom=10

[2016-01-15 13:24] ltclm commented on #3048
luftfahrthindernis objects from the database should be filtered
[code]
We have to create a view and update the chsdi model to do that. I will prepare a pr

[2016-01-15 13:47] ltclm commented on #3048
As discussed with @davidoesch

**now:**

layer|WMS|chsdi model|identify|query tool
------|-------|---------|-----|-------
ch.bazl.luftfahrthindernis|active|inactive and active|inactive and active|test

**future:**

layer|WMS|chsdi model|identify|query tool
------|-------|---------|-----|-------
ch.bazl.luftfahrthindernis|active|active|artive|active
ch.bazl.luftfahrthindernis_deaktiviert|inactive|i

[2016-01-16 07:19] davidoesch opened #3049 "Android 6 embedded browser twitter webgl not working"
Android 6.0.1
Open ink twitter https://twitter.com/swiss_geoportal/status/687906750008274944?s=09

Webgl warning appears
![screenshot_20160116-080822](https://cloud.githubusercontent.com/assets/4577727/12371141/c3b0eb8c-bc29-11e5-8884-8ff204a0634b.png)

[2016-01-16 19:26] davidoesch commented on #2948
@pfanguin : status update?

[2016-01-16 19:28] davidoesch commented on #2931
@oterral since #2930 is closed: ready to go

[2016-01-17 19:56] davidoesch opened #3050 "yellow square on map controls (Android)"
![screenshot_20160117-204849 2](https://cloud.githubusercontent.com/assets/4577727/12379520/f94a7108-bd5c-11e5-88f4-e1273b02de3a.png)
On all Android version 4.2.2 till 6.0.1 on chrome
Touch a map control eg geo location
Result a yellow square appears around the selected icon
The square persists until another highlight is active

[2016-01-18 07:31] davidoesch commented on #2773
@mariavkourouni : status here?

[2016-01-18 07:45] mariokeusen commented on #3048
The current behaviour is exactly the customer's intention, because there are predefined queries/usecases where the inactive obstacles are absolutely needed. Therefore we basically decided (that was back in 2012) to integrate active and inactive obstacles into the same layer and the customer accepted the risk, that inactive records are available on tooltips, if you click at the right/wrong place in

[2016-01-18 08:48] davidoesch commented on #1350
@oterral status here? Is there an ETA?

[2016-01-18 08:49] davidoesch commented on #1583
Not yet solved imho

[2016-01-18 08:51] davidoesch commented on #2015
After the SLA meeting feedback: we need to have a global strategy on lv system s

[2016-01-18 08:52] davidoesch commented on #2266
@mariokeusen update

[2016-01-18 08:53] davidoesch commented on #2292
@oterral update? ETA?

[2016-01-18 09:04] davidoesch commented on #2820
Raised the prio since several other reported the issue

[2016-01-18 09:09] davidoesch commented on #3048
Hallo Mario the customer wants to change this behavior (meeting feedback from Friday) since it is dangerous that he click s on a outdated obstacle

[2016-01-18 09:09] davidoesch commented on #3048
Get in touch with richiger

[2016-01-18 10:03] mariavkourouni commented on #3039
I'd be happy to help if it is needed!

[2016-01-18 10:41] dcustode opened #3051 "Geometry label inside of geometry"
It would be helpfull to have a funtionality that allows to place the label of a geometry inside the geometry, so that there want be any collisons with labels of neighbour geometries.

![image](https://cloud.githubusercontent.com/assets/16756994/12389264/f1424a28-bdd7-11e5-8397-592766978333.png)

[2016-01-18 14:54] mariokeusen commented on #3048
As discussed: waiting for the customer coming with a concrete change request, resp. new-integration of data.

[2016-01-18 16:05] davidoesch commented on #3051
Mapserver configuration or / and dataintegration  issue

[2016-01-18 20:14] ltclm commented on #3051
@dcustode which layer is on your screenshot? Could you share a permalink?

[2016-01-19 06:59] cedricmoullet opened #3052 "Error ch.bafu.swissprtr"
HTTP error 404 beim clicken von `Detaillierte Beschreibung` für Ojekt Perlen Papier AG.

Permalink: https://map.geo.admin.ch/?lang=de&topic=bafu&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.bafu.swissprtr&X=218301.00&Y=670603.00&zoom=7

[2016-01-19 07:37] mariokeusen commented on #3052
Data owner has been informed about this error already quite a while ago. Will try once again...

[2016-01-19 07:43] AFoletti commented on #3052
It's basically an error in the data, and we have no control over that.
@cedricmoullet , a possibility will be to implement a pre-test and not display the link if the answer is a 404, but does it make really sense? The datenherr is responsible for that

[2016-01-19 07:46] mariokeusen commented on #3052
Request for new delivery with correct URL's has been sent to data owner

[2016-01-19 08:28] mariavkourouni commented on #2773
@davidoesch the current status is https://github.com/geoadmin/mf-geoadmin3/pull/2917

[2016-01-19 09:22] dcustode commented on #3051
http://gdwhraster/GdwhRasterExport/DatasetDetail?gdsKey=PK100_LV03 on tab Releases. Choose Release 2012. LG

[2016-01-19 10:10] ltclm commented on #3051
so it is a kml label issue
@oterral do you think it is possible to solve this?

[2016-01-19 11:12] davidoesch opened #3053 "3D iframe: 2d warning not shown"
since this is a political issue prio 1

open a non 3 dataset in as iframe like https://map.geo.admin.ch/?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product,ch.bafu.permafrost&layers_opacity=1,0.55&lon=7.59658&lat=46.12999&elevation=4110&heading=195.012&pitch=-15.420

2d warning message missing

![unbenannt](https://cloud.githubusercontent.com/assets/4577

[2016-01-19 11:14] davidoesch commented on #3052
tickets like this rather in redmine: since data related

[2016-01-19 13:12] oterral opened #3054 "Use Autoprefixer"
Since [Bootstrap mixins](http://getbootstrap.com/css/#less-mixins-vendor) are deprecated in bootstrap v4, Bootstrap suggest using [Autoprefixer](https://css-tricks.com/autoprefixer/) instead.

[2016-01-19 13:17] oterral commented on #3054
http://putaindecode.io/fr/articles/css/autoprefixer/mise-en-place/

[2016-01-19 13:24] procrastinatio commented on #2015
You don't need new parameters, as there is no way to mix both systems, LV95 coordinates being bigger than LV03. The only issue is that `X` and `Y` are not used in LV95 anymore, replaced by `E`and `N`, but again you cannot mix between X and Y.

The only issue I see, you add a parameter for projection, per default it is LV03, and alway use `x`and `y`for coordinates, and then we have to decide, if we

[2016-01-19 13:27] oterral commented on #3035
The only thing it could be. It's the link to map.geo.admin.ch is called with http and the redirection to https is not done. I've seen this bug a long time ago.  But yet it works as expected.

[2016-01-19 13:43] oterral commented on #2715
Feature is planned on top of the Cesium todo list for 2016.

[2016-01-19 15:42] oterral commented on #3046
Apple maps isn't better, no geolocation when airplane mode active.

[2016-01-19 16:43] davidoesch commented on #3046
What is awkward : sometimes it is working in airplane mode sometimes not: why?

[2016-01-19 16:49] oterral commented on #3046
Yes I confirm it's working on Android, closer to the window :)

[2016-01-19 16:49] oterral commented on #3046
If the button stays red it's because it's searching GPS satelittes.

[2016-01-20 08:04] oterral commented on #3046
I don't succeed to make it works with our iPads, always "Position unavailable" also with apple maps.

[2016-01-20 09:23] davidoesch opened #3057 "3D: issue with CWM/terrain"
Might be a terrain issue?
CWM doe snot fit

https://map.geo.admin.ch/?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product,ch.bafu.permafrost,ch.kantone.cadastralwebmap-farbe&layers_opacity=1,0.55,1&lon=8.29940&lat=47.03688&elevation=1063&heading=201.373&pitch=-46.109&catalogNodes=457,458&layers_visibility=false,false,true.

[2016-01-20 09:30] loicgasser commented on #3057
Well if it were a terrain issue all layers would not fit, related to MapProxy or Cesium.

[2016-01-20 10:44] gjn commented on #2948
@davidoesch political discussion friday, ok?

[2016-01-20 10:46] gjn commented on #2698
@davidoesch Did you use Adobe Reader Pro to read the PDF's?

[2016-01-20 11:34] davidoesch commented on #2698
No the standard version of our bureau pc and the in chrome version. Both were giving b the same result

[2016-01-20 12:57] mariokeusen commented on #3052
https://redmine.prod.bgdi.ch/issues/4980

[2016-01-20 13:00] mariokeusen opened #3058 "[query tool] two translation corrections in Italian"
Update of translations in Italian at the query tool section (was not proper Italian) on customer request. Was verified with @p1d1d1
Lines 297 and 301 in [1].

[2016-01-20 13:47] oterral commented on #3049
It works on Android 5 .  The WebView should support WEBGL since [android 4.4](https://developer.chrome.com/multidevice/webview/overview) .

Can you verfify in the PlayStore if the WebView component is up to date : https://play.google.com/store/apps/details?id=com.google.android.webview&hl=fr

[2016-01-20 15:14] davidoesch commented on #3049
yes it IS up to date

On Wed, Jan 20, 2016 at 2:47 PM, oterral <notifications@github.com> wrote:

[2016-01-20 15:23] fredj commented on #3049
FYI, it works on my Nexus 5x, android 6.0.1 and Chrome 47.0.2526.83

[2016-01-20 15:29] davidoesch commented on #3049
OK, I rebooted now my device and now it works,- strange sorry but before i could reproduce it always)

[2016-01-20 15:29] #3049 closed

[2016-01-20 16:28] davidoesch commented on #3011
it is now even worse with having tooltips even if there is no geometry. 3D is barely not usable now
IMHO: set tooltip with no tooltip info only if if there is a layer which has tooltips an user clicks on a feature with no tooltips.
@gjn @cedricmoullet : your thoughts?

[2016-01-20 17:05] oterral opened #3063 "Tooltip doesn't work in 3d"
Since https://github.com/geoadmin/mf-geoadmin3/pull/3037 .

The forEachLayerPixel doesn't work when we are in 3d

[2016-01-20 17:10] davidoesch commented on #3041
Works as defined. Force mobile with mobile=true

[2016-01-20 18:13] davidoesch commented on #3058
Removed the link to transition spreadsheet (don't reference the link public)

[2016-01-21 07:05] #3053 closed

[2016-01-21 07:25] gjn commented on #3051
kml? which kml is this?

[2016-01-21 07:40] #3052 closed

[2016-01-21 08:07] oterral commented on #3051
I tought your problem was in map.ge.admin.ch. Maybe it's not the good place to discuss about this.

Right now the only solution I see is to use the [getInteriorPoint function](http://openlayers.org/en/master/apidoc/ol.geom.Polygon.html#getInteriorPoint)

You should create another feature with the point returned by this function and apply the text style on it.

[2016-01-21 08:10] oterral opened #3064 "Use ol.format.EsriJSON"
[EsriJSON](http://openlayers.org/en/master/apidoc/ol.format.EsriJSON.html)

Looking at @dcustode code , I discover the EsriJSON format existed in ol3. Maybe using it could clean some parts of code in mf-geoadmin3.

[2016-01-21 08:23] davidoesch opened #3065 "Tooltip does not appear when mouse hand is active"
All Os All Browsers desktop

open https://s.geo.admin.ch/698ea0f840

position mouse on the left border of the left blue stop icon

mouse pointer turn to "hand"

click: result
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/12475080/83928efc-c020-11e5-843d-1bc1bb3cf45c.PNG)

-> no tooltip is shown (no info available)

Expected result:
If the mouse pointer turns into a hand and user

[2016-01-21 08:26] mariokeusen commented on #3058
In consequence the translation tab should be moved to an exceltable on the chtopo network...

[2016-01-21 08:29] davidoesch opened #3066 "Share Embed is covered by the short url contextual help"
all Desktop browsers

open map.geo.admin.ch
open share
point your mouse down to embed
when crossing with the mouse the short url box-> contextual help appears

result: it does cover the embed function
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/12475176/42c970ce-c021-11e5-83fc-d3daf179ae0d.PNG)

Expected result: it does not cover it

Proposal ; on mouse over in map.geo.admin.ch

[2016-01-21 08:31] oterral commented on #3065
That's exactly why we add a no toolitp information. It's a client side detection, so I see 2 solutions:

- put in the layersconfig a tolerance value (could be the size of the icon)  different for each layers.
- leave as it is

[2016-01-21 08:54] gjn commented on #3065
We added the no info popup exactly for that: https://github.com/geoadmin/mf-geoadmin3/pull/2865

Discussion about the pixel detection and tolerance is here: https://github.com/geoadmin/mf-geoadmin3/issues/2942

[2016-01-21 09:30] davidoesch commented on #3065
#2865 and #2942

-> but the why not add the handsize tolerance a s tootlip tolerance ( i know this is related to the geometry) but this is what users expect. use the geometry has handtrigger  as well

[2016-01-21 09:55] gjn commented on #3065
Can't imagine how this could be done using current per-pixel approach. It's not easy to apply tolerance here, because we don't know the geometry of a feature. we only have the pixels of the feature. So I think the current per-pixel approach to trigger cursor change does not work.

As @oterral said, we have the possiblity to add a tolerance value per layer. This could be adapted for the layers only

[2016-01-21 10:01] loicgasser commented on #3065
All that being said, it really weird that we miss some stations. @pfanguin It seems to me that the stations table has been updated and WMTS and geometries don't match anymore. All the stations that are is this layer should be clickable and it's not tooltip/tolerance issue.

[2016-01-21 10:02] loicgasser commented on #3065
If stations are likely to change all the time we should maybe switch to WMS.

[2016-01-21 11:39] #3045 closed

[2016-01-21 11:39] #3058 closed

[2016-01-21 11:39] #3063 closed

[2016-01-21 11:44] davidoesch commented on #3065
station switch twice a year (Fahrplanwechsel)
@loicgasser can you provide examples where this issue occurs? we need to confront the dataowner with this

[2016-01-21 12:29] oterral commented on #3041
@davidoesch if at least all worked fine it will  not be a problem but there is some bad behaviors (selection in search results, geolocation, bad hover effects)
I think we could optimize the desktop version for touch device too..

[2016-01-21 13:22] davidoesch opened #3069 "3D if in iframe: resize 3 Controls to mobile"
If 3d is started in iframe, 3d controls are to big
-> use the same size as in mobile for tilt and rotate

[2016-01-21 20:49] davidoesch opened #3070 "3d tooltip without geometry"
Android open
https://s.geo.admin.ch/69914b3b00
Click on the middle of the lake
Result : tooltip appears with a link to a route which is not there

[2016-01-22 07:01] davidoesch opened #3071 "haltestellen Stationbaord : time not correct"
Issue
"
- [ ] A) alle Fahrplanangaben um eine Stunde verschoben. Ausserdem wird die
- [ ] B)  Liniennummer teilweise falsch übernommen.
 Zum Vergleich die Daten von sbb.ch, die im konkreten Fall mit dem gedruckten Kursbuch übereinstimmen! Siehe Feld 31.210. "

![unbenannt2](https://cloud.githubusercontent.com/assets/4577727/12504549/c9e3498c-c0de-11e5-993e-1f2d80ac0453.png)

*Time*
Possible issues

[2016-01-22 07:54] davidoesch commented on #3041
as discussed: try to add touch detection @oterral

[2016-01-22 07:55] davidoesch commented on #3015
Another example http://www.skitourenguru.ch/index.php/routeview?ROUTE=Switzerland_Rauflihore_Egg.html&RISKIND=1.39&SERVER=http://www.skitourenguru.ch/calc_data

[2016-01-22 08:24] AFoletti commented on #3071
Confirmed: times are UTC instead of UTC+1
About line numbers, @pfanguin saw very early during integration process that some stops were wrong (see https://s.geo.admin.ch/6993c16a8e as an example) but it's extremely difficult to assess the real scope of the problem

[2016-01-22 08:48] davidoesch commented on #3071
both tasks have been assigend to dataowner since it is cleary a problem of data delivery (bs in bs out)

[2016-01-22 08:48] #3071 closed

[2016-01-22 10:18] davidoesch commented on #3035
await ff updates
seems to be oscp cert issue related , maybe plugins
-> advise helpdesk to use alternate browser

[2016-01-22 10:29] davidoesch commented on #2948
awaiting feedback from germann

[2016-01-22 10:39] davidoesch commented on #2698
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.swissimage&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2F_ylHx2n3SECWZVZDqnp8iQ&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,,&X=186051.89&Y=692273.89&zoom=11

[2016-01-22 10:40] davidoesch commented on #2698
@gjn here: @oterral can you have a look?

[2016-01-25 09:14] davidoesch opened #3072 "Add help link in mobile configuration"
add help in mobile,

to  be discussed where the link should go: on the help.geo.admin.ch or http://de.slideshare.net/swiss_geoportal/mobilegeoadminch-re1/
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/12546773/5c16f49c-c34c-11e5-9296-b8930f16a91f.PNG)

[2016-01-26 10:08] oterral opened #3074 "Edge is not detected as ie browser"
new ua
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.10240"

[2016-01-26 12:11] oterral commented on #2929
@davidoesch do you still want this ?

[2016-01-26 12:21] davidoesch commented on #2929
Yes

[2016-01-26 14:51] #3074 closed

[2016-01-26 15:24] oterral commented on #3051
@dcustode  did you succeed ?

[2016-01-26 15:30] oterral commented on #1350
@davidoesch  as you can see with the link which is in the summary of the issue.  OL3 has removed all the support of the contrast/brightness modification.

[2016-01-26 15:33] oterral commented on #1350
See https://github.com/openlayers/ol3/issues/4130

[2016-01-26 15:34] oterral commented on #1350
So it's probably still possible but we need to do more research.

[2016-01-26 15:36] davidoesch commented on #1350
boaa removing features ;-) nicely done ol. Now I know how our custoemrs feel when we remove features. keep it as enhancement. if there is  a solution by someone ale we adopt it

[2016-01-26 16:31] oterral commented on #3066
I propose to put the tooltip on one line.

[2016-01-26 16:42] oterral commented on #3050
That's the default behavior it's use for accessibility

[2016-01-26 19:16] davidoesch commented on #3050
Ugly as hell

[2016-01-26 19:16] #3050 closed

[2016-01-26 19:18] davidoesch commented on #3066
+1 "Ctrl+c for copy"

[2016-01-27 07:59] oterral commented on #3003
Fixed

[2016-01-27 07:59] #3003 closed

[2016-01-27 08:05] #3031 closed

[2016-01-27 08:12] oterral commented on #2618
NEs possibility : http://openlayers.org/en/master/examples/icon-color.html

[2016-01-27 09:06] davidoesch commented on #3032
Now I have a 403 - must be related to our actions yestetday

[2016-01-27 09:07] davidoesch commented on #3032
403 - related to our actions yesterday

[2016-01-27 09:40] #3025 closed

[2016-01-27 09:40] #3024 closed

[2016-01-27 10:00] #2929 closed

[2016-01-27 10:35] oterral commented on #3069
Fixed with https://github.com/geoadmin/mf-geoadmin3/pull/3059/files

[2016-01-27 10:35] #3069 closed

[2016-01-27 10:44] oterral commented on #3070
The route is there : https://map.geo.admin.ch/?ch.astra.wanderland=7.07&lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.astra.wanderland,ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false,false&layers_timestamp=,18641231,,,&X=201740.00&Y=687560.00&zoom=5

But becaus

[2016-01-27 10:44] #3070 closed

[2016-01-27 10:46] oterral commented on #3051
I close this issue since it's not related to mg-geoadmin

[2016-01-27 10:46] #3051 closed

[2016-01-27 10:47] oterral commented on #3046
@davidoesch can we close this one?, because it seems to work when satellites are reached successfully.

[2016-01-27 10:49] oterral commented on #3040
Can't do anything.

[2016-01-27 10:49] #3040 closed

[2016-01-27 10:54] oterral commented on #3036
@davidoesch  @gjn  do we add the format '46°02.917'N / 7°39.400'E'  in the tooltip ?

[2016-01-27 10:56] oterral commented on #3035
Any more complains about this ?

[2016-01-27 11:04] oterral commented on #3014
@davidoesch  we could simply remove buttons when screen < 350px, what do think?

[2016-01-27 11:05] oterral commented on #3014
or we do nothing, I guess a link to map.geo.admin.ch makes more sense in that case : http://www.sac-cas.ch/umwelt/weitgehend-freier-zugang/wildruhezonen.html

[2016-01-27 11:46] oterral commented on #3066
Fixed

[2016-01-27 11:46] #3066 closed

[2016-01-27 11:48] oterral commented on #3013
Fixed with https://github.com/geoadmin/mf-geoadmin3/pull/3059

[2016-01-27 11:48] #3013 closed

[2016-01-27 12:01] davidoesch commented on #3014
Just remove the icons if smaller than 350px ... Not only for iframe but as well for the normal site

[2016-01-27 12:02] davidoesch commented on #3035
Yes -- but wait for the next ff update

[2016-01-27 12:03] davidoesch commented on #3036
Yes as described abive

[2016-01-27 12:13] oterral commented on #3032
@davidoesch  works again

but the KML mentioned use `insetPixels` for the y coordinate of the hotSpot and ol3 doesn't manage it so nothing appears.

[2016-01-27 12:23] davidoesch commented on #3032
funny -it worked before with insetpixel

[2016-01-27 12:23] #3032 closed

[2016-01-27 12:26] davidoesch commented on #3046
I'm not sure to close this one: with our tests we made during the dev off offline it used to work

[2016-01-27 15:29] oterral commented on #2990
No a mf-geoadmin issue. it seems the codepen has evolved and it's the good way to do that. Put an overlay on the top on the iframe.

[2016-01-27 15:29] #2990 closed

[2016-01-27 16:50] oterral opened #3083 "Feedback: conflict between tooltip and drawing"
Step:

1) Add a layer with tooltip
2) Open feedback
3) Draw a text

---> A tooltip request is triggered

Expected result:

 No tooltip request

[2016-01-27 19:15] davidoesch opened #3084 "icons do not load"
Android 601 nexus
Icons like logo and checkboxes do not load
Delete cache
Restart app everything is OK
Reload by clicking on swiss icon
Result: icons do not load

Is it just me?

[2016-01-27 19:18] davidoesch commented on #3084
![screenshot_20160127-201230](https://cloud.githubusercontent.com/assets/4577727/12625231/2a802384-c533-11e5-971c-3a5e31786652.png)

[2016-01-27 20:40] cedricmoullet commented on #3084
This affects also Safari on Mac. Font awesome is not found

[2016-01-27 20:41] cedricmoullet commented on #3084
@gjn emergency deploy ?

[2016-01-27 22:08] gjn commented on #3084
I'll have a look later.

[2016-01-28 00:11] gjn commented on #3084
Can't reproduce as I don't have the correct environment here.

I assume it's a appcache issue (appcache is such crap...)

@oterral Please have a look first thing in the morning. If you find it, please do an emergency deploy.

[2016-01-28 05:32] cedricmoullet commented on #3084
I have the same issue on iPhone and Firefox.

[2016-01-28 06:19] mariokeusen commented on #3084
Can confirm: have no icons neither in Chrome nor in IE11 this morning. And in addition the layer-selection is not visible/available at all.

[2016-01-28 07:24] ltclm commented on #3084
marcel from our it told me that he has a similar problem with ie11.
since yesterday the icon on the right side of the swisssearch form is not visible anymore.

![image](https://cloud.githubusercontent.com/assets/5286659/12637797/3bfad16c-c598-11e5-93e6-53343da3a4a9.png)

[2016-01-28 07:49] gjn commented on #3084
all: doeva disabling and cleaning if browser cache help?

[2016-01-28 07:50] oterral commented on #3084
Just test on frefox a simple click on th refresh button fix the issue.

[2016-01-28 07:53] oterral commented on #3084
I redeploy the snapshot

[2016-01-28 07:56] oterral commented on #3084
It seems a machine hasn't the good version

[2016-01-28 07:57] gjn commented on #3084
ok.

I could get rid of the problem always with Cltr-F5.

[2016-01-28 08:42] gjn commented on #3084
For everybody: if you detect similar problems in the future, please safe the page source and send it to me by email.

[2016-01-28 10:01] gjn commented on #3084
@davidoesch @cedricmoullet Is this ok now?

[2016-01-28 10:10] oterral opened #3087 "Firefox always detected as touch device"
Problem is , if the size of the browser window is small when we load the page, the `gaBrowserSniffer` detects the browser as  mobile browser and display a select box for the selection of language

[2016-01-28 10:12] oterral commented on #3087
It could be related to #3041

Since it's more and more difficult to detect which devices  is a desktop or a browser, maybe we shoudl think to use a mobile first approach and remove the use of 2 different file for desktop and mobile.

[2016-01-28 10:22] gjn commented on #3087
+1 for single page in principle.

Might be tricky, but we should take into account browser capabilites. might be tricky with hypbrid stuff like touch/mouse support.

And we have the offline stuff....

[2016-01-28 10:28] gjn commented on #3087
http://www.html5rocks.com/en/mobile/touchandmouse/?redirect_from_locale=de

[2016-01-28 10:54] oterral commented on #3087
I'm +1 for appcache every where no more requests on varnish cache :)

[2016-01-28 11:32] gjn commented on #3087
I'm for shooting appcache. Frankly, that is just broken technology.

I'd rather switch to [service workers](http://www.html5rocks.com/en/tutorials/service-worker/introduction/) for the browsers that support it.

[2016-01-28 13:13] procrastinatio opened #3092 "GeoAdmin in S3"
Goal is to run enterly mf-geoadmin3 in AWS S3.

The biggest gain is to have a basic (app + tiles) rock solid application. Further advantages:
- No more varnish flush issue.
- Testing the prod build before deploying
- Activating (or reverting) a new version will be a matter of changing the index.html file
- Deploying only whats really needed (about 36MB) and not everything (about 500MB)

PR https:/

[2016-01-28 13:17] loicgasser commented on #3092
:+1:

[2016-01-28 13:22] gjn commented on #3092
YES.

[2016-01-28 13:26] cedricmoullet commented on #3092
awesome. But please don't put in danger skitouren go live.

2016-01-28 14:22 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-01-28 14:21] rfrancel opened #3093 "Background selection not possible when snowsports topic activated in dev"
When snowsports topic is activated, and we click on background layers selector, only "no background" is proposed:
https://mf-chsdi3.dev.bgdi.ch/shorten/69b3f2f3f1
Other topics propose all the choices.

[2016-01-28 14:23] loicgasser commented on #3093
oups good catch

[2016-01-28 14:24] loicgasser commented on #3093
topic title could be "Sports de neige" instead of "Sport de neige"

[2016-01-28 14:46] gjn commented on #3093
@loicgasser Most certainly introduced by https://github.com/geoadmin/mf-geoadmin3/pull/3068

I think for the background layer list, we can't use the plConfig parameter.

[2016-01-28 14:53] gjn commented on #3093
@rfrancel Well done to find this!

[2016-01-28 14:54] loicgasser commented on #3093
Probably not, should I take it or do you have time?

[2016-01-28 14:54] gjn commented on #3093
I'll have time tomorrow.

[2016-01-28 14:54] loicgasser commented on #3093
okay

[2016-01-28 15:29] oterral commented on #3011
@davidoesch can you try this [branch](https://mf-geoadmin3.dev.bgdi.ch/teo_touch/?topic=swisstopo&lang=fr&bgLayer=voidLayer&lon=8.27176&lat=47.80959&elevation=19532&heading=175.237&pitch=-20.012&layers=ch.swisstopo.swissimage-product)

There is a left click triggered after nearly each pinch action, thios branch try to fix this.

[2016-01-28 23:22] davidoesch commented on #3011
Better but on mobile and desktop : double click user expect s zoom or am I wrong @gjin

[2016-01-29 06:26] gjn commented on #3011
Yes, I would agree.

[2016-01-29 06:36] cedricmoullet commented on #3011
This branch works very well in 2.5D on my iPhone 6. But:
1. The position dialog doesn't work in 2.5D (long touch) ( this never
worked AFAIK)
2. The tooltip doesn't work in 2D.
3. It's needed to click twice on the position dialog in order to close it

2016-01-29 7:26 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.c

[2016-01-29 06:44] gjn commented on #3093
@alcapat The backgrounds information is missing in the bod. This is needed for all topics, as it's a list that is _not_ part of the permalink. So please add this array for the schneesport topic.

[2016-01-29 07:00] cedricmoullet opened #3094 "Issue with snow topic"
![image](https://cloud.githubusercontent.com/assets/319676/12669134/3561f5da-c65e-11e5-82fc-61ba1d771bf2.png)
https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,

Cat

[2016-01-29 07:02] gjn commented on #3094
This is standard behaviour since launch of R3. In Catalog, checkbox shows if layer is added to map or not.

In Layermanager, checkbox shows if layer is visible or not.

[2016-01-29 07:04] #3094 closed

[2016-01-29 07:40] gjn commented on #3094
Anyhow, I think it's a bug that was introduced by this topic handling (new plConfig parameter) that opens the catalog instead of the layermanager.

I will take care of that.

[2016-01-29 07:43] davidoesch opened #3095 "schneesport: layers not avilable on all zoomlevel:"
https://mf-geoadmin3.dev.bgdi.ch/?topic=schneesport&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.pixelkarte-farbe-pk50.noscale,ch.swisstopo.hangneigung-ueber_30,ch.swisstopo-karto.hangneigung,ch.bafu.wrz-jagdbanngebiete_select,ch.bafu.wrz-wildruhezonen_portal,ch.bazl.heliports-gebirgslandeplaetze,ch.swisstopo-karto.schneeschuhrouten,ch.swisstopo-karto.skitouren,ch.swisstopo.skitourenkarte-50.meta

[2016-01-29 07:46] davidoesch opened #3096 "schneesport: topic selector"
open per default as well the selection window as in topic ech
(tech lead , project lead)

[2016-01-29 07:46] gjn commented on #3095
This is data/tile related.

@alcapat @ltclm Is this known? Is this wanted?

[2016-01-29 07:53] oterral commented on #3011
1. Yes it's deactivated in 3d
2. I think you found a bug in prod, I investigate then redeploy if necessary.
3. Strange will fix that.

[2016-01-29 08:15] davidoesch opened #3097 "schneesport: bg selectot does not work"
Bg selector does not work-
should work as in all other topics

[2016-01-29 08:24] davidoesch commented on #3095
no this is not wanted:ALL layer are visible on ALL zoomlevels-- are the tile still calculating?

[2016-01-29 08:27] AFoletti commented on #3095
Tiles were calculated up to level 22 (8 in viewer). Then should clientzoom kick in. Why is that not happening?

[2016-01-29 08:30] ltclm commented on #3095
@alcapat the table tileset is not set correctly.
The layer should switch to clientzoom from zoomlevel 21.
I have changed the bod and deployed to dev.

[2016-01-29 10:17] oterral commented on #3087
I raised it to piro 1 because nothing works correctly on desktop (no tooltips for example)

[2016-01-29 10:35] oterral commented on #3087
ouf it a ff bug when we use dev tools : https://bugzilla.mozilla.org/show_bug.cgi?id=970346

[2016-01-29 10:35] #3087 closed

[2016-01-29 10:38] oterral commented on #1942
DOne in prod

[2016-01-29 10:38] #1942 closed

[2016-01-29 10:39] oterral commented on #2931
All tickets closed

[2016-01-29 10:39] #2931 closed

[2016-01-29 10:41] oterral commented on #2013
@loicgasser what do we do with this ?

[2016-01-29 10:41] davidoesch commented on #3096
Hi there is an issue now on dev:
in the slection window ALL layer should be loaded but onl the six should be active

[2016-01-29 11:23] gjn commented on #3097
duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/3093

[2016-01-29 11:23] #3097 closed

[2016-01-29 11:24] gjn commented on #3084
ping @davidoesch

[2016-01-29 11:40] gjn commented on #3095
@davidoesch This has been fixed. Please retest and close.

[2016-01-29 12:00] cedricmoullet commented on #3084
yes, it's fine

2016-01-29 12:24 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-01-29 12:10] davidoesch commented on #3084
sorry yes fixed

[2016-01-29 12:11] davidoesch commented on #3095
tested and ok

[2016-01-29 12:11] #3095 closed

[2016-01-29 12:12] #3084 closed

[2016-01-29 12:16] davidoesch commented on #2931
no so nice side effect: if the play buuton is active, you cant open share ....

[2016-01-29 12:18] pfanguin commented on #3036
See #3100

[2016-01-29 13:36] gjn commented on #3096
The Heli Layers is now removed as well. Use testlink https://github.com/geoadmin/mf-geoadmin3/pull/3099 for tests that fixes all open issues.

[2016-01-29 13:45] gjn opened #3101 "Tooltip for polygons"
Original feedback:
[code]

There is no identify request issues for some of the polygon layers. We need to rethink our general strategy for the identify requests.

**I would propose** to launch an identify request as soon as a `tooltip` marked layer is available. The issue of the mouse pointer should be treated separately.

[Testlink](https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo

[2016-01-29 13:45] gjn commented on #3101
@davidoesch @oterral Thoughs on my proposal?

[2016-01-29 14:07] oterral commented on #3101
@AFoletti has confirmed what I thought. For the new polygon layers, polygons are  filled with a white color with opacity 0.1. with this hack we have the hand cursor everywhere.

But the old layers were not  updated with this hack.

[2016-01-29 15:20] #2266 closed

[2016-01-29 16:40] davidoesch commented on #3101
Hmm on mobile the testlink above does not work at all for tooltip. +1 for the proposal

[2016-01-29 17:04] cedricmoullet commented on #3101
+1

2016-01-29 17:40 GMT+01:00 David Oesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-01-29 19:04] davidoesch commented on #3101
I made this a 1st prio since it affects one of the most used layers (swissboundaries ) and we have  already 4 mails in the inbox regarding this

[2016-01-29 19:31] davidoesch opened #3102 "switch 3d while in time play mode"
Open on mobile https://s.geo.admin.ch/69ba37e723
Play time
Hit 2.5d button
Result view flickers
Expected result, show current year

[2016-01-29 21:06] ltclm commented on #3101
we will integrate new data in the next two weeks.
The new polygons will have a white color fill with opacity 0.1.

[2016-01-30 03:20] loicgasser commented on #2013
I totally forgot about this ticket.
Searching for an empty string seems kind of weird.
I would say that null and empty string should be translated front-end by "No value". And I should adapt code backend to treat "null" queries.

We could then finally remove the "beta" in the title of this tool.

[2016-01-30 07:45] gjn commented on #3101
@ltclm Can we have it until next Wednesday?
Am 29.01.2016 10:06 nachm. schrieb Clausen Marcel <notifications@github.com>:we will integrate new data in the next two weeks.
The new polygons will have a white color fill with opacity 0.1.

—Reply to this email directly or view it on GitHub.

[2016-01-30 07:52] gjn commented on #3101
I have a little trouble with the fact that we 'hack' the tiles to solve a front-end issue....
Am 29.01.2016 3:07 nachm. schrieb oterral <notifications@github.com>:@AFoletti has confirmed what I thought. For the new polygon layers, polygons are  filled with a white color with opacity 0.1. with this hack we have the hand cursor everywhere.

But the old layers were not  updated with this hack.

—Repl

[2016-01-30 07:53] davidoesch opened #3103 "3d and gelocoation buggy on mobile"
This is a wider issue . general 3d and the geoloc is buggy. Especially if you cycle through geoloc buttons. The screen tries to get turned to north... Sometimes it crashes.
If you use it in an iframe as eg http://wandern.ch/de/wo-bin-ich it crashes 3d and 3d buttons stays active

see
![screenshot_20160130-084421](https://cloud.githubusercontent.com/assets/4577727/12748296/a9d466de-c9a9-11e5-819e-7

[2016-01-30 10:24] ltclm commented on #3101
dont know
have to ask the data owner, official release is 10.02.2016

[2016-01-30 10:24] ltclm commented on #3101
@mariokeusen can we publish this layer one week earlier?

[2016-01-30 10:33] ltclm commented on #3101
i propose to publish your proposal next week. there are a lot of dependencies on this publication date:
[code]

[2016-01-30 17:19] davidoesch opened #3104 "3D geojson : lines not clamped to ground"
open
https://map.geo.admin.ch/?lang=de&topic=ech&bgLayer=voidLayer&layers=ch.bafu.hydrologie-hintergrundkarte,ch.bafu.hydroweb-warnkarte_national&layers_opacity=1,0.5&lon=9.31634&lat=46.71379&elevation=100595&heading=8.203&pitch=-73.767

-> rivers not shown
-> Lakes are above the elevation

might be related to same terrain issue we have with kml

[2016-01-30 21:12] davidoesch commented on #3096
Just me on Android that in 3d the routes are not showing up? Mapproxy
configuration missing?

https://mf-geoadmin3.dev.bgdi.ch/gjn_plconfigFix/mobile.html?topic=schneesport&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.pixelkarte-farbe-pk50.noscale,ch.swisstopo.hangneigung-ueber_30,ch.swisstopo-karto.hangneigung,ch.bafu.wrz-jagdbanngebiete_select,ch.bafu.wrz-wildruhezonen_portal,ch.bazl.heliports-

[2016-01-30 21:22] gjn commented on #3096
Yes. Most probably layers are missing in mapproxy.
Am 30.01.2016 10:12 nachm. schrieb David Oesch <notifications@github.com>:Just me on Android that in 3d the routes are not showing up? Mapproxy
configuration missing?

https://mf-geoadmin3.dev.bgdi.ch/gjn_plconfigFix/mobile.html?topic=schneesport&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.pixelkarte-farbe-pk50.noscale,ch.swisstopo.hangneigung-u

[2016-01-31 14:29] loicgasser commented on #3104
yep new set of tiles coming up next week.

[2016-02-01 06:02] cedricmoullet opened #3105 "Missing tranlation"
https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.swisstopo-karto.hangneigung&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,,&catalogNodes=457,508&layers_opacity=1,1,1,1,0.2

![image](https://cloud.githu

[2016-02-01 08:07] davidoesch commented on #3092
two enthusiastic thumbs up!!  I woudl even go as far and put them later on into the cdn

[2016-02-01 08:58] ltclm commented on #3101
Don't like the invisible fill tile hack at all for this layer. We have to generate millions of (useless) tiles ...
would it be possible to deactivate the client-side pixel value detector for these layers?
"ch.swisstopo.swissboundaries3d-bezirk-flaeche.fill"
"ch.swisstopo.swissboundaries3d-gemeinde-flaeche.fill"
"ch.swisstopo.swissboundaries3d-kanton-flaeche.fill"
"ch.swisstopo.swissboundaries3d-la

[2016-02-01 09:01] ltclm commented on #3101
.. or we change the layer type to wms, they are in wms-bgdi already.

[2016-02-01 10:13] loicgasser commented on #3104
FYI: geojson are 2D not 3D
Vector lines are not supported by Cesium yet. (only polygons and points)
If you want to test it yourself just draw a line and a polygon on the map.

@oterral Do you know when/if line will be supported in a near future?

Also tooltip on GeoJSON doesn't work

[2016-02-01 10:19] oterral commented on #3101
I think this pixel detection stuff leads to too much bugs this time. I understand users expect to have a cursor change  (cursor changed means data received) but we have a lot of use case where it's not consistent (Icons problem with tolerance, transparent polygons). May be the solution is to remove it completely and made a request each time a tooltip layer is available (as @gjn says and as before)

[2016-02-01 11:53] gjn commented on #3101
Please don't adapt tiles for this. We discuss this and come up with other solutions. Cheating on pixels has no future.
Am 01.02.2016 9:58 vorm. schrieb Clausen Marcel <notifications@github.com>:Don't like the invisible fill tile hack at all for this layer. We have to generate millions of (useless) tiles ...
would it be possible to deactivate the client-side pixel value detector for these layers?
"

[2016-02-01 13:19] davidoesch commented on #3101
Wms is no option for this layer: it is one of the top most used layers. IMHO we will need to provide for each layer as well a tooltip geometry layer .... Would solve this issue and the public stop issue where we have multiple stopicons side by side...

[2016-02-01 14:12] oterral commented on #3104
Yes same issue. Don't know when it will be fixed.

[2016-02-02 06:31] gjn commented on #3101
I'll prepare a fix with my proposal (issue request for every tooltip layer independant of pixel detection) for tomorrow.

[2016-02-02 06:34] ltclm commented on #3105
translation has not yet been deployed to prod. will be done tomorrow.

https://mf-geoadmin3.dev.bgdi.ch/?topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.swisstopo-karto.hangneigung&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,

[2016-02-02 08:12] #3102 closed

[2016-02-02 08:43] oterral commented on #3103
Sorry no acces to your links

[2016-02-02 09:02] oterral opened #3110 "Mac sensibility pad and magic mouse"
Form help desk:

[code]

[2016-02-02 09:43] loicgasser commented on #1666
Still a wanted feature? Should be found as the same section as the layers with a different look to know we are dealing with topic?
When selecting a topic we could trigger a topic change. @davidoesch Topics should come before or after maps in the ranking? Also, shouldn't we add related keywords for the topics, it would make more sense to do it once and for all. Do you see somebody that could take c

[2016-02-02 11:35] davidoesch commented on #1666
still a wanted feature
"Topics should come before or after maps in the ranking?"

-> yes

"add related keywords for the topics, it would make more sense to do it once and for all"

-> here I propose to deal with keywords for topic directly in the BOD (since there is now topic enty in geocat...)

 Do you see somebody that could take care of that at IKP?

-> assign that to me/ @mariokeusen

[2016-02-02 11:39] davidoesch commented on #3103
update screenshots

[2016-02-02 15:52] loicgasser commented on #1666
So Topic first

and I open an issue for topic keywords.

[2016-02-03 06:12] cedricmoullet opened #3115 "3D search - marker is not visible after moving"
Chrome  48.0.2564.82 on windows 10
Start https://mf-chsdi3.int.bgdi.ch/shorten/69d11c5039
Search for "La Berra"
Select "La Berra (FR) - La Roche"
Marke is not visible in view
![image](https://cloud.githubusercontent.com/assets/319676/12774464/6e47ee32-ca45-11e5-905d-f8548f5c3f31.png)

[2016-02-03 06:17] #3096 closed

[2016-02-03 06:17] #3093 closed

[2016-02-03 07:36] oterral commented on #3115
Something strange the marker is displayed but not where the map is zooming.

[2016-02-03 07:36] cedricmoullet commented on #3115
yes, exactly

[2016-02-03 07:37] cedricmoullet commented on #3115
related to the new terrain ?

[2016-02-03 07:38] oterral commented on #3115
Yes probably it seems all zooming after a search is not centered on the marker.

[2016-02-03 07:43] oterral opened #3116 "Wohnung register: Inconsistency between WMS amd WMTS"
- Open https://mf-geoadmin3.int.bgdi.ch/?topic=schneesport&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bfs.gebaeude_wohnungs_register&X=180951.41&Y=575882.84&zoom=12
---> No orange points

 -  Zoom out ----> orange points appears

@ltclm @gjn @AFoletti   wms deploy issue ?

[2016-02-03 08:41] loicgasser commented on #3115
What about new Cesium?

[2016-02-03 08:52] loicgasser commented on #3115
I think it's related to the Cesium update:
[See new terrain without Cesium update](https://mf-geoadmin3.dev.bgdi.ch/gal_new_terrain/)

[2016-02-03 08:55] ltclm commented on #3116
Obviously this is a data import issue. @beat-github will ask the data owner why we don't get this data anymore and if our sql query needs to be adapted.

[2016-02-03 09:49] oterral commented on #3115
Same errors

[2016-02-03 09:53] oterral commented on #3115
When zooming we use the height service to get the altitude instead of using terrain. I guess the problem  comes from there.

[2016-02-03 10:17] loicgasser commented on #3115
my browser is a mutant cause I see the point everytime not exactly centered but pretty close.

[2016-02-03 10:47] gjn commented on #3115
`my browser is a mutant`

Truer words have never been spoken. It's true for any browser.

[2016-02-03 11:58] davidoesch commented on #2467
@oterral  since you are working on this, solve for now only the open prio1
 Size of text ibcluding a carriage return (prio1)
 Color of text (prio1)
 Color of text background (prio1)
 Symbol & description text shown at the same (checkbox)(prio1)
show begin (Start) and end (Ziel ) of ameasurement with a ballon (prio1)

then we look at the next points

[2016-02-04 06:54] davidoesch opened #3118 "zeitreise_ blinking tiles when no map and play"
If you start from scratch at the beginning , the previous bg layer or no scale layer blinck always where you have no map and you are in play mode

https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false&layers_timestamp=

[2016-02-04 07:33] oterral commented on #2698
All features ar printed :)

[2016-02-04 08:22] oterral commented on #2467
@davidoesch What do youe mean by "Color of text", we already have it no?

[2016-02-04 09:57] #3101 closed

[2016-02-04 10:02] gjn opened #3120 "No-Info tooltip only for desktop and hand-cursor"
The no-info tooltip should only be shown under the following conditions:

a) desktop only
b) identify requests finished with no results
c) cursor was hand-cursore in the moment the identify request(s) were triggered.

In all other instances, we silently ignore zero results event.

[2016-02-04 10:14] #3012 closed

[2016-02-04 12:37] davidoesch commented on #2698
Not by the user using this URL : I'll ask thenm again to reproduce . did you fix /change sth?

[2016-02-04 13:11] oterral commented on #2698
No all worked fine since we had closed the issue the first time.

[2016-02-04 13:28] davidoesch commented on #2467
we already have it, already set to ok

[2016-02-04 13:46] davidoesch opened #3121 "Set iframe width by default to width="100%""
Set iframe width by default to width="100%" fo all sizes, since most use case are covered like this

thoughts on that?

[2016-02-04 13:56] gjn commented on #3121
Not sure. Depending on how it's integrated in the page, it might have an impact.

@oterral ?

[2016-02-04 14:00] davidoesch commented on #3121
me not sure as well --- so far most sides I've seen so far would be better off with 1oo% ... just athought

[2016-02-04 14:00] oterral commented on #2467
Something like [that](https://mf-geoadmin3.dev.bgdi.ch/teo_draw/src/?lang=fr&topic=aviation&bgLayer=ch.swisstopo.pixelkarte-grau&X=214000.00&Y=705500.00&dev3d=true&zoom=1&debug&catalogNodes=1379,1514&layers=&adminId=yHhcRXfLTQC5w_xytJgxrQ) or eeally only a checkbox under description

[2016-02-04 14:02] davidoesch commented on #2467
yes like this, text below (south) ( label/description) tag

[2016-02-04 15:41] oterral commented on #3121
The size of the iframe is the responsability of the container. I don't think we should do that.

[2016-02-04 15:59] davidoesch commented on #3121
OK agree --- was just a thought

[2016-02-04 15:59] #3121 closed

[2016-02-05 08:04] oterral commented on #2467
Do you mean the stroke of the text or a rectangular background behind the text.  The 2nd option is tricky because there is not KML support for this and so, no print support.

[2016-02-05 12:24] davidoesch commented on #2948
update per mail to @gjn

[2016-02-05 12:36] davidoesch opened #3122 "on topic change : reset layer selection"
on topic change : reset layer selection - do not copy existing active layers.

as discussed.

[2016-02-05 12:54] oterral commented on #2950
Done except for `Layer tools toggle` which is not possible easily

[2016-02-05 12:54] #2950 closed

[2016-02-05 14:01] loicgasser commented on #3122
+1 it's too messy with preselected layers now.

[2016-02-05 15:44] davidoesch commented on #2467
it is the latter (rectangular background behind the text) ---comination with a rectangle? even add to features? or make a huge border aroudn teh text?

[2016-02-05 15:56] oterral commented on #3015
For skitourenguru website, the problem is that the page include  a KML (http://www.skitourenguru.ch/calc_data/kml/Switzerland_RiskRoute082.kml) with LineString(s) defined by one coordinate and Cesium doesn't allow that. If it's a LineString  there must be at least 2 coordinates.

[2016-02-05 16:26] oterral opened #3123 "Misconfiguration for background layer in 3d"
Probably a problem in the bod.

https://mf-geoadmin3.dev.bgdi.ch/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&debug&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=8.57383&lat=46.91513&elevation=2813&heading=0.350&pit

[2016-02-05 16:37] ltclm commented on #3123
the background layers are not yet finished, i just started them today.

[2016-02-05 19:20] ltclm opened #3124 "3d max zoomlevel generated but never used"
The most detailed zoomlevel of swissimage product layer which has been generated is zoomlevel 18 (native 4326 pyramid).
This zoomlevel is never used in the application.
the same for these layers:
ch.swisstopo.swisstlm3d-karte-farbe.3d
ch.swisstopo.swisstlm3d-karte-grau.3d

[2016-02-07 21:53] #3011 closed

[2016-02-08 05:21] ltclm commented on #3116
the points are now visible.

[2016-02-08 05:21] #3116 closed

[2016-02-08 06:10] davidoesch commented on #3011
Position button is deactivated as designed. Sensitivity is now OK

[2016-02-08 10:29] davidoesch commented on #2467
@oterral Color of text (prio1) was actually color of icon

[2016-02-08 12:06] oterral commented on #3124
Since the config 3d of a layer doesn't inherit the `resolutions` array of the config 2d. The 3d layer takes default value for the max lod (17).
So we have 2 choice:

-  Add inheritance between config 2d and 3d

or

- Add the resolutions array in the 3d config of layer

[2016-02-08 12:39] #3120 closed

[2016-02-08 14:01] loicgasser commented on #3124
Well it's different tiles and resolutions, I don't know how we would inherit that.

:+1:
Yes and use a default one for the most common array of resoultions like in 2D.

[2016-02-08 16:26] oterral commented on #3124
I told about inheritance because we need to know the minResolutions of the 2d layer to determine the max lod we must use in 3d. I guess we can calculate the max lod  when we get the config3d and so avoid the inheritance of the property which doesn't makes sense.

[2016-02-08 16:48] oterral commented on #3105
Deployed on prod

[2016-02-08 16:48] #3105 closed

[2016-02-08 19:29] loicgasser commented on #3124
yes that's true for mapProxy whereas for native tiles in wgs84, the limitation is physical.

[2016-02-08 19:54] ltclm commented on #3124
the max lod of native wgs84 tiles is in the bod table tileset (attribute tilematrixsetid in the view re3.view_layers_js).
Our native wgs84 tiles are all generated until zoomlevel 18 (+/- 10cm Resolution)
https://github.com/geoadmin/bgdi-tilegenerator/blob/master/etc/tilecache.swisstopo.4326.cfg#L24

Shouldn't we add this information to the layersconfig service?

[2016-02-09 08:13] gjn commented on #3124
For native tiles, we should have it in the bod, as for any other pre-generated tiles.

[2016-02-09 08:43] loicgasser commented on #3124
It's settled then, I'll add it to the layersConfig when it's different from the default resolutions.

[2016-02-09 08:44] oterral commented on #3124
It makes sense  to have it in the layers config.

But we also can calculate the max lod from 2d resolutions array, we actually do that for `minRes` and `maxRes`.

[2016-02-09 08:53] loicgasser commented on #3124
That would be nice for all mapProxy layers, e.g. most of them. @oterral You want to take care of this part?

[2016-02-09 10:20] oterral opened #3128 "Can't scroll mobile menu"

[2016-02-09 11:49] mariokeusen commented on #3122
+1 had another customer complaining about this topic-change behaviour

[2016-02-09 12:23] loicgasser opened #3129 "Statify layer.json for raster and remove it for vector layers"
Layer.json will be removed for the following layers.

[code]

I will be kept and statified in geomadmin for the background layers in WGS84.

[code]

[2016-02-09 12:26] gjn opened #3130 "Statify layer.json for layers"
Statify the 3d layer.json definitions for the following layers:

`ch.swisstopo.swissimage-product_3d`
`ch.swisstopo.swisstlm3d-karte-farbe_3d`
`ch.swisstopo.swisstlm3d-karte-grau_3d`

Remove the layer.json usage for the other 3 layers from here:
https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/MapService.js#L944

[2016-02-09 12:55] loicgasser commented on #3130
I was 2 minutes faster. same prio and assignee
Duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/3129

[2016-02-09 12:55] #3130 closed

[2016-02-09 13:01] gjn commented on #3130
:)

[2016-02-10 07:36] #3128 closed

[2016-02-10 12:42] loicgasser opened #3132 "Draw mobile ngeo"
I came accross this test link on ngeo for the mobile draw.

I personnally think it's aweswome and think we could use ngeo code for that.

https://adube.github.io/ngeo/mobile-measure/examples/contribs/gmf/mobilemeasurelength.html

@davidoesch @cedricmoullet @gjn @oterral

[2016-02-10 12:44] cedricmoullet commented on #3132
If the overhead is not too high, I completely agree.

2016-02-10 13:42 GMT+01:00 Gasser Loïc <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-02-10 13:46] loicgasser commented on #2366
Fixed via https://github.com/geoadmin/mf-chsdi3/issues/1885

[2016-02-10 13:46] #2366 closed

[2016-02-10 16:03] davidoesch commented on #3132
Come on guys : drawing/measuring  with moving the map instead of the pencil /point is sth gis experts can work but not the standard user. And it is completely different to desktop behavior. I agree that we should improve drawing/measuring on touch devices (not only "mobile"). Here the solution from Basel stadt is more b convincing

[2016-02-10 18:48] loicgasser commented on #3132
This has been designed mor touch devices only. It s a solution that is out there at least.

[2016-02-10 18:54] loicgasser commented on #3132
Do you prefer this kind of solutions?
http://m.scribblemaps.com/
google maps does for touch devices?
do you have an exemple I d be intrested.

[2016-02-10 19:00] loicgasser commented on #3132
The baselstadt:
http://www.stadtplan.bs.ch/geoviewer/

you just can t move the map. how are you supposed to even draw a line?
If I put it to the test the tool that let s me draw a line along a road is with moving map.

[2016-02-10 21:46] davidoesch commented on #3132
+1 for scribble maps (It is intuitive and close to desktop behavior). Google : open mymaps.google.com on mobile device.

For moving a map while drawing a line : touch and hold (as you do on desktop)

[2016-02-11 07:44] oterral commented on #3132
Scribble maps: you can't move the map when you draw, it's unusable on mobile. This site is done for annotation not measure or drawing a long path or a polygon.

stadtplan.bs.ch: I don't see the difference with what we have. When  drawing it's the same behavior.

[2016-02-11 08:23] oterral opened #3134 "Add error message when files service return 404"
If a user has an `adminId` but the file doesn't exist anymore, the `files`service returns 404. It will be great if the app warn the user his file has been deleted

[2016-02-11 10:59] loicgasser commented on #3134
+1 but this also means we have to keep a reference of the deleted files in dynamodb
also 410 would more approriate

probably better to open this issue in CHSDI

[2016-02-11 11:00] loicgasser commented on #3134
410 Gone
Indicates that the resource requested is no longer available and will not be available again. This should be used when a resource has been intentionally removed and the resource should be purged. Upon receiving a 410 status code, the client should not request the resource again in the future. Clients such as search engines should remove the resource from their indices.[46] Most use cases

[2016-02-11 12:41] davidoesch commented on #3132
open https://www.google.com/mymaps  on mobile it is as we do, but only the the map is moved if you reach the border of the map window while tap and hold...

[2016-02-15 06:27] oterral opened #3141 "mobile.html redirect to mobile.htmlmobile.html recursively."
This happens when there is no or bad  internet access (only mobile version)

[2016-02-15 06:45] oterral commented on #3123
Fixed on prod thx @ltclm

[2016-02-15 06:45] #3123 closed

[2016-02-15 07:41] davidoesch commented on #2838
see #3122  as well

[2016-02-16 07:50] oterral commented on #2698
@davidoesch news about this?

[2016-02-16 07:51] oterral commented on #3015
@davidoesch can you warn the skitouren guru website ?

[2016-02-16 08:50] davidoesch commented on #3015
done

[2016-02-16 08:55] #3129 closed

[2016-02-16 08:55] #3115 closed

[2016-02-16 09:32] davidoesch commented on #3015
feedback from skitouren guru
"
Leider scheinen meine Multi-Geometrien nicht mit 3D zu harmonieren. Ich kann Ihnen versichern, dass jeder Line-String bei mir mindestens 2 Koordinaten aufweist (auch im von Ihnen genannten Beispiel).
Ich habe verschiedenes probiert:
•	ClampToGround
•	Extrude=0/1
"

[2016-02-16 09:52] gjn commented on #3122
Also remove wms/kml layers?

[2016-02-16 10:26] davidoesch commented on #3122
IMHO yes. This is restart of the  site. clean slate. user can always go back with the browser history

[2016-02-16 10:43] davidoesch opened #3143 "propagate the settings state in the permalink"
propagate the settings state in the permalink

If settings are open:
![Alt text](https://monosnap.com/file/h8fEzGQnVgYNBQTOPMlR3EHNW6RoyR.png)

then keep this state in the PL

@gjin @cedricmoullet : your thoughts?

[2016-02-16 10:51] gjn commented on #3143
You mean the state (open/close) of the layer manager?

[2016-02-16 10:53] gjn commented on #3143
And if we do it, why not state for whole menu?

[2016-02-16 10:54] gjn commented on #3143
We also currently have some logic that when a layer is added, the layermanager is open. Does this not work in some cases?

[2016-02-16 10:56] vasile commented on #3143
Yap, the state of each layer (collapsed, expanded). It's easier to tell the story, now I have to send visual information to my followers :) https://twitter.com/vasile23/status/699539183015215104

[2016-02-16 11:28] gjn commented on #3143
Not a big fan of this. When we have something in the PL, we have to support it from here on out. (see for instance the openNode pl entry). It will make the PL longer (it's already too long for most of us) and I fear it will trigger still more state-saving features through PL.

Even though I can understand @valile's use case.

[2016-02-16 11:30] gjn commented on #3122
No, go back with browser history does not work. We have stateless SAP page - no browser history of state.

Do we keep a drawing?

[2016-02-16 11:31] gjn commented on #3143
@vasile your use case might be better served with something like this: https://map.geo.admin.ch/?id=62&topic=ech&lang=en&bgLayer=ch.swisstopo.swissimage&layers=WMS%7C%7COrthofoto%20ZH%20Sommer%202014%2F15%20RGB%7C%7Chttp:%2F%2Fwms.zh.ch%2FOrthoZHWMS%3FSERVICE%3DWMS%7C%7Corthophotos&X=248570.00&Y=681836.00&zoom=10&swipe_ratio=0.43

[2016-02-16 11:38] #3143 closed

[2016-02-16 11:41] davidoesch commented on #3122
Browser back: topic change works. Drawing deletion as well : clean slate.

[2016-02-16 11:47] gjn commented on #3122
`Browser back: topic change works.` ? which browser?

[2016-02-16 11:54] oterral commented on #3015
The KMl has been corrected I guess

[2016-02-16 11:55] gjn commented on #3122
ah, i think you mean the topic reset by clicking on the bund logo, right? yes, this trigger a new page load.

But the topic switch via the topic menu does not trigger a page load and therefore there's no 'go back' from browser history to previous topic.

[2016-02-16 11:59] oterral commented on #3015
So now the 2 iframes have the same problem, any chance these websites use https?

[2016-02-16 12:31] vasile commented on #3143
Yay, that's much more visually appealing @gjn, thanks!
I can live with that for now :)

[2016-02-16 15:13] gjn commented on #3122
[Testlink](https://mf-geoadmin3.dev.bgdi.ch/gjn_topicchange/)

See #3145 for PR.

[2016-02-16 15:45] davidoesch commented on #3122
@mariokeusen can you test as well? On mobile it works as discussed.

[2016-02-16 16:18] loicgasser commented on #3124
Mmmm, Cesium is contrained by this layer.json file, changing the LOD won't change anything. I found out the hard way. We need to use `layer.json` specific files for these 3 layers if we want to be able to load the last level.
https://github.com/geoadmin/mf-geoadmin3/compare/gal_max_lod?expand=1#diff-66ac86f99915855fde57c0a20d8f6d6bL1123
Current diff

[2016-02-16 16:26] loicgasser commented on #3124
@oterral Shall we adapt the Cesium fork so that this parameter is taken into account or shall we adapt the layer.json config for these layers.

[2016-02-16 16:30] gjn commented on #3124
I think cesium behaviour (in our c2c patch) makes sense: if you specify a layer.json, then it should be used.

Did you try to not use metadataUrl for this layer and specify maxLod by hand? Does it work?

[2016-02-16 18:32] loicgasser commented on #3124
yes it works you actually can load the last level if you use the PR I made in chsdi and the branch I am referring to in this issue and you simply remove the metadataUrl. but then you have the issue of the 204 errors. Another solution would be to use the terrain metadata per default and use a custom metadataUrl if defined in the layers configuration.

[2016-02-17 06:06] mariokeusen commented on #3122
Works fine for me (tested on chrome). On this occasion I would also update the top-layers in the default-ech-catalog according to the stats from 2015:
![toplayers15](https://cloud.githubusercontent.com/assets/4577749/13101183/923e394a-d544-11e5-9207-caa426c9c422.PNG)

Not sure if it's really helpful to take the tlm-map, because it's "half" a bg-layer. I'd go with the following top 3 "data" layers:

[2016-02-17 06:51] davidoesch commented on #3122
Carefull with stats. One step after the other- first we see how we solved the related tickets. Then we go ahead with a global solution for all topics

[2016-02-17 07:22] mariokeusen commented on #3122
Ok, I'd drop those proposal layers anyway. But I know: usability....

[2016-02-17 07:40] oterral commented on #3124
If I remember  we choose to block the layers to lod 17 by default to avoid too much requests. SInce we already removed the use of layer.json for overlays, we should verify the impact on the infra if we allow all layers to level 18.

I think only the terrain should have a layer.json defined then the overlays should be displayed only where terrain is available. Then definition of  a maxLod for overl

[2016-02-17 08:10] gjn opened #3146 "Post message of kml id/name on click"
Currently, in iframe mode, we post a message containing the id of the clicked element to the parent page.

This functionality should be extended. When a kml is integrated in the page and the user clicks on an placement of the kml, the name/id of the clicked element should be send.

@oterral Possible? Effort?

[2016-02-17 09:04] oterral commented on #3146
I guess we can retrieve the all feature without too much effort

[2016-02-17 09:31] procrastinatio commented on #3134
Hm, we use 2 interfaces to get a file from it's `adminId`:
- First the `file`service returns the `fileId`correcsponding to the `adminId`
- Then try to get the file itself directly in the S3 bucket. S3 response is only `200` or `404`.

If we want to keep track of disappearing files (i.e. `410`), we have to use the `file`service for both actions (and update the service).

So worth it ? For the recor

[2016-02-17 09:35] davidoesch opened #3147 "add gelocoation=true in permalink help"
http://help.geo.admin.ch/?id=54&lang=de add add gelocoation=true in permalink help

[2016-02-17 09:54] procrastinatio commented on #3015
Dummy example:

[http parent page](http://dummy-geoadmin.s3-website-eu-west-1.amazonaws.com/rts.html)
[httpS parent page](https://dfa30utos8zzp.cloudfront.net/rts.html)

[2016-02-17 10:46] oterral commented on #3134
404 is enough for me .

[2016-02-17 15:20] procrastinatio commented on #3134
OK, so this is correct:
`$ curl -I http://api3.geo.admin.ch/files/666`
`HTTP/1.1 404 Not Found`

But this should be `404` right ?:
`$ curl -I http://public.geo.admin.ch/files/666`
`HTTP/1.1 403 Forbidden`

[2016-02-17 16:22] oterral commented on #1350
Maybe we can do something with http://openlayers.org/en/master/examples/color-manipulation.html

[2016-02-17 16:45] davidoesch commented on #1350
A test link with lightness only?

[2016-02-17 18:01] davidoesch opened #3150 "swipe slider icon distorted"
The swipe icon in slider looks crap now like a square instead of 2 arrows

[2016-02-17 18:03] davidoesch opened #3151 "kml /json link event to name/id"
kml /json link event to name/id  on tooltip activation

@gjin as discussed today

[2016-02-17 18:04] davidoesch opened #3152 "kml/json option to not show tooltip on click only highlight"
#gjin: to be carefully thought about

[2016-02-17 18:04] #3151 closed

[2016-02-17 18:31] cedricmoullet commented on #3152
I can see the following approaches:
- New permalink parameter: layers_click_behaviour 0: standard, 1: event only, 2: tooltip+event only 3: highlight+event only, 4: tooltip and highlight+event, per layer
- New permalink parameter: layers_no_tooltip: 0 or 1 per layer
- New permalink parameter: no_tooltip: true of false

[2016-02-17 20:04] gjn commented on #3152
KISS for me. Option 3. (always number lists)

Also, a) non-official, b) not documented, c) must be added by hand and maybe d) can be revoked/changed any time.

[2016-02-18 05:55] davidoesch commented on #3152
Number 3: but document it not in the official help - at least I a way we won't forget that this feature exits when we do the next migration.

[2016-02-18 06:17] mariokeusen opened #3153 "[topic change] wildruhezonen-layer is missing in wildruhezonen topic when coming from ech"
UC: open app with standard ech catalog, look at the layer selection, change topic to wildruhezonen
Result: in ech the layer Wildruhezonen is present in the layer selector (but not loaded), after the change of the topic this layer has disappeared and is NOT loaded to the map (as necessary on the start of the topic=wildruhezonen)
Expected: When switching to the Wildruhezonen-topic, both layers Wildr

[2016-02-18 06:18] mariokeusen commented on #3153
In case of Wildruhezonen this is a pretty severe one, therefore prio 1

[2016-02-18 06:20] mariokeusen commented on #3153
and this is probably related to https://github.com/geoadmin/mf-geoadmin3/issues/3122

[2016-02-18 07:32] loicgasser commented on #3146
http://api3.geo.admin.ch/examples/geoadmin_iframe.html

Example the geojson layers.  Code is in MapService it's something like 5 lines.

[2016-02-18 07:38] loicgasser commented on #3134
This bucket is not protected with the refferer? Otherwise I would say yes this should be 404. I have the same experience lately with the vector bucket. I opened an issue in Jira for Andrea. I could also mention the public bucket.

[2016-02-18 08:02] loicgasser commented on #3153
[code]

You can see that these layers should be indeed both selected per default from the service.

[2016-02-18 08:02] procrastinatio commented on #3134
@loicgasser It's public, there no check. But this is an S3 peculiarity: if your profile has no `GetObjectList` credential, you get an `403`instead of an `404`trying to access an unexisting ressource. It's just a matter of adding this credential.

[2016-02-18 09:37] gjn commented on #3153
Agree, prio 1. I'm having a look.

[2016-02-18 09:49] gjn commented on #3153
on-garanteed handling of the same event. on topic change, we now do alot of things, among others A) remove all layers, as part of #3122 and B) add default topic layers.

It's just that the order of execution of A) and B) is not garantueed.

Fix is coming and will be deployed as part of sonnendach release this afternoon.

[2016-02-18 11:45] mariokeusen commented on #3153
Ok, thanks for the quick fix!

[2016-02-18 12:49] gjn commented on #3153
It's on prod.

[2016-02-18 12:49] #3153 closed

[2016-02-18 12:57] cedricmoullet opened #3155 "[topic selector] order of topic types"
![image](https://cloud.githubusercontent.com/assets/319676/13143940/822a5f6c-d647-11e5-8077-61060af86bde.png)

we will solve this as well midterm by: #3157

[2016-02-18 12:57] cedricmoullet commented on #3155
@mariokeusen ?

[2016-02-18 13:26] mariokeusen commented on #3155
@AFoletti ?

[2016-02-18 21:04] davidoesch commented on #2698
Still an issue : As described in the mail

[2016-02-19 06:33] #3046 closed

[2016-02-19 07:29] #2773 closed

[2016-02-19 07:32] oterral commented on #2698
Which mail @davidoesch ?

[2016-02-19 07:43] davidoesch opened #3157 "Topic and single Topic"
Situation
- topic: current topic selector is growing - on desktop a scrolling is now needed
- Single topics as shown in www.geo.admin.ch on footer based https://docs.google.com/spreadsheets/d/11zjWdLgaCZWiFhB8kP2AWhOb9vKBqLuXeXDPTSd4rDk/edit?pli=1#gid=0  should be intgerated as well

Task:
-merge single topics  and topics to have them in map.geo.admin.ch and www.geo.admin.ch

Action: (tbd)

map.ge

[2016-02-19 07:51] gjn commented on #3157
+1.

[2016-02-19 08:04] cedricmoullet commented on #3157
I like the idea to synch both.
But I don't get how the single topics will be integrated in map.geo.admin.ch
(from design perspective). Do you have a mockup for desktop and mobile ?

2016-02-19 8:51 GMT+01:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-02-19 10:05] davidoesch commented on #3157
they are just images with a permalink as they do currently exits at the bottom of www.geo.admin.ch.

[2016-02-19 10:07] cedricmoullet commented on #3157
yes, ok. But how do you integrate this in the UI of map.geo.admin.ch ?

2016-02-19 11:05 GMT+01:00 David Oesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-02-19 10:40] davidoesch commented on #3157
Horizontal slider. As in www.geo.admin.ch

[2016-02-19 10:41] cedricmoullet commented on #3157
On mobile ?
Do you really want to use such a big space of the screen ?

2016-02-19 11:40 GMT+01:00 David Oesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2016-02-19 10:55] gjn commented on #3157
It's topic selection - rarely or never used.

[2016-02-20 12:06] davidoesch opened #3158 "add what3words in tooltip"
Using http://developer.what3words.com we could add this coordinate info in the position tooltip.
If no what 3 words I'd available show a dash.
Coverage of what 3 words is not yet clear
Swiss search should accept w3w as well....
Any thoughts on that?

[2016-02-22 06:07] AFoletti commented on #3122
It's minor, but when you change the topic there are some "leftovers" of the old one in the URL. Namely layers_visibility and layers_timestamp when switching away from eCH

[2016-02-22 07:11] mariokeusen opened #3159 "[PDF print] layout issue with measure values"
UC: open app, activate measure and draw some lines with azimuth values >100, print the section with the labeled azimuth & distance values in a PDF
Result: not all text is inside the red text boxes (see example in screenshot where the first number of the azimuth is outside and hardly readable
Expected: complete label is inside the red text box.
![azimut_label_issue_pdf](https://cloud.githubusercont

[2016-02-22 09:24] vicchi commented on #3158
Hi @davidoesch - in my day job I'm CTO for what3words; can you clarify what you mean by "coverage is not clear"? We have global coverage for 3 word addresses, so if you're reverse geocoding a long/lat to a 3 word address you should never have an "unavailable" 3 word address (you'll only get an invalid return if you're forwards geocoding a non-existent 3 word address).

[2016-02-22 09:39] mariokeusen opened #3160 "[topics] setup of new topic "cadastre""
UC: setting up a new topic for cadastre for the next deploy from March 2nd

- Topic structure according to spreadsheet (topic tech. name is cadastre)
- Topic name, tooltip and ref-link according to translation table
- Default bg-layer= color map
- Topic icon: see my email
- All layers are fully integrated already.

[2016-02-22 10:20] oterral commented on #3015
Seems a Cesium issue :  https://github.com/AnalyticalGraphicsInc/cesium/pull/3612

[2016-02-22 11:45] mariokeusen commented on #2838
solved with https://github.com/geoadmin/mf-geoadmin3/issues/3122

[2016-02-22 11:45] #2838 closed

[2016-02-22 16:01] davidoesch commented on #3158
Hi vicchi , by coverage I mean : is there a density /heatmap of w3w for Switzerland available?

[2016-02-22 16:08] vicchi commented on #3158
Ah! Now I see what you mean. No, there's not such a thing, but even if there was all you'd end up with is a pixellated polygon that corresponds to the country border.

To explain further; when I said in my previous post that we have global coverage, I was being quite literal. The what3words algorithm covers the entire surface of the globe, both land and sea, in a 3m x 3m grid. Each of these 57 tri

[2016-02-22 16:13] davidoesch opened #3167 "topics: sort alphabetically on mobile"
topics: sort alphabetically on mobile

[2016-02-23 07:49] #3159 closed

[2016-02-23 07:54] #3150 closed

[2016-02-23 12:32] mariokeusen commented on #3155
Please reorder the topics according to the following order also because we'll publish the new topic cadastre with the next deploy:
1 blue topics (federal offices)
2 green topics (specialized topics)
3 red topics (general catalogs)

[2016-02-24 07:48] #3083 closed

[2016-02-24 08:01] oterral commented on #3104
Official Cesium issue to watch : https://github.com/AnalyticalGraphicsInc/cesium/issues/2172

[2016-02-24 10:45] oterral commented on #2435
Codepen has one http://blog.codepen.io/documentation/features/wordpress-plugin/

[2016-02-24 14:06] alcapat opened #3173 "Saucelabs improvements"
Link to https://github.com/geoadmin/mf-geoadmin3/pull/3144
- [ ] Use API_URL/rest/services instead of topic list (hard coded)
- [ ] use quote from urllib2 if possible and put something human readable (some humans only)

[2016-02-24 17:02] procrastinatio commented on #3134
OK, done on AWS S3 side

`$ curl -I http://public.geo.admin.ch/666`
`HTTP/1.1 404 Not Found`

[2016-02-25 07:26] oterral commented on #3134
Not yet handle on mf-geoadmin side

[2016-02-25 09:27] loicgasser commented on #3134
sorry did know there was anything you wanted to do front end.

[2016-02-29 09:19] davidoesch commented on #3158
I have to be more precise:
I'm aware that for every 3x3m you guys have a coordinate, my question was targeting- how many custom 3 words you already sold in switzerland ...

@vicchi: since we run our portal in 5 languages : we need Multingual support, that means w3w in up to 5 languages
- German
- French
- Italian
- English
- Rumantsch Grischun (a nice to have , see http://www.pledarigrond.ch/ruman

[2016-02-29 10:15] vicchi commented on #3158
Thanks @davidoesch ...

To support our built in error detection and to maintain consistency of 3 word addresses when used offline, we don't provide or support "custom words"; see our [knowledge base](https://support.what3words.com/hc/en-us/articles/203437482-Can-I-buy-my-own-words-or-change-some-of-the-words-) for some more background on this. Once finalised, the list of 3 word addresses per langu

[2016-03-01 08:50] davidoesch opened #3177 "loading topics without default layers"
The current behavior of topics without default layers on topic start is IHMO not optimal. Like this, the user does not obviously see, that there are specific topic data in the catalog, he first has to open the catalog.
UC: open map.geo.admin.ch and switch e.g. to sachplan and look at the catalog section

Expected result: the user is guided to the dataset. on shortterm if selection is empty open th

[2016-03-01 08:51] davidoesch commented on #3177
linked to #3122

[2016-03-01 12:50] alcapat commented on #2808
Print tests (with all layer type in only one link) are done in this PR : https://github.com/geoadmin/mf-geoadmin3/pull/3144 (already merged)

[2016-03-01 13:22] #2808 closed

[2016-03-01 14:07] #2747 closed

[2016-03-02 08:12] #2013 closed

[2016-03-02 09:06] mariokeusen commented on #3177
Whom to assign? @gjn?

[2016-03-02 18:14] davidoesch commented on #3177
Tbd

[2016-03-03 10:12] #3015 closed

[2016-03-03 10:17] gjn commented on #2698
@davidoesch @oterral status?

[2016-03-03 10:42] davidoesch commented on #2698
Still issue
Am 03.03.2016 11:17 vorm. schrieb "Gilbert Jeiziner" <
notifications@github.com>:

[2016-03-03 14:46] oterral commented on #2698
still can't reproduce on my side

[2016-03-03 19:43] davidoesch commented on #2698
Gosh in This case I think I need to have a screen sharing session with the user... Since they can reproduce it all the time

[2016-03-04 07:13] davidoesch commented on #3155
Now cadastre is wrong as well

thereofore
Please reorder the topics according to the following order also because we'll publish the new topic cadastre with the next deploy:
1 blue topics (federal offices) and ALPHABETICALLY
2 green topics (specialized topics) and ALPHABETICALLY
3 red topics (general catalogs) and ALPHABETICALLY

[2016-03-04 10:20] oterral commented on #3064
@loicgasser @procrastinatio @gjn do you see any places where it could be useful ?

I didn't find one, so we can close this if we don't use this format.

[2016-03-04 10:33] oterral commented on #3110
Seems leaflet has the same problem : https://github.com/Leaflet/Leaflet/issues/2154

[2016-03-04 10:38] oterral commented on #3110
Workaround use https://chrome.google.com/webstore/detail/scrollmaps/jifommjndpnefcfplgnbhabocomgdjjg

[2016-03-04 11:03] ltclm opened #3188 "profile is not displayed when drawing new line feature"
Situation:
* open map.geo.admin.ch -> draw & measure
* draw a new line
* click on tab profile

the profile tab is empty.
![image](https://cloud.githubusercontent.com/assets/5286659/13525391/ed10b2ee-e200-11e5-8619-1cd08dae5b83.png)

 If you add an additional vertex it will be drawn.
![image](https://cloud.githubusercontent.com/assets/5286659/13525404/030eb762-e201-11e5-8e66-e757390f344f.png)

issu

[2016-03-07 08:03] oterral commented on #2292
No update. Needs to be implemented.

[2016-03-07 12:32] loicgasser commented on #3064
I feel our ESRIJson solution in chsdi3 is currently suboptimal so I would not make it the default format.
I want to write a clean ESRIJson encoder in python and publish the module.
Only then we could think about making esriJSON the default geometry format.

[2016-03-07 13:12] oterral commented on #3064
I don't want to make it the default format. I just ask if we currently use it in mf-geoadmin3

[2016-03-07 17:44] loicgasser commented on #3064
Notre tour m'y knowledge

[2016-03-08 08:28] oterral commented on #3064
Thx

[2016-03-08 08:28] #3064 closed

[2016-03-08 20:42] davidoesch opened #3191 "catalogue eCH -inspire"
All dataset in eCH have to be as well in inspire. It has to be at least a 1:n relation ship

[2016-03-09 07:05] gjn opened #3192 "Hardware acceleration not reverted when coming back from 3D (FF only)"
From customer:

[code]

[2016-03-09 08:39] mariokeusen commented on #3191
Steps to do:

- a comparison of contents of ech and inspire catalogues in order to find out, which layers are missing in inspire
- determination of INSPIRE class basing on ech for this list of layers
- completing the inspire catalog

I agree that this is a prio 3.

[2016-03-09 08:42] oterral commented on #3192
I have hardware acceleartion activated on Firefox and all works fine. If it's a hardware problem we can't do anything.

[2016-03-09 14:27] cedricmoullet opened #3193 "Create new drawing object"
Some times, but not always, when a new object is created, then the dialog disappears immediately.

On chrome/windows

[2016-03-09 15:43] gjn commented on #3193
Can easily be reproduced:

add element and quickly move mouse -> dialog disappears
add element and wait, then move mouse -> dialog stays

Is probably related to the tooltip mouse click delay we did a couple of weeks ago.

I'll have a look tomorrow.

[2016-03-09 16:40] davidoesch opened #3194 "Line of sight icon: add eye in symbol"
now we have two distances which is which? I assum ethe second one is line of sight

therefore

add

http://fortawesome.github.io/Font-Awesome/icon/eye/

before the icon
![image](https://cloud.githubusercontent.com/assets/4577727/13643088/6f3e5bbe-e61f-11e5-8154-5573c39a7fa7.png)

[2016-03-09 16:44] davidoesch opened #3195 "Line of sight: distance in flat is zero"
Flat are:

distance and line of sight should be equal, not zero

![fireshot screen capture 092 - karten der schweiz - schweizerische eidgenossenschaft - map_geo_admin_ch - map_geo_admin_ch__topic ech lang de bglaye](https://cloud.githubusercontent.com/assets/4577727/13642880/8ec40b60-e61e-11e5-9a9a-6d3305795980.png)

https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe

[2016-03-10 07:14] gjn commented on #3193
I tested version from Januar - bug is there.
I tested version from Octobre - bug is there.

Never had feedback of this from clients that I'm aware of - and people often use drawing. I'm downgrading.

[2016-03-10 07:18] gjn commented on #3194
I actually thought the first distance is 'distance on profile' and the second one 'flat distance'. Does 'flight distance' really make sense? For whom?

[2016-03-10 08:02] gjn commented on #3188
Was introduced by https://github.com/geoadmin/mf-geoadmin3/commit/ccd14f621021d7a7e5bb3273b4e63a846c683168 via https://github.com/geoadmin/mf-geoadmin3/pull/3100

[2016-03-10 08:09] #3188 closed

[2016-03-10 08:22] mariokeusen commented on #3191
Blocked in step 2 due to the non explicit information in geocat...

[2016-03-10 10:11] davidoesch commented on #3194
Flat distance? No it should be direct line/ line of sight
Am 10.03.2016 8:18 vorm. schrieb "Gilbert Jeiziner" <
notifications@github.com>:

[2016-03-10 11:46] gjn commented on #3194
By flat distance I meant the distance in x-direction of the profile diagram. By 'distance on profile' I meant distance as traveled on the profile.

I don't see a use case for direct line. Who could be interested in this?

[2016-03-10 13:28] davidoesch commented on #3194
Flatdistance is Luftlinie - I think we mean the same case: user is on
mountain A) and looks at mountain B) : how far away is it ? -> luftlinie .
it is what you measure on a map in 2d.
Second v use case: what is the walking distance on profile from mountain a)
to mountain B)
Am 10.03.2016 12:46 nachm. schrieb "Gilbert Jeiziner" <
notifications@github.com>:

[2016-03-10 13:56] gjn commented on #3194
I assumed luftlinie from start to end point.

[2016-03-10 16:02] davidoesch opened #3197 "FF: select box does not work"
FF: select box does not work
Windows 10 mit Firefox 44 od. 45 => funktioniert nicht
Windows 7 mit Firefox 42 => funktioniert ebenfalls nicht

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/13675432/d733efbe-e6e1-11e5-9505-5e44577cf989.png)

[2016-03-10 16:06] davidoesch opened #3198 "Profile: Height scale: scale not adapted"
Scale must be readable for differences of

2m
2-10m
10-50m
10-100m
100-250m
250-500m
500-750m
750-1000m

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/13675544/68871130-e6e2-11e5-9781-284d19bf04d4.png)

[2016-03-10 16:34] gjn commented on #3197
Funny, if you click long enough, it works.

[2016-03-10 16:43] gjn commented on #3197
Introduced by https://github.com/geoadmin/mf-geoadmin3/pull/3043 - many testers.

@Jenselme Could you have a look?

[2016-03-10 17:02] Jenselme commented on #3197
That's weird. I just had a quick look and I may have an explanation for this: on firefox, with the *pick an element from the page* tool, select the button which select/unselect an layer. In the DOM tree it selects the `span` just after the `input`. If you delete the `span`, the select button disappears.

On Chrome, with the same action, the `input` element is correctly selected and removing the `s

[2016-03-10 17:12] Jenselme commented on #3197
The input is actually hidden on non webkit browser [app.less](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/style/app.less#L1533), so slipjs doesn't detects the span as an input (which is logical) and so it doesn't behave correctly.

[2016-03-10 17:36] gjn commented on #3197
There must have been a reason why it's hidden in non-webkit browsers.

any way to patch slipsj or the app?

[2016-03-10 17:38] gjn commented on #3197
On IE, the input is also hidden, but the checkbox is working just fine. So slipjs detects this correctly on IE, but not on FF.

[2016-03-10 17:39] Jenselme commented on #3197
On IE (at least IE on edge rendering), the input is displayed.

[2016-03-10 17:48] gjn commented on #3197
hmm. both IE11 and FF44 give the same back (in above test)

[2016-03-10 17:54] Jenselme commented on #3197
[code]
or
[code]
fixes it for Firefox. Forwarding that to upstream.

[2016-03-10 18:17] davidoesch commented on #3197
Yep many testers... But I did not test Firefox. The famous test book has to be updated

[2016-03-10 18:23] davidoesch commented on #3194
Then we are aligned. @maria is investigating why we have cases where profile distance is shorter than flat distance

[2016-03-10 19:03] Jenselme commented on #3197
@davidoesch I tested with FF but I click on the label, not the checkbox.

[2016-03-10 22:08] davidoesch commented on #3197
With every function we add complexity of the app  increases with exponential power...

[2016-03-11 09:10] gjn commented on #3197
@Jenselme Correct fix would be to not only check for webkit, but also for moz on the test element to differentiate between firfox and IE.

[2016-03-11 09:12] gjn commented on #3197
@Jenselme it would be great if you could create a fix for mf-geoadmin3 and prepare an upstream PR for slipJS.

[2016-03-11 09:13] Jenselme commented on #3197
It seems to me. I proposed this solution upstream, without much success for now: https://github.com/pornel/slip/issues/66#issuecomment-195111974

In the meantime, I can make the fix for mf-geoadmin3 so you can deploy it next Wednesday (or before if you choose to).

[2016-03-11 09:38] gjn commented on #3197
ok. Thanks alot.

[2016-03-11 12:08] gjn commented on #3146
PR ready, waiting for feedback.

[2016-03-11 17:52] loicgasser opened #3203 "Drag/drop layers"
Got this error in the console. (prod version)

Uncaught TypeError: Cannot read property 'getZIndex' of undefined

[2016-03-13 19:43] gjn commented on #3203
Care to share a little more info that would help me to reproduce it?

[2016-03-14 09:00] davidoesch opened #3204 "Position/North orientation does not work correctly when in landscape"
[map_geo_admin_ch-iphone-rotation.zip](https://github.com/geoadmin/mf-geoadmin3/files/171609/map_geo_admin_ch-iphone-rotation.zip)
Iphone assumed Latest Version/ Safari
"Leider funktioniert es auch nach einer Kalibration nicht, habe es auf mehreren iOS Geräten getestet. Vielleicht habe ich mich auch unklar ausgedrückt, es geht nicht um eine Ungenauigkeit in der Ausrichtung. Bei einer Rotation des

[2016-03-15 07:51] gjn opened #3205 "Offline issues"
Several negative customer feedbacks regarding offline. Please read those mails.

[2016-03-15 07:53] gjn opened #3206 "White tiles"
On some browser, under some conditions, the application turns into a state were certain tiles always stay white. Zoomin and panning does not get rid of this effect. A re-launch of the application helps most of the time.

Thsi is very hard to re-produce, but customers continue to file reports to that effect.

Might be related to offline issues (and/or appcache)

[2016-03-15 08:50] oterral commented on #3205
Versions number are different on the 2 prod instances

https://map.geo.admin.ch/geoadmin.1457621062.appcache
https://map.geo.admin.ch/geoadmin.1457621381.appcache

Deploymant process problem.

[2016-03-15 08:58] oterral commented on #3205
KEEP_VERSION is set to false in deploysnapshot script https://github.com/geoadmin/mf-geoadmin3/blob/1ece67b62ec96af18b1433823087837b66f21b23/scripts/deploysnapshot.sh

[2016-03-15 09:24] gjn commented on #3205
I don't think that the KEEP_VERSION in the deploysnapshot.sh file is the problem. This is for the build
_in_ the snaphot. And here we want a new version every time before we deploy it. Idea is this:

1. build project in snapshot directory
2. rsync code to targets
3. rebuild only needed files, keeping the version intact. That's why KEEP_VERSION in rc_prod is true. But it seems that this is ignored

[2016-03-15 10:28] gjn commented on #3205
KEEP_VERSION in snapshot script should probably use the export mechanism (so sub-process sees it). But this needs to be verified.

[2016-03-15 13:08] gjn commented on #3206
Analyse impact of 500 errors of tiles on ol3.

[2016-03-15 13:19] gjn commented on #3192
Not reproducalble with FF42 on win7.

Get more information from client.

[2016-03-15 13:25] gjn commented on #3173
@procrastinatio and @pfanguin will help to advance this.

Focus is to add support IE and safari.

[2016-03-15 13:27] #3160 closed

[2016-03-15 13:31] #3122 closed

[2016-03-15 13:33] gjn commented on #3118
@oterral will explain technical details.

[2016-03-15 13:35] gjn commented on #3104
@davidoesch Can we wait on Cesium (it's high priority for them...but you never know) or should we try to patch it.

[2016-03-15 13:40] davidoesch commented on #3104
we await cesium.  neede for go live BETA

[2016-03-15 13:42] gjn commented on #3065
@davidoesch Good to close this and wait on vector tiles?

[2016-03-15 13:46] #3036 closed

[2016-03-15 13:46] #3035 closed

[2016-03-15 13:48] gjn commented on #3017
Wait on Cesium.

[2016-03-15 13:49] gjn commented on #3016
@davidoesch To be discussed.

[2016-03-15 13:50] #3009 closed

[2016-03-15 13:53] gjn commented on #2942
Duplicate of #3065. We close this.

[2016-03-15 13:53] #2942 closed

[2016-03-15 13:54] gjn commented on #2911
Releated to #3017. We close this one.

[2016-03-15 13:54] #2911 closed

[2016-03-15 13:59] gjn opened #3208 "Haltestellen Icons in print are too small"
Print https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.bav.haltestellen-oev,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2FKWeuzcQWTR-Ym5AC75rFQg&layers_visibility=false,false,false,false,true,true&layers_timestamp=18641231,,,,,&X=1568

[2016-03-15 14:00] davidoesch commented on #3065
what about the s3 approach?

[2016-03-15 14:01] gjn commented on #2715
#3104 is the same. Missing clampToGround support in Cesium.

[2016-03-15 14:08] gjn commented on #2369
We will have a last_update service that could be used for that.

[2016-03-15 14:10] gjn commented on #935
To discuss in tomorrows brainstorming session.

[2016-03-15 16:47] loicgasser commented on #3206
@gjn Might be related https://github.com/openlayers/ol3/pull/4964

[2016-03-15 18:36] #3195 closed

[2016-03-15 18:36] #3194 closed

[2016-03-15 18:38] gjn commented on #3206
@loicgasser Good find! Might indeed be related.

Anyhow, still not able to reproduce, even when erratically zooming in and out as described in the bug description. But it also indicates that the ol3 internal tilecache might influence this.

I'll do some tests.

[2016-03-15 18:53] gjn commented on #3206
Bingo. I can easily reproduce when I reduce the cacheSize from the default 2048 to 16, [see here](https://mf-geoadmin3.dev.bgdi.ch/gjn_whitetiles_demo/). Zoom in wildly a couple of times, then you'll have those artefacts.

Putting the cacheSize to 0 does not help. In fact it gets worst.

I will tripple the cacheSize to mitigate the effect until PR in ol3 is merged. I count on @fredj!

PR coming.

[2016-03-15 19:01] gjn commented on #3206
@fredj Just a side question: what happens in the tilecache if a specific tile gets a 503 error once? Will it be re-requested if I do a simple zoom in/zoom out or will it stay marked as errounous in the tilecache?

[2016-03-15 19:40] gjn commented on #3205
Ha. The scripts and hooks are working as expected. When we deploy to all target machines at once.

In the case where we step-by-step deploys (first on one, the on the other usign `make deployprod` twiche with changed targets in deploy.cfg, we end up with different versions on the targets. And this is exactly what I did last week when I emergency deployed the profile fix. I did this because https:/

[2016-03-15 20:17] gjn commented on #3065
You mean utfgrid? For all layers? Only for selected layers?

[2016-03-15 21:28] gjn commented on #3205
This is fixed on production now as I deployed the latest snapshot, assuring same version on both instances. I've tested offline mode in firefox, and it's working fine.

[2016-03-15 21:28] #3205 closed

[2016-03-15 21:34] gjn opened #3212 "Firfox offline: does not work with 'never remember history'' privacy setting"
With FF45.

When Firefox is started with 'never remember history' privacy setting:
![image](https://cloud.githubusercontent.com/assets/2572317/13794680/759e87c6-eafd-11e5-97e9-c0a9332674bf.png)
then offline mode can be started, but the user can't download any maps. The following error message is show:
![image](https://cloud.githubusercontent.com/assets/2572317/13794831/48f2a706-eafe-11e5-983c-f1a5

[2016-03-15 21:46] gjn commented on #3212
We should also inform helpdesk about this. Offline mode needs to correct setting.

[2016-03-16 06:09] davidoesch commented on #3065
For all layers / utfgrid. Other possibility for layers which consist of different geometries/not one single symbol: create a feature highlight geometry layer which corresponds with the outline of the symbols.

[2016-03-16 06:30] #3197 closed

[2016-03-16 06:30] gjn commented on #3065
I don't understand the second option. How would we use that on front-side? Query back-end on every mouse move?

UTFGrid will impact performance on client as for every raster layers, we would need to have utfgrid data loaded.

[2016-03-16 06:33] davidoesch opened #3213 "Change mouse icon on drag and drop"
As mentioned in #3209. Change mouse icon on drag and drop as in moving mails in Gmail with drag and drop

[2016-03-16 06:36] davidoesch commented on #3065
Same procedure as for geocover : https://s.geo.admin.ch/6aa97e4efc

[2016-03-16 06:50] gjn commented on #3065
I don't think I understand. The mouse is correct because the raster has pixel information everywhere (as all full coverage layers have). This kind of layers are not the problem.

We have troubles with Gebäude Register, Haltestellen, IVS Routen, etc. (points, polylines mainly).

[2016-03-16 07:25] cedricmoullet opened #3214 "Tooltip on mobile for KML doesn't work"
https://map.geo.admin.ch/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttp:%2F%2Fwww.rsr-prod.ch%2Fcartes%2Fbva%2FTransmission%2520des%2520donnees%2520au%2520BVA%2520par%2520les%2520communes.kml&layers_visibility=false,false,false,false,true&layer

[2016-03-16 07:32] cedricmoullet commented on #3214
Pages crashes on iPhone 6 but works well on iPad Pro...

[2016-03-16 07:48] davidoesch commented on #2948
issue:
-> we don't know if the file exist ( for the first time extraction)
->  no parameter is send by  https://geodata01.admin.ch/order/product.igs?product=av_pdf&pos=/ regarding the existence of the file

Currenty no loading sign etc is implemented, but a refresh (f5) is necessary to see the file

@gjn : can you review here with @pfanguin ( json or pyhton solution)

[2016-03-16 07:56] loicgasser commented on #3214
Works well on Android. (Sony)

[2016-03-16 08:51] procrastinatio commented on #2948
Small remarque:
- Is file generated every time, because you get a different file id for every requests:
[code]

[2016-03-16 09:05] fredj commented on #3206
@gjn the tiles will be re-requested; the response code is not stored

[2016-03-16 09:50] gjn commented on #3214
Works well on my Jolla - even though a little slow.

[2016-03-16 09:57] gjn commented on #2948
The service is fully opened for us only.

Yes, service is not ideal. But we have 3 responses that we can work with:

1) not found (returned when pdf/service is not yet finished)
2) no object (returned when service is finsished but no pdf exists for this location)
3) pdf file (returned when pdf is created for this position).

The idea is to poll 1) for a reasonable amount of time in the back-end (5

[2016-03-16 10:15] Jenselme commented on #3213
@davidoesch I am OK to do that.

But from what I see, gmail is using its own image for the cursor. Maybe we should just rely on `cursor:  grab` or `cursor: grabbing;`?

[2016-03-16 10:16] gjn commented on #3206
@fredj Thanks for the info!

[2016-03-16 10:27] gjn commented on #3146
Decided between @davidoesch and @cedricmoullet to keep it simple as possible. We will send name tag of document/folder for the 'layerid' and the placement/feature name tag as the 'featureid'.

[2016-03-16 10:59] davidoesch commented on #3065
Let's solve this with vector tiles...

[2016-03-16 11:01] davidoesch commented on #3213
Cursor grab

[2016-03-16 13:53] procrastinatio commented on #3057
It's clearly  a WMS issue, as we are cascading the original WMS source. The source is not configured with gutter support:

- Single Tile WMS
- Adding `gutter` to our WMS (@ltclm is it possible ?)
- Using Mapproxy WMTS/WMTS source as alternative (cache issue ?)

Same view using [WMS](https://map.geo.admin.ch/?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.kantone.cadastralwebmap-

[2016-03-16 13:59] ltclm commented on #3057
This layer has two cascaded sources:
tlm map -> mapproxy
cadastral webmap -> http://wms.cadastralwebmap.ch/WMS GEOSHOP WMS

Since we dont know how much traffic / requests the geoshop service can handle, we should deactivate this layer for 3d!

[2016-03-16 14:15] rfrancel opened #3218 "link to wms in infobox concatenates different wms"
When you click on the link to wms in the infobox of a layer, you should be redirected to the getcap of the associated wms. It seems that when a layer is associated to more than one wms, the link concatenates them, giving a wrong url.
For example:
https://map.geo.admin.ch/?X=190000.00&Y=660000.00&zoom=1&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bafu.moose
And here the result

[2016-03-16 15:13] davidoesch commented on #3208
same for the adressen... related to the resolution

[2016-03-16 15:15] davidoesch commented on #3212
offline step by step instructions including caveats/faq/troubelshooting: http://de.slideshare.net/swiss_geoportal/mobilegeoadminch-re1/32 happy to add stuuf

[2016-03-16 15:22] davidoesch opened #3219 "graticule selection: add WGS84 and LV95 as checkbox"
With WGS84 and LV95 as dedicated layer [1] in the viewer we give the user now the options to choose in the viewer the layers
between 2 graticules instead of the combination
[1] org.epsg.grid_4326 https://redmine.prod.bgdi.ch/issues/4269
 org.epsg.grid_2056 https://redmine.prod.bgdi.ch/issues/4740

Change UI so the Coord grid selection adds now only Lv95

cc @mariokeusen

[2016-03-16 15:23] loicgasser commented on #3177
I guess you mean catalog tree.

[2016-03-16 15:28] cedricmoullet commented on #3219
I would not add a checkbox, but document in the help how to do that with wms. It doesn't seems to be a feature requested by the majority...

Envoyé de mon iPhone

[2016-03-16 16:20] gjn opened #3221 "Sharing Twitter uses wrong page title"
When wanting to share via Twitter, the text created contains the token `page_title` instead of the Title of the page.

Tested FF and chrome.

It should contain the correct page title.

[2016-03-16 16:45] davidoesch commented on #3219
it was a feature request. imho we can just stitch to lv95 grid.
the proper solution would be to have it in the pdf as tick marks on th edge of the map as defined in the original spec for re3....

[2016-03-16 16:46] davidoesch commented on #3177
catalog tree of the topic yes

[2016-03-16 16:48] davidoesch commented on #3057
cwm is not used that much in 3d--- see last 2 months, so if it breaks we can add larger instances

[2016-03-16 16:59] gjn commented on #3057
I think  http://wms.cadastralwebmap.ch/WMS  is not under our control.

[2016-03-16 17:13] davidoesch commented on #3057
It is - hanspi can scale up the instances. And afaik data Sync should work

[2016-03-16 17:18] gjn commented on #3193
@davidoesch @cedricmoullet I think this was fixed by the update of ol3. I can't reproduce this anymore in production. Please verify and close.

[2016-03-16 17:19] gjn commented on #3206
Patch if deployed to prod. Anyhow, I keep this open for reference and wait for the ol3 patch to be integrated in mf-geoadmin3 (it's merged in ol3).

I'll downgrade to 2.

@davidoesch Please let me know if we get feedback regarding white tiles again.

[2016-03-16 17:22] davidoesch commented on #3214
Works not on Android 601 Nexus p...

[2016-03-16 17:22] Jenselme commented on #3203
I think that's a bug I already seen before DnD. Never managed to figure out its origin nor how to reproduce it.

[2016-03-16 17:22] cedricmoullet commented on #3193
It works by me !

[2016-03-16 17:22] #3193 closed

[2016-03-16 17:36] davidoesch commented on #3206
OK will inform Helpdesk

[2016-03-16 23:41] gjn opened #3224 "Map is broken on chrome 49.0.2623.87"
The effect: when zooming and panning, the map starts flickering heavily. Simple pans look like an epileptic seizure.

Only observed on mentioned version on Windows 7.

Not observerd on FF and IE on same machine. Not observed on chrome 48 on working laptop - and obviously not observed during deploy process today on any other browsers.
It's not caused by our cacheSize fix https://github.com/geoadmin

[2016-03-17 00:15] gjn commented on #3224
Updating to official ol3 relase makes it even worse. Tiles are completely missing now. Still only in chrome 49. I've even re-installed it.

@davidoesch @cedricmoullet Can you try with chrome 49 to reproduce this?

[2016-03-17 00:31] gjn commented on #3224
Portable 48 next to protable 49. 48 good, 49 bad.

I need wood.

[2016-03-17 07:15] gjn commented on #3224
Couldn't be reproduced on mac chrome 49 and on bundeslaptops with chrome 49. Downgrading to prio2 now.

Also, effect is only visible with jpeg tiles, not with png tile (from the background, the pixelkarte has it, the tlm zoom leves, which are png, don't have it).

I now suspect driver issues on my laptop.

[2016-03-17 07:42] gjn commented on #3224
Update of graphic cards driver resolved the issue.

[2016-03-17 07:42] #3224 closed

[2016-03-17 08:51] #3221 closed

[2016-03-17 09:19] loicgasser commented on #3224
Yes but in general ol seem to have issues lately, I would not be surprised to have this one reopened.

[2016-03-17 09:37] rfrancel commented on #3208
@davidoesch do you mean the Wohnungsregister?

[2016-03-17 10:20] gjn opened #3227 "Build and update slipjs/fastclick"
We treat the same use case differently in our build. Both [slipjs](https://github.com/geoadmin/mf-geoadmin3/blob/master/Makefile#L251) and [fastclick](https://github.com/geoadmin/mf-geoadmin3/blob/master/Makefile#L259) are patched by a local patch during the build.

In the gitreposity, the src/lib/slipjs file is the patched version. src/lib/fastclick is the unpatched version.

This mismatch is pro

[2016-03-17 10:45] pfanguin commented on #3147
it's done

[2016-03-17 10:45] #3147 closed

[2016-03-17 11:29] gjn commented on #3065
ok. I close this for now.

[2016-03-17 11:29] #3065 closed

[2016-03-17 12:21] davidoesch commented on #3208
Yep, gwr

[2016-03-17 17:02] davidoesch opened #3233 "api example "All available layers as WMTS" does not complete load"
the All available layers as WMTS http://api3.geo.admin.ch/api/examples.html  :http://codepen.io/geoadmin/pen/MyYYXR?editors=0010
does not load in BV Net with chrome and firefox

-> the list is just showing "....loading"

I assume it is just to much for teh weak BV net.... if it cant be fixed : reduce this example

[2016-03-18 07:58] gjn commented on #3227
I think I understand now. #3187 re-introduced the fastclick patch that was removed by an earlier fastclick update. But but it was committed to the minified version only.

It should be committed to the src version as well.

In any case, the way we handle external libs in the Makefile coukd be improved.

[2016-03-18 10:30] oterral commented on #3008
I can reproduce again on our  android 4.2.1, all works fine terrain tiles and layers are loaded but  nothing display. I don't understand why.  The browser  and the device seems unusable (CPU overloaded probably)  then the browser crash few minutes after.

[2016-03-18 17:44] davidoesch commented on #3008
Any idea how many percent of users in Switzerland are using 4.2 and older?

[2016-03-18 18:07] procrastinatio commented on #3057
To sum up:
- We provide an Windows Instance + EBS to the third party. The installation, monitoring is not under our control. According to    @hpchrist this should however scale horizontally.
- The GeoShop WMS is unable to do proper gutter, should we use another source (Mapproxy) ?
- Why do we have to cascade this WMS server (performance) ?

[2016-03-19 06:42] davidoesch commented on #3155
Green topics are not alphabetically ordered on mobile and desktop

[2016-03-19 14:08] loicgasser commented on #3155
On language change reorder topics? Would it not confuse people if we start moving the topics around?

[2016-03-19 18:59] davidoesch commented on #3155
The standard user will use only one language... So the topic is always at the same position

[2016-03-22 06:26] AFoletti commented on #3219
now that the grids are (will be) standard layers, a special print setting should no more be needed.
+1 for Cedric's suggestion: document the grids in the help and let the user build his map with the grid as a layer in order to have it printed out

If we really need a print setting, I suggest we stick with lv95 only

[2016-03-22 07:17] davidoesch opened #3236 "3D : KML "cannot read property "_External" of null"
open on android 601 Nexus 6P
https://map.geo.admin.ch/mobile.html?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-grau&X=203907.72&Y=727746.46&zoom=2&layers=KML%7C%7Chttps:%2F%2Fgist.githubusercontent.com%2Fdavidoesch%2F9998ebd0cb211c3ac674%2Fraw%2F8bb58435e664352d50b53999393c45b2570b0db9%2FGemeindeGeneralisiert.kml

got ot 3D
result
3D : KML "cannot read property "_External" of null
![screensho

[2016-03-22 07:22] davidoesch commented on #3219
Stick to lv95 only

[2016-03-22 12:10] oterral commented on #3236
It works in [src mode](https://map.geo.admin.ch/src/mobile.html?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-grau&X=203907.72&Y=727746.46&zoom=2&layers=KML%7C%7Chttps:%2F%2Fgist.githubusercontent.com%2Fdavidoesch%2F9998ebd0cb211c3ac674%2Fraw%2F8bb58435e664352d50b53999393c45b2570b0db9%2FGemeindeGeneralisiert.kml)

[2016-03-22 12:32] davidoesch commented on #3236
But data is not loaded... I assume it is the fix we expect from cesium for polygons

[2016-03-22 12:34] oterral commented on #3236
no,  polygons are displayed here but only in dev mode.

[2016-03-22 12:49] gjn commented on #3236
Missing export?

[2016-03-22 13:50] davidoesch opened #3237 "no map content and menu not translated"
Since the deploy of 16.3.2016 several users report

ios with SAFARI:

map.geo.admin.ch loads with
- no map shown ( just the grid backgroudn)
- menus are not translated (they see the untraslted technical msgid's)

Clearing the cache does not NOT help
reboot does NOT help

firefox and chrome do always work on the same device

[2016-03-22 14:07] gjn commented on #3237
I assumbe on desktop? Or is it mobile? Both?

Could anyone reproduce this? @oterral @cedricmoullet

[2016-03-22 14:28] davidoesch commented on #3237
Always desktop.

[2016-03-22 15:36] oterral commented on #3237
Can't reproduce on all our apple devices.

[2016-03-22 15:46] oterral commented on #3237
For me is clearly related to the problem of the 2 instances which had 2 differents version number.

[2016-03-22 15:57] oterral commented on #3237
@davidoesch . Having a look in webgis inbox it seems a lot of Safari issues comes from old Safari version (4 or 5 ), am I right?

[2016-03-22 16:11] davidoesch commented on #3237
well people are still calling me on the phone... this one is really nasty.

[2016-03-22 16:17] oterral commented on #3237
May you could ask them to use private mode to see if there is the same problem.

[2016-03-22 16:18] davidoesch commented on #3237
people on the phone confirmed that they are updating thier os and safaris... in the helpbox we have *only* old safari messages. Do we detect it right?

[2016-03-22 16:19] fredj commented on #3237
please not that Safari 4 doesn't have the `Array.isArray` function; it may be the cause of the issue

[2016-03-22 16:20] oterral commented on #3237
I've seen 2 messages on the mailbox. Don't forget you can't update all Phones to a better iOS version. Some are blocked.

[2016-03-22 16:20] oterral commented on #3237
Interesting @fredj that could explians some errors.

[2016-03-22 16:39] oterral commented on #3237
`requestAnimationFrame` is also not supported for safari <=5.1

[2016-03-23 07:20] gjn commented on #3237
In helpbox, the user agent is reported as the browser tells it. We don't mangle it or interpret it.

Safari 4 is as old as IE8. Safari 5.1 is 5 years old.
Are we sure those issues are only related to these old versions?

[2016-03-23 07:49] gjn commented on #3237
I can reproduce on Safari 5.1.7. It works well in source mode, but not in built mode. Here's the error:

![image](https://cloud.githubusercontent.com/assets/2572317/13978791/0e884496-f0d4-11e5-9852-356ac3b7c521.png)

So it seems related to `requestAnimationFrame`. But it doesn't explain why it works in source mode.

[2016-03-23 07:50] gjn commented on #3237
@fredj Any hint?

[2016-03-23 07:52] gjn commented on #3237
I think we need to adapt our polyfill for requestAnimationFrame.

[2016-03-23 08:10] gjn commented on #3237
For the mess, read up on https://gist.github.com/paulirish/1579671

We either have to use polyfill via CDN (breaking our CDN policiy) or use somthing from above. I try to come up with something.

[2016-03-23 08:16] fredj commented on #3237
Looks like the requestAnimationFrame polyfill is only loaded for IE
View source for https://map.geo.admin.ch/; `polyfill.min.js` is inside a `<!--[if IE]>` block

[2016-03-23 08:20] gjn commented on #3237
Yes. Working on different polyfill now.

[2016-03-23 08:33] gjn commented on #3237
I tried to use https://github.com/julienetie/request-frame/, but doesn't seem to play well with closure library in safari:

![image](https://cloud.githubusercontent.com/assets/2572317/13979655/33ea27ee-f0da-11e5-944e-e90e18d72447.png)

[2016-03-23 08:50] gjn commented on #3237
From CDN also has its troubles.

[2016-03-23 10:09] oterral commented on #3237
We could use the polyfill service  directly in the htmlpage :
https://cdn.polyfill.io/v2/polyfill.min.js?features=Array.isArray,requestAnimationFrame

and let him decide when the browser needs the function.

[2016-03-23 10:10] gjn opened #3238 "KML doesn't print"
We are unable to print the following KML:

https://map.geo.admin.ch/?X=175395.18&Y=628772.90&zoom=7&lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=KML%7C%7Chttp:%2F%2Fwww.skitourenguru.ch%2Fcalc_data%2Fkml%2FSwitzerland_SnowRoute094.kml

@procrastinatio @mariavkourouni Could you have a look?

[2016-03-23 10:17] gjn commented on #3237
Yes, that's what I tried. But didn't work as expected. Same error as above with the request-frame module.

[2016-03-23 11:02] gjn commented on #3237
We don't want to depend on CDN anyhow. I'll update the polyfills by hand in the browsers. With https://cdn.polyfill.io/v2/polyfill.js?features=Array.isArray,requestAnimationFrame&flags=always,gated

PR coming.

[2016-03-23 15:47] Jenselme opened #3245 "Keep drawings and KML on topic change?"
Hi,

While preparing for a deploy of your latest updates for our client, we presented the [reset layer selection on topic change](https://github.com/geoadmin/mf-geoadmin3/issues/3122). Everybody agreed that the reset as a whole is a good idea to avoid the selection to get messy with time (we have many pre-selected layers in our topics). However, we found disturbing that the imported KMLs and drawi

[2016-03-23 16:16] Jenselme commented on #3238
Just saw that issue. The KML is not valid. At line 1363, there is a line string but it contains only one points. The KML parser from MFP (v2 or v3) doesn't like that. Maybe do some KML validation on import? Or make MFP ignore invalid geometries?

[2016-03-24 07:00] gjn commented on #3245
It was decided to remove everything. Topics are rarely switched, and those who switch expect a real reset.

@davidoesch ?

[2016-03-24 07:05] #3237 closed

[2016-03-24 07:28] gjn opened #3246 "Offline issues"
Offline issues still persist for some clients. If found a few articles that might explain the issues:

[Fact sheet](http://appcache.offline.technology/)

[Why using prefer-online is a bad idea](http://labs.ft.com/2012/07/prefer-online-not-so-much/). I think the solution proposed here might be really useful.

[Appcache use cases and their problems](https://www.w3.org/community/fixing-appcache/2012/

[2016-03-24 07:57] oterral commented on #3236
I suspect this indeed. I'nm on it.

[2016-03-24 08:21] davidoesch commented on #3245
+1 to keep it KISS a real reset is the intention here. to treat now external ressources makes it more complicated

[2016-03-24 08:21] #3245 closed

[2016-03-24 08:27] procrastinatio commented on #3238
Yes, I confirm, many KML from this site have invalid geometries.

It would be nice if the print server did ignore invalid geometries, but it would be better to check/correct such errors when importing into map.geo.admin.ch (its done through the `ogcproxy`) and inform the user why it fails to import or what has been corrected.

[2016-03-24 08:36] oterral commented on #3236
See https://github.com/openlayers/ol3-cesium/issues/329

[2016-03-24 08:48] oterral commented on #3238
We have a [sanitizeFeatures](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/KmlService.js#L116)  function in the `gaKml` service.  Function which close unclosed poylgon, so we could also add a coordinate to LineStrings which have one coordinate.

[2016-03-24 08:57] davidoesch commented on #3238
informed skitourenguru

[2016-03-24 09:12] gjn commented on #3236
Good find. Let's patch it.

[2016-03-24 09:14] gjn commented on #3238
Or remove the one-point line (as it doesn't make sense anyway).

[2016-03-24 10:02] gjn commented on #3246
I again did some detailed analysis. Here are some results.
Initial state is working appcache store with same version on all browsers. Now the version of the cache is updated an newly deployed. The user then loads the page again with good internet connection.

**Chrome 49** (win7):
`checking` is triggered, `obsolete` is triggered (404 on the appcache file). This triggers an automatic page reload. P

[2016-03-24 12:11] gjn commented on #3246
Not that the above analysis didn't take care of spotty connections or didn't analyse offline behaviour at all. It just analysed behaviour with good internet connection.

A little history.
Offline was activated on 18.9.2014 for both desktop and mobile.

Offline was removed from desktop version on 25.9.2014.

The caching of the appcache file was changed on 17.2.2015 - as we assumed that browsers mig

[2016-03-24 12:46] gjn commented on #3246
PR posted to create better update mechanism for FF.

Anlysing further in Firefox the offline/online dynamic.

[2016-03-24 13:02] gjn commented on #3246
I found another potential problem, which is related to the fact that we include the appcache manifest on the mobile page, but not on the desktop page. Assuming the following workflow.

1) Mobile Page is loaded by user. Appcache is created, including the fallback to index.html (desktop version)
2) User is back on desktop version
3) We update the application n times (n > 0)
4) User never switches to

[2016-03-24 14:06] gjn commented on #3246
Another think I've notices is the following: the appcache is not working when a user if offline and tries to access the page using `http`. It only works if he uses a linke with `https`. That means if the browser history is empty and he types `map.geo.admin.ch` in the browser, the page will not show up.

@davidoesch That's something the helpdesk should know. Manually putting https:// in front of th

[2016-03-24 14:08] gjn commented on #3246
This year, we also changed the http -> https redirection from apache level (back-end) to varnish level (front-end). This might have a side effect on the appcache as well.

[2016-03-24 14:37] davidoesch commented on #3246
gelpdesk instructed, their wiki updated

[2016-03-29 06:51] #3236 closed

[2016-03-29 07:04] davidoesch commented on #2698
I Clsoe this one for now becuase the client can only rproduce it on ONE device

[2016-03-29 07:04] #2698 closed

[2016-03-29 07:06] davidoesch commented on #3238
Feeback from skitourenguru
"ich habe den Server nun aktualisiert. Meine KML sollten nun keine LineStrings mit nur einem Punkt enthalten."

[2016-03-29 07:06] #3238 closed

[2016-03-30 06:38] ltclm opened #3253 "current timestamp support"
The current timestamp should be detected as valid timestamp [1].
Current should be supported in the timeslider and it should be displayed / chosen by default if timeBehaviour is 'last' or 'current'.

There is a test database containing  time-enabled pk25.noscale, pk50.noscale and pk100.noscale configuration `bod_ltclm_noscale_master`

[layersconfig](https://mf-chsdi3.dev.bgdi.ch/dev_ltclm_noscale_

[2016-03-30 07:58] p1d1d1 opened #3254 "[SHOP] - wrong shop-url"
Link to Shop in tooltip is using the .int version of the Shop and not the productive version.

[2016-03-30 08:00] p1d1d1 opened #3255 "[SHOP] - Missing translations"
Labels on some geological maps are not translated.
e.g. https://mf-chsdi3.int.bgdi.ch/shorten/6af1e3e9c0

[2016-03-30 08:00] gjn commented on #3254
It will be using the correct one in production. See https://github.com/geoadmin/mf-geoadmin3/blob/master/rc_prod#L5

[2016-03-30 08:00] #3254 closed

[2016-03-30 08:03] gjn commented on #3255
Coul you specify all layers which miss translations?

[2016-03-30 08:05] gjn commented on #3255
Will also be ok once we are on prod. Sorry for the confusion. And thanks for testing!

[2016-03-30 08:05] #3255 closed

[2016-03-30 08:05] gjn commented on #3255
@rfrancel Can you prepare a testlink to wms integration to verify that wms on integration is good?

[2016-03-30 08:11] rfrancel commented on #3255
If you change the language it works fine.

https://wms-bgdi.int.bgdi.ch/?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.swisstopo.gkt500-papierkarte.metadata&CRS=EPSG%3A21781&STYLES=&WIDTH=739&HEIGHT=493&BBOX=420000%2C30000%2C900000%2C350000&lang=fr

De : Gilbert Jeiziner [mailto:notifications@github.com]
Envoyé : mercredi 30 mars 2016 10:06
À : geoadmin/mf-

[2016-03-30 14:50] gjn opened #3258 "Language sensitive WMS should react on language change"
See https://github.com/geoadmin/mf-geoadmin3/pull/3257

Language sensitive [WMS layers](https://map.geo.admin.ch/?topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.swisstopo.gkwvul500-papierkarte.metadata&X=162992.61&Y=649885.70&zoom=3) should react on language change.

@mariokeusen @davidoesch I let you choose the priority. A fix is currently deployed that will show correct language on page start or

[2016-04-01 07:51] davidoesch commented on #2948
Hi @gjn @pfanguin

The go live date here: 27.4 since it will be used for conference. can you confirm this date

[2016-04-01 10:05] procrastinatio commented on #2948
@gjn What is the point of polling for a few millisecond  before rendering the mako ?
- If it is < 1000ms, it is useless because the user needs already more than 1 sec to find and  click on the PDF link
- If it is > 1000ms the tooltip is not very reactive, the user will keep clicking on the feature
And if the mako is rendered at the timeout, the user only get "Your PDF **may** be **not** ready"

Th

[2016-04-01 10:07] gjn commented on #2948
Yes, if pdf creation takes this long, then front-end polling is only option.

[2016-04-01 11:32] davidoesch opened #3261 "Tooltip shop layer does not work in search result"
search for gk 200
 select (i) button for gk 200 Papier

->nothing happens

[2016-04-04 07:48] rfrancel commented on #3261
If I select gk200 papier the layer appears, and if search and select a number of map (1 or 4), it selects and zooms on the selected feature. The tooltip and the shop button work too when I do this..  Can you explain more precisely what you tried?

[2016-04-04 08:47] loicgasser commented on #3261
info button in search result works for me as well.

[2016-04-05 14:13] davidoesch commented on #3261
Funny cant reproduce today and yesterday but i could before

[2016-04-05 14:13] #3261 closed

[2016-04-05 14:14] davidoesch opened #3262 "LUBIS: while panning all data loads"
load LUBIS time enabled
https://map.geo.admin.ch/?topic=swisstopo&layers=ch.swisstopo.lubis-luftbilder_schwarzweiss,ch.swisstopo.lubis-luftbilder_farbe&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers_timestamp=19451231,&catalogNodes=1430&X=249620.00&Y=690750.00&zoom=6&time=1945

then pan

result: while panning ALL data is loaded

[2016-04-06 07:34] davidoesch opened #3265 "Change legal date in Print for disclaimer"
Currently:
-the disclaimer in map fish print pdf is 2007

remove the date since they will be frequent updates

[2016-04-06 13:00] gjn commented on #3265
@mariavkourouni Can you take care of this. This should be done in the yaml for the version 2 in mf-chsdi3.

[2016-04-06 13:04] gjn commented on #3262
Can't reproduce in chrome and FF.

[2016-04-06 13:06] gjn commented on #3233
Can't reproduce inside BV. Tried with IE11, FF and chrome and all are loading fine.

[2016-04-06 13:38] davidoesch commented on #3233
White screen on latest chrome in bv , works on IE
![unbenannt2](https://cloud.githubusercontent.com/assets/4577727/14318545/aabedb92-fc0d-11e5-8191-855cf7870894.PNG)

[2016-04-06 13:41] davidoesch commented on #3262
Yep, stopped thsi afternoon, but was the case this morning on IE  FF anc chrom, confimred by @mariokeusen

[2016-04-06 13:41] #3262 closed

[2016-04-06 13:45] mariavkourouni commented on #3265
@gjn  yes, I will change it!

[2016-04-06 13:55] gjn commented on #3233
I suspect your laptop :=)

[2016-04-06 14:03] danduk82 opened #3267 "need to work without 204 varnish translations"
Hello,
to go-live with cloudfront for the tiles, we really need to fix the need of translating any S3 response codes with 204 (which is now the case).

We cannot (or I should say: we **should** not) put Varnish behind cloudfront, but directly an S3 bucket. Cloudfront will then forward the same response code as S3, i.e. :

- 403 for almost anything
- >500 ?

Therefore, I have created the addresses

[2016-04-07 06:55] AFoletti commented on #3219
wil be fixed on prod with next deploy

[2016-04-07 06:55] #3219 closed

[2016-04-07 07:03] oterral commented on #3233
Reproductible when we load the codepen with https. Ther e was a js file which were not loaded with https. I've fixed this , that should work now. @davidoesch can you confirm?

[2016-04-07 08:28] davidoesch commented on #3233
Fixed...ok
Am 07.04.2016 9:03 vorm. schrieb "oterral" <notifications@github.com>:

[2016-04-07 08:30] gjn commented on #3233
Thanks @oterral .

[2016-04-07 08:30] #3233 closed

[2016-04-07 08:32] gjn commented on #3246
@oterral I've assigned this one to you because I think we need to address the issue of an outdated stored offline map.

We need to at least alert the user that he can't use his stored map anymore - or find a way that enables him to use it still.

It's about the timestamp that might change after an update and that makes the stored map 'disappear'.

That's high priority for me.

[2016-04-07 08:33] gjn commented on #3227
This is done.

[2016-04-07 08:33] #3227 closed

[2016-04-07 08:34] gjn commented on #3177
This has been done in #3232

[2016-04-07 08:34] #3177 closed

[2016-04-07 08:36] gjn commented on #3173
@alcapat I close this as most things are done now.

[2016-04-07 08:36] #3173 closed

[2016-04-07 08:38] davidoesch commented on #3246
+1 the user has to be notified if there is new data available compared to what he has stored. This was and is a must condition for offline

[2016-04-07 11:27] gjn commented on #3267
I've deployed a [Branch for Testing](https://mf-geoadmin3.dev.bgdi.ch/gjn_wmtserrors)

For reasons unknown to me, no tiles are loaded when using chrome based browsers (chrome, brave) or FF based. Requests are send out, response codes look good (200, 403, etc), but the response itself is empty. Can you reproduce it chrome?

In IE11, it's working.

Regarding the errors: they are now clearly visible

[2016-04-07 11:42] #3213 closed

[2016-04-07 12:14] danduk82 commented on #3267
Interesting bug. I agree with translating all to 204 with cloudfront. Anyway I want to see if I missed something in the varnish config for these tiles.

I have to test to see if in the cloudfront logs there is a trace of the real backend return code.

Andrea

[2016-04-07 12:24] fredj commented on #3267
@gjn in https://mf-geoadmin3.dev.bgdi.ch/gjn_wmtserrors, the tiles are not display because the CORS header is missing (`Access-Control-Allow-Origin`)

[2016-04-07 12:25] danduk82 commented on #3267
I know,
I have just set this : set beresp.http.Access-Control-Allow-Origin = "*";

I was waiting for my testing machine to finish before deploying it on stable

[2016-04-07 12:31] danduk82 commented on #3267
@gjn @fredj , the new config is applied on varnish. Now it works.

It's insane that IE accepts this kind of requests...

Andrea

[2016-04-07 12:38] gjn commented on #3267
Yep, working fine. But I don't think we can get rid of the 204 (or similar) responsed. I think it's a good idea to analyse how we will handle it with cloudfront.

thanks alot @danduk82 for this test.

[2016-04-07 12:47] danduk82 commented on #3267
@gjn did you fix something in the application anyway? I don't see the famous "red tiles" in corrispondence with 403 accesses, which means it works anyway. Did you?

[2016-04-07 12:57] gjn commented on #3267
No changes. Application is current master with different URL for wmts tiles.

What 'red tiles'?

[2016-04-07 13:47] danduk82 commented on #3267
I remember that some application displayed red squares where the tiles were not loaded, but I may confuse with another application.

[2016-04-07 13:57] fredj commented on #3267
@danduk82 you're right: OpenLayers 2 displayed pink squares

[2016-04-07 14:09] gjn commented on #3267
Aaah. Good old ol2.

It was also possible to specify a MAX_RETRY for each tile. @fredj Any change for something similar in ol3?
(I know about the refresh, but this applies to all tiles of a layer).

[2016-04-07 15:10] danduk82 commented on #3267
I guess this is the original reason why all returns codes are transformed in 204, isn't it?

[2016-04-07 15:20] fredj commented on #3267
The reason for HTTP 204 instead of 404 or 403 is to hide loading errors from the console / debugger

[2016-04-07 15:26] danduk82 commented on #3267
Ah ok. @gjn  so what, shall we stop thinking about this and just keep running with 204 translation? I will create a cloudfront distro for testing tiles with this translation.

[2016-04-08 06:20] gjn commented on #3267
Yes. Let's abandon that road for now. If we need specific errors, we can try to log them differently.

+1 for a any->204 test with cloudfront.

[2016-04-08 06:20] #3267 closed

[2016-04-10 17:54] davidoesch opened #3271 "Iframe does not accept swipe"
Reproduce

Take
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.geologie-eiszeit-lgm-raster,ch.swisstopo.geologie-eiszeit-lgm,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2FwwdHdWn-RVuqsMjwKS1HVw&X=191370.00&Y=759380.00&zoom=7&layers_visibility=true,false,false&swipe_ratio=0.59

go to embed

In the embed code / result
Swipe line does appear, but th

[2016-04-10 18:00] davidoesch opened #3272 "iframe changes in preview are not taken into account"
go to
https://s.geo.admin.ch/6b2cae30ac

open Embed
go to preview
in preview zoom out and pan

copy result from preview URL window

result:
result in iframe is https://s.geo.admin.ch/6b2cae30ac

expected result:

zoom and pans in preview window are taken into account

[2016-04-10 19:08] davidoesch opened #3273 "mobile: position does sometime not work"
Nexus P, latest chrome lates  android 6

reproduce
have a map.geo.admin.ch link stored on homescreen
start it from homescreen
navigate.
lock mobile
after a while ( 30min) unlock mobile
use the already open map application
try to position you
it gets youa nice position as shown in the image below: but the position is wrong, no error circle  but the arrow on the position point do turn if you turn as

[2016-04-10 19:18] davidoesch opened #3274 "mobile: offline mode does not switch back"
android latest 6, nexus 6p, offline map stored, latest chrome

store map extent offline
set a link on homescreen
hike around , after a while activate link from home screen
although there is a god and constant 3g connection, app tells you that you are offline. at the same time if you do start map.geo.admin.ch in anew browser window, everything works fine

![unbenannt](https://cloud.githubuserconten

[2016-04-11 05:03] mariokeusen opened #3275 "[draw] script failure when draw mode is on and KML-data is loaded via URL"
UC: click this permalink:
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttp:%2F%2Fgeoshare.impulsthun.ch%2Fkml%2Fimpuls.kml,&layers_visibility=false,false,false,false,true,true&layers_timestamp=18641231,,,,,&X=178268.93&Y=

[2016-04-11 09:52] oterral commented on #3273
disabled then re-enabled the geoloc button doesn't fix the issue?

[2016-04-12 05:22] davidoesch commented on #3273
Nope

[2016-04-12 05:40] mariokeusen opened #3276 "[print] issue when printing drawings from KML generated with swissmapconverter"
UC: open app, load a KML generated from an XOL with swissmapconverter. Print a PDF of the extent with the KML
Result: On the screen the lines are visualized smoothly, on the PDF the lines much fatter than on screen
Expected: looks more or less the same on screen and on the PDF
![print_kmlfromxol_symbology](https://cloud.githubusercontent.com/assets/4577749/14450779/b667ad52-0081-11e6-830c-791c5ee9

[2016-04-12 06:51] gjn commented on #2948
How is it done in geoshop? Is it possible to see this directly in geoshop?

[2016-04-12 07:17] oterral commented on #3275
Ther e is a extra comma at the end of the layer's name `....impuls.kml,`without it seems to work:

https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttp:%2F%2Fgeoshare.impulsthun.ch%2Fkml%2Fimpuls.kml&layers_visibility=false,f

[2016-04-12 07:42] davidoesch commented on #2948
kontakt patrick ibele or beat tschanz for the acces to the sixgroup solution

[2016-04-12 07:45] andreglauser commented on #3275
Thanks for the Fix of this Problem. Unfortunately the comma after `...impuls.kml,` is generated by _Link to edit your drawing later:_ under _Draw and Measure on Map_.

[2016-04-12 07:49] davidoesch opened #3277 "Offline Storage: browser vs homescreen link and external ressource"
Android , Nexus P latest version

reproduce
A)on android load map.geo.admin.ch , create home screen link
B) on a desktop browser create a map, link an external kml , url ressource
Create a qr code from the link in B)

on android , open qr code with qr droid. Chrome browser opens. store map with kml offline
result as expected:
![screenshot_20160412-082647](https://cloud.githubusercontent.com/assets

[2016-04-12 08:47] oterral commented on #3277
When you save A) in a home screen link, there is no KML defined in it so it's not normal it's not appearing when offline.

The stored content is displayed depending on what is defined in the permalink.

[2016-04-12 08:48] oterral commented on #3276
KML file please @mariokeusen

[2016-04-12 08:49] oterral commented on #3275
Yes @andreglauser  fixed with https://github.com/geoadmin/mf-geoadmin3/pull/3278

[2016-04-12 08:58] oterral commented on #3271
You have a KML layer on top, so this is this layer which is swiped

[2016-04-12 08:59] oterral commented on #3271
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.geologie-eiszeit-lgm-raster,ch.swisstopo.geologie-eiszeit-lgm&X=191370.00&Y=759380.00&zoom=7&layers_visibility=true,false&swipe_ratio=0.59

[2016-04-12 09:03] oterral commented on #3218
@rfrancel  may be it's more a CHSDI issue if the problem is in the info box:

https://api3.geo.admin.ch/rest/services/all/MapServer/ch.bafu.moose/legend?lang=fr

[2016-04-12 09:09] oterral commented on #3214
tooltip works with difficulty on low zoom level but well on high zoom level.

[2016-04-12 09:10] mariokeusen commented on #3276
Requested that @helpdesk

[2016-04-12 11:57] #3275 closed

[2016-04-12 13:00] mariokeusen commented on #3276
I could reproduce the issue with Chrome and IE11, with the original KML from the customer.

[2016-04-13 05:21] davidoesch commented on #3271
The issue was - the kml layer was not set active. But in the embed code it was active

[2016-04-13 05:27] davidoesch commented on #3277
For the average user this is hard to understand: if I enter in offline map.geo.admin.ch I get all stored layers (BG and public transportation stop) but not the kml. So how do I get to display my track when I'm offline and I don't know my Permalink?
We are too complicated....

[2016-04-13 06:55] oterral commented on #3271
in your link the kml visibility is set to false, but if you open it the kml is displayed. So the problem doesn't affect only iframe.

[2016-04-13 07:01] oterral commented on #3277
It's not complicated. You saved a link with layers so you have what you've saved. You ask for magic here. Imagine a user who save 2 links with 2 different KMLs. He doesn't want the 2 KMLs are displayed automatically in the 2 links.

The use case is:
- the user opens chrome
- go to map.geo.admin.ch
- add a KML
- then save the link to the home screen

[2016-04-13 07:11] davidoesch commented on #3277
"then save the link to the home screen"
-> this has to be communicated to the user.

Brainstorming: what about adding to the confirmation window of offline when evrything is downloaded " please save the current URL to homescreen" is there a possibility to save it directly via an url? (for IOS I think there is not for android)

[2016-04-13 07:35] #3276 closed

[2016-04-13 07:37] oterral commented on #3277
it seems it's a bad practice because we can't detect if it's a saved link or a chrome link:

See [best practices](https://developer.chrome.com/multidevice/android/installtohomescreen#best-practices) :

[2016-04-13 07:38] oterral commented on #3277
And in chrome the cache is shared between all saved link and that's a problem.

[2016-04-13 07:43] gjn commented on #3208
This is a basic issue we have with pre-generated tiles. Sizes (icons sizes, line widths, etc) on the tiles are created for 96DPI (our standard WMS setting) - optimized for web and computer screens.

In print, we are using 150DPI. So, for a given zoom level in the WMTS pyramid, the icons, line width etc are .064 the size as they appear in the web-viewer. We also have this issues on screens with > 9

[2016-04-13 08:39] gjn commented on #3208
The parameter `MAP_RESOLUTION` can be added to specify a different DPI for a given request:

[Default (96 dpi)](http://wms1.geo.admin.ch/?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.bav.haltestellen-oev&LANG=de&WIDTH=532&HEIGHT=532&CRS=EPSG%3A21781&STYLES=&BBOX=701500%2C216780%2C706820%2C222100)

[Same Request with 300 dpi](http://wms1.geo.admin.ch/?SERVI

[2016-04-13 11:15] gjn commented on #3208
Funny thing: when printing a WMS layer, the print server sends a request with a `DPI=150` parameter specified. But this parameter is ignored by our WMS server.

[2016-04-15 09:32] davidoesch commented on #2948
current iimp
https://mf-geoadmin3.dev.bgdi.ch/ltfap/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.kantone.cadastralwebmap-farbe&X=204768.79&Y=680417.55&zoom=9

to fix
- [ ] PDF text is to big
- [ ] loading icons are not centered
- [x] name the link "Plan für das Grundbuch"

[2016-04-19 07:57] #3265 closed

[2016-04-19 11:10] rfrancel opened #3285 "Add max kml size in ' file too big' popup message"

[2016-04-25 07:12] oterral commented on #3272
I can understand the problem (google map iframe doesn't update the link too) but to fix this that needs a dirty communication between iframe and the parent window. I'm not sure we want this.

As workaround we could disallow navigation in the iframe modal

[2016-04-25 07:44] gjn commented on #3272
http://stackoverflow.com/questions/938180/get-current-url-from-iframe

we should be able to get url of iframe rather easy.

[2016-04-25 11:18] gjn opened #3289 "Selenium Driver updates"
Sauce Labs is dedicated to keeping up-to-date with the latest Selenium Driver releases. As part of that process, we are upgrading the default versions of Selenium (2.53.0), Chrome (2.21), and Internet Explorer drivers (2.53.1) on our cloud to be on par with the latest releases.
The changes will take effect starting Friday, April 29th. In the meantime, we advise you to try your tests on this new ve

[2016-04-25 11:57] gjn opened #3290 "API URL via hidden permalink value"
I think to create testlinks for mf-chsdi3, it would make sense to be able to specify the API URL via hidden Permalink parameter. Therefore, you don't need to create a test-branch in mf-geoadmin3 to test mf-chsdi3 branches.

@rfrancel Could you give it a try?

[2016-04-25 12:04] rfrancel commented on #3290
Yes, I'll have a look at it, thanks!

[2016-04-25 13:35] mariokeusen opened #3291 "[search field] Typo in German standard text in search field"
UC: open app in German, look at the search field
Result: there is a slight typo in the standard text of the search field: **z.b. **Bundesplatz

Expected: **z.B.**
![typo_search_field_de](https://cloud.githubusercontent.com/assets/4577749/14785455/1b994e3c-0afb-11e6-95ba-02dc4defddc2.png)
Changed that already in the translation table.

[2016-04-26 06:41] oterral commented on #3203
An element of layers collection must [undefined](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/layermanager/LayermanagerDirective.js#L263)

[2016-04-26 07:40] oterral commented on #3118
Issue cretaed on openlayers https://github.com/openlayers/ol3/issues/5269

[2016-04-26 11:41] davidoesch commented on #2570
nicely done

[2016-04-26 11:41] oterral commented on #3271
@davidoesch  [Test](https://mf-geoadmin3.dev.bgdi.ch/teo_fixes/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.geologie-eiszeit-lgm-raster,ch.swisstopo.geologie-eiszeit-lgm,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2FwwdHdWn-RVuqsMjwKS1HVw&X=191370.00&Y=759380.00&zoom=7&layers_visibility=true,false,false&swipe_ratio=0.59)

[2016-04-26 12:36] oterral commented on #3272
Yes but we still need to know when the url has changed and for that we need to listen some events from the child window.
We could detect mouse/keyboard/touch/wheel events on iframe but it seems not very robust.

[2016-04-26 13:24] gjn commented on #3272
Can't we read it when leaving the preview? No even on that?

[2016-04-26 14:23] #2570 closed

[2016-04-26 14:23] #2811 closed

[2016-04-26 14:23] #3014 closed

[2016-04-26 14:23] #3271 closed

[2016-04-26 14:23] #3285 closed

[2016-04-26 14:23] #3291 closed

[2016-04-27 09:44] mariokeusen opened #3293 "[top4 layers] remove ch.bafu.wrz-wildruhezonen_portal from proposed layers in ech-topic"
Due to a change in the layer stats and an input from the Wildruhezonen specialists, we (oed, kem) decided to remove this layer from the proposed layers in ech-topic.

[2016-04-27 09:47] loicgasser commented on #3293
Do we have a replacement?

[2016-04-27 10:52] mariokeusen commented on #3293
Either we go on with top-3 layers or we chose one of the other top layers from the latest wmts stats?
What do you think @davidoesch ?

[2016-04-27 11:28] gjn commented on #3293
haltestellen?

[2016-04-27 13:22] oterral opened #3295 "Time select box doesn't contain 'all' value for WMS"
Happens only on mobile version with WMS time enabled layers.

The list of timestamps are present but the value 'all'.

[2016-04-27 14:33] davidoesch commented on #3293
+1 push the haltestellen,

[2016-04-27 15:14] oterral commented on #2640
We can't do anything , mor eprobably a fix can come on server side.

See http://stackoverflow.com/questions/2200100/input-type-file-for-ie-gives-full-path-need-file-name-only

[2016-04-27 15:14] #2640 closed

[2016-04-27 15:14] oterral commented on #2640
I've created an issue on https://github.com/geoadmin/mf-chsdi3/issues/2052

[2016-04-27 15:16] oterral commented on #2715
Duplicate of #3104

[2016-04-27 15:16] #2715 closed

[2016-04-27 16:00] #3039 closed

[2016-04-28 06:40] oterral commented on #3253
Timeslider applies only ' real ' timestamp.

timeBehavior is never 'current' or am I missing something?

[2016-04-28 06:47] mariokeusen commented on #3293
Good idea, I think we can go with ch.bav.haltestellen-oev

[2016-04-28 06:54] ltclm commented on #3253
current is a recently introduced real timestamp in s3.
this timestamp should be supported by the timeslider
[code]

[2016-04-28 07:06] oterral commented on #3253
When I meant real timestamp I meant a number

[2016-04-28 09:12] ltclm commented on #3253
@loicgasser @gjn
The "current" timestamp has to be replaced with a number for the timeslider. Assuming that ``current`` represents the current year we see two options to realize that:

**a) new timeBehaviour ``current``**
this option needs modifications on client and server side. The new layers config response would look like that:
[code]
The timestamps value ``20161231`` will be generated dynamic

[2016-04-28 10:37] loicgasser commented on #3253
I think b) is easier and makes more sense as timestamps are used to configure the wmts I would not mix both.

[2016-04-28 11:58] oterral commented on #2951
I close this one since it seems a chrome debugger bug.

[2016-04-28 11:58] #2951 closed

[2016-04-28 13:23] oterral commented on #3203
@loicgasser dis you succeed to reproduce?

[2016-04-28 13:28] oterral commented on #2548
For me nothing must be done. The tooltip corresponds to a year so it makes sense the user have to  close the popup before he changes the year

[2016-04-28 14:14] oterral opened #3297 "A3 landscape: coordinates not printed"
From helpdesk:

[code]

[2016-04-28 15:08] gjn commented on #3253
b for me as well.
Am 28.04.2016 11:12 vorm. schrieb Clausen Marcel <notifications@github.com>:@loicgasser @gjn
The "current" timestamp has to be replaced with a number for the timeslider. Assuming that current represents the current year we see two options to realize that:

a) new timeBehaviour current
this option needs modifications on client and server side. The new layers config response would

[2016-04-29 08:10] mariokeusen opened #3298 "[layertree/layerselection] not the same layer title in selection and layertree"
UC: open https://map.geo.admin.ch/?topic=swisstopo&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&catalogNodes=1538&layers=ch.swisstopo.wk50-papierkarte.metadata , look at the layertree/catalog and the name of the activated layer, look at the name of the layer in the selection
Result: not the same layer name in selection and catalog (yes, there is also an error in geocat, in DE there is a RM altern

[2016-04-29 11:13] AFoletti commented on #3298
@mariokeusen you already found the geocat problem.
About the difference, I really don't know what to say. The two are coupled by a trigger in the BOD, which seems to have not worked in this case (we should have had the RM version in the selection too).
I cant reproduce the mishap, since the trigger reacts correctly every time I call it.
To sum up: I fixed the issue but I'm unable to see the reason

[2016-04-29 15:00] davidoesch opened #3299 "swisssearch support in iframe code"
This code

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/15022570/96177ffc-122c-11e6-8827-cd0fef981197.png)

does not give a marker on the address searched

Expected result:  map is zoomed to address with marker , as for https://map.geo.admin.ch/?swisssearch=Holzikofenweg 36, 3007 Bern

(hint this is for the stellen.admin.ch website)

[2016-05-02 06:37] ltclm commented on #3298
it is hard to find the reason for the problem.
The catalog translation comes directly from the bod (re3.view_catalog). Currently the bod entries for this layer is wrong on prod and fixed on dev (thanks @AFoletti ).

The layer selection translation comes from the chsdi code, translation source is public.transations. The current entries in bod_prod are correct.
Since the table dataset and translatio

[2016-05-02 18:23] davidoesch opened #3300 "Stationboard: no results"
Hi Since Sunday 1.5.2016: the stationbaord as eg in

https://map.geo.admin.ch/?ch.bav.haltestellen-oev=8573055&lang=de&topic=ech&showTooltip=true&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bav.haltestellen-oev,ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false,false&layers_times

[2016-05-02 19:08] gjn commented on #3300
Can't believe this...
Am 02.05.2016 8:23 nachm. schrieb David Oesch <notifications@github.com>:Hi Since Sunday 1.5.2016: the stationbaord as eg in

https://map.geo.admin.ch/?ch.bav.haltestellen-oev=8573055&lang=de&topic=ech&showTooltip=true&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.bav.haltestellen-oev,ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal

[2016-05-02 19:35] loicgasser commented on #3300
seems like the departure table is empty:

[code]

[2016-05-02 19:42] loicgasser commented on #3300
It seems ok in dev, I could deploy the dev tables to prod as temporary measure

[code]

[2016-05-02 19:51] loicgasser commented on #3300
It's ok on int as well.

[2016-05-02 20:02] loicgasser commented on #3300
@ltclm just took care of it. will be fixed tomorrow thanks man

[2016-05-03 05:07] AFoletti commented on #3300
@ltclm found the problem (wrong active branch) and it's now fixed.
We should still find a way to have a better look at this data.
@alcapat had a nice suggestion: to prepare a script checking the min and max date in the tables, and let jenkins send an email if the max date is less than 3 days from "now". This way the check mechanism will be completely independent from the integration

[2016-05-03 05:19] davidoesch commented on #3300
Not yet working here...

[2016-05-03 05:44] AFoletti commented on #3300
@davidoesch it's not "not working". There is not data for the station you selected and that's different (every point round this one has data).
In the last imported data, the only entry for the station you selected is a departure on may the 7th.
In my opinion, the original data is at fault here

[2016-05-03 15:24] davidoesch commented on #3299
@oterral ... Is this a bug or a feature enhancement

[2016-05-04 09:08] #3300 closed

[2016-05-04 11:18] oterral commented on #3299
I have the same results from  swisssearch param and from search box

[2016-05-04 11:23] davidoesch commented on #3299
I  enter  "https://map.geo.admin.ch/?swisssearch=Holzikofenweg 36, 3007 Bern" in a browser,  it results in https://map.geo.admin.ch/?swisssearch=Holzikofenweg%2036,%203007%20Bern&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,fa

[2016-05-04 17:14] davidoesch commented on #3299
I expect that

<div class="col col2">
<div class="teaser_box">
<iframe src="https://map.geo.admin.ch/embed.html?swisssearch=Holzikofenweg 36, 3007 Bern" width="297" height="200"></iframe>
Ihr Arbeitsort: Holzikofenweg 36, 3007 Bern
</div>
</div>

gives the result above