[2015-07-03 12:02] oterral commented on #2450
Fixed on prod

[2015-07-03 12:02] #2450 closed

[2015-07-03 12:05] oterral commented on #1481
Fixed in prod

[2015-07-03 12:05] #1481 closed

[2015-07-03 12:08] oterral commented on #2324
Will be fixed on prod with https://github.com/geoadmin/mf-geoadmin3/issues/2414 and https://github.com/geoadmin/mf-geoadmin3/pull/2415

So we can close this one since the main accordion redesign has been made with draw.

[2015-07-03 12:08] #2324 closed

[2015-07-03 12:09] oterral commented on #1654
Duplicate with https://github.com/geoadmin/mf-geoadmin3/issues/2414

[2015-07-03 12:09] #1654 closed

[2015-07-04 05:38] cedricmoullet commented on #2456
@gjn could you please retest ?

[2015-07-04 07:39] davidoesch opened #2468 "Geolocation : device orientation not correct"
The device orientation on geolocation points 90 degree wrong direction. Image below : holding the iPhone safari /chrome direction of the highway: result in map it tells me that the device is looking north. But arrow should point to West

[2015-07-04 07:40] davidoesch commented on #2468
![image](https://cloud.githubusercontent.com/assets/4577727/8506996/b34b5400-2230-11e5-8389-c142180ae5ca.jpg)

[2015-07-05 18:10] cedricmoullet commented on #2468
have you calibrated the "boussole" ?

2015-07-04 9:41 GMT+02:00 davidoesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-07-05 21:42] davidoesch commented on #2468
I did ... Gmaps and map search mobile and web app do run perfectly on the same device. Gmap u have to use the old version...

On Sun, Jul 5, 2015 at 8:10 PM, Cédric Moullet <notifications@github.com>
wrote:

[2015-07-06 15:15] mariokeusen opened #2470 "[query tool] integrate a warning in a tooltip, if the result number is more than 200"
As discussed with Cédric today:

UC: open app with topic=aviation, make a user defined query on the obstacle layer that produces more than 200 results.
![query_alert_over200](https://cloud.githubusercontent.com/assets/4577749/8525649/7a6dba46-2402-11e5-8e9c-3748b2d0b817.PNG)

Result: on top of the result window there is indicated (+200 objects). A new user who does not know the tool, will not unde

[2015-07-06 15:15] mariokeusen commented on #2470
[1] https://docs.google.com/spreadsheets/d/1F3R46w4PODfsbJq7jd79sapy3B7TXhQcYM7SEaccOA0/edit#gid=0

[2015-07-06 15:59] oterral commented on #2310
angular translate attribute can be used due to  https://github.com/angular-translate/angular-translate/issues/1027

[2015-07-06 15:59] #2310 closed

[2015-07-06 20:24] cedricmoullet commented on #2356
@mariokeusen ?

[2015-07-07 07:49] daguer opened #2474 "Obtain the coordinates of the click"

[2015-07-07 07:51] daguer commented on #2474
We have to obtain the coordinates of the client click in the mako.
We have now just the map extend.
@cedricmoullet : prio?

[2015-07-07 12:01] oterral opened #2477 "Swipe permalink doesn't work"
https://mf-geoadmin3.dev.bgdi.ch/?lang=fr&topic=swisstopo&bgLayer=voidLayer&X=190000.00&Y=660000.00&zoom=1&catalogNodes=1392&layers_timestamp=20131231,18641231&layers=ch.swisstopo.zeitreihen,ch.swisstopo.zeitreihen&swipe_ratio=0.50

[2015-07-07 12:06] cedricmoullet commented on #2477
Please add this as test in the deployment procedure

[2015-07-07 12:41] cedricmoullet opened #2479 "IE9/IE10 content type issue for file storing"
Content type is not sent correctly by IE9/IE10.

[2015-07-07 12:46] gjn commented on #2479
Effect is 503 on service?

[2015-07-07 12:50] cedricmoullet commented on #2479
no, but a 415

2015-07-07 14:46 GMT+02:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-07-07 12:52] gjn commented on #2479
STrange. I tested on IE9 and it seemed to be working.

Anywho, post has it's trouble with headers in IE9. We had to fix profile service as well when we switched from GET to POST: https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/profile/ProfileService.js#L149

We simulated formdata in IE9. See full PR here: https://github.com/geoadmin/mf-geoadmin3/commit/25d07f2e1ea5224b4c60c0384

[2015-07-07 14:19] oterral opened #2480 "IE9 : replaceState triggers a js error when opening the draw"
`window.history.replaceState` doesn't exist in IE9

[2015-07-07 16:24] oterral commented on #2417
Typeahead is too old it doesn't detect ie correctly. And the new versions of typeahead are totally different. I can do a hack waiting we remove Typeahead definitvely.

[2015-07-08 04:58] #2427 closed

[2015-07-08 05:00] #2417 closed

[2015-07-08 05:05] #2480 closed

[2015-07-08 06:04] #2477 closed

[2015-07-08 07:51] oterral commented on #2431
Do you have the wms url @procrastinatio ?

[2015-07-08 08:20] oterral commented on #2479
Maybe we can do a generic transformrequest to automatically build a formDtat when it's ie9

[2015-07-08 08:34] gjn commented on #2479
Yes, this might be the best solution (inside one of angulars request hooks)

[2015-07-08 09:44] oterral commented on #2479
In fact I don't think it the same problem.

The only problem of files service is that IE9 can send custom headers.
The problem of Profile service is that it doesn't handle json as a content/type that why you need to send FormData

[2015-07-10 07:18] #2312 closed

[2015-07-10 07:20] #2410 closed

[2015-07-10 07:24] cedricmoullet commented on #2150
Should be put in V2

[2015-07-10 07:24] #2150 closed

[2015-07-10 07:26] cedricmoullet commented on #1540
@pfanguin is it something that you could do ?

[2015-07-10 07:27] cedricmoullet commented on #2231
It has to be put in the V2

[2015-07-10 07:27] #2231 closed

[2015-07-10 13:43] pfanguin commented on #1540
I look that!

[2015-07-13 05:11] mariokeusen commented on #2356
Confirmed. We'll implement a global boolean operator.

[2015-07-13 05:17] cedricmoullet commented on #2356
@loicgasser Could you please propose a mockup for this ?

[2015-07-13 05:22] mariokeusen commented on #2470
@cedricmoullet can you make an estimation when we could have this resolved, in order I can make a solid statement for the stakeholders? Thanks

[2015-07-13 06:02] loicgasser commented on #2356
ok I will

[2015-07-13 07:02] oterral opened #2488 "Detect canton abbreviation in search"
Example of use:

1) Type 'Camping' in the search box
2) Works fine, I get a list of all the campings. But the list appears with the canton abbreviation in parenthesis, So I think if I add '(BE)'  to my current search I get the list of camping of Bern canton.
3) Type  'Camping (BE)'
4) A mix list of 3 campings and a lot of useless addresses

When I type  'Camping (BE)' , shouldn't I receive a subse

[2015-07-13 07:04] mariokeusen opened #2489 "[Print grids]: LV03 longitude labels not visible on all print scales"
UC: open app, open the print menu, check the coordinate grid checkbox, select one of the printscales from this list:
1:2 500 000
1:1 000 000
1:500 000
1:300 000
1:200 000
1:10 000
1:2 500
1:1 000

then print a PDF.
Result: for the listed scales the longitude labels of the swiss coordinate grid (LV03) are not visible
Expected: longitude labels are visible for both WGS84 and LV03 grids

Alternative:

[2015-07-13 07:09] davidoesch commented on #2489
There is already an open feature request regarding this --- will look into that

[2015-07-14 06:38] procrastinatio commented on #2489
What do you mean, by **not visible** ? Colour, font size ?

![image](https://cloud.githubusercontent.com/assets/1236739/8667700/4593f1bc-2a03-11e5-95e8-3b7909dd9369.png)

[2015-07-14 06:57] cedricmoullet commented on #2458
Current approach doesn't allow to fix this. We need to create a new directive for the management of the attribution. This would give use also more freedom for the management of multilines etc...

[2015-07-14 07:56] cedricmoullet commented on #2470
@mariokeusen end of Q3 deadline ?

[2015-07-14 10:31] mariokeusen commented on #2470
Fine for me. Will inform the bazl people.

[2015-07-14 10:39] mariokeusen commented on #2489
The latitude labels are visible, the longitude not.

[2015-07-14 13:47] cedricmoullet commented on #2286
@oterral any thoughts ?

[2015-07-14 15:32] procrastinatio commented on #2489
Even for the above mentionned scale, it is not systematic. Sometimes, the longitude/Y/eastings are present, sometime not.

[2015-07-14 15:34] procrastinatio commented on #2489
If you want full control, with real preview, the best alternative is using vector on the client side.

[2015-07-15 18:48] loicgasser commented on #2083
I guess we go for the third proposal.
When zooming in or out we refresh the selection in the rectangle. While waiting for infra, I can do that.

[2015-07-16 10:08] oterral commented on #2105
`ga-translation-selector` and `ga-topic` will not be suspicious anymore  with https://github.com/geoadmin/mf-geoadmin3/pull/2471

[2015-07-16 15:06] #1540 closed

[2015-07-17 05:52] gjn commented on #2083
It's low prio for me.

[2015-07-20 05:29] davidoesch commented on #2489
@cedricmoullet strong suggestion to go here for
1) a vector approach on the client side
2) or improving mapfish print server via geomapfish initivative
before we invest here more time with the WMS

[2015-07-20 11:35] #2441 closed

[2015-07-21 09:24] p1d1d1 opened #2502 "Warning message on wms-bgdi import"
Would it be so complicated to add a further "if..then" in the code so that:

if wms_import_url=wms.geo.admin.ch/ then warning icon/message is not shown?

[2015-07-21 09:38] oterral commented on #2502
Hmmm, a long time ago  it worked that way. It's a regression.

[2015-07-21 09:58] procrastinatio opened #2504 "GPS tracking: user defined refresh interval"
via helpdesk

[2015-07-21 13:31] #2474 closed

[2015-07-22 05:51] #2479 closed

[2015-07-22 12:45] Jenselme opened #2511 "Hide search results when switching to draw view"
If you type a search (eg mout), don't select any result and then activate the "draw and measure" tool, you will still see your search results even if the search box is hidden (see screenshot).

![search-draw](https://cloud.githubusercontent.com/assets/6643536/8825507/012b42e0-3080-11e5-98b1-555fab540365.png)

I think it would be better to hide those search results.

[2015-07-23 06:51] procrastinatio opened #2512 "Catalog items are not translated when fall back to default language"
Only Chrome (IE and FF OK)

1/ Link https://map.geo.admin.ch/?topic=gewiss&lang=it
2/ As 'lang=it' doesnt exist for 'topic=gewiss', switch to German
3/ First level in catalog is missing (if you go directly with 'lang=de' it's OK)

![gewiss](https://cloud.githubusercontent.com/assets/1236739/8844608/45463e98-3117-11e5-8668-a6a03b37c7e6.jpg)

Expected: First level in tree should be translated in Ger

[2015-07-23 07:14] danielabrandt opened #2513 "Print of KML (tooltip) in Desktop Version does not work properly (image does not show up)"
If I want to print out the KML:
https://s.geo.admin.ch/65e4f43354

![pdf](https://cloud.githubusercontent.com/assets/5592275/8844996/364d2ee8-311b-11e5-913f-43284ca917a9.JPG)

see Image there is no proper print.

[2015-07-23 07:22] danielabrandt opened #2514 "Style of "Positioninformationbox" differs"
Hi Style of Position Information box while klicking on this link with KML https://s.geo.admin.ch/65e52496fe  is different than the normal one (see screenshot)

![positioninformation](https://cloud.githubusercontent.com/assets/5592275/8845106/124c9546-311c-11e5-8a02-2acc318a0422.JPG)

[2015-07-23 07:24] davidoesch opened #2515 "CSS: kml overrides application"
open
https://map.geo.admin.ch/?X=222686.62&Y=649577.34&zoom=5&lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=KML||http:%2F%2Fpublic.geo.admin.ch%2FStoryMap_NLK25.kml,ch.swisstopo.zeitreihen&catalogNodes=457,458&layers_timestamp=,20101231&time=2010&swipe_ratio=0.50

click on a POI

then right click in map

result
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/884517

[2015-07-23 07:29] davidoesch commented on #2514
duplicate of 2015

[2015-07-23 07:33] gjn commented on #2513
Do you mean printing the tooltip?

[2015-07-23 07:33] danielabrandt commented on #2513
yes exactly!

[2015-07-23 07:34] gjn commented on #2513
It seems to work for me: https://www.dropbox.com/s/a31lt0vjq15dg1v/Screenshot%202015-07-23%2009.33.23.png?dl=0

[2015-07-23 07:34] gjn commented on #2513
Can you specify which object exactly?

[2015-07-23 07:36] gjn commented on #2514
Can't reproduce this.

[2015-07-23 07:36] danielabrandt commented on #2513
any objekt in this link: https://s.geo.admin.ch/65e4f43354 (pdf print)

[2015-07-23 07:37] gjn commented on #2513
pdf print? tooltip print does not create pdf. I'm confused...

[2015-07-23 07:38] gjn commented on #2514
Duplicate of #2515...now I can reproduce.

[2015-07-23 07:39] gjn commented on #2513
Does the print preview show up correctly? (After clicking the print icon)

[2015-07-23 07:40] oterral commented on #2514
Step to reproduce :
1) Click on a marker --> that displays the tooltip
2) Right click on the map, the css appears like in the screenshot

The css of the contetn of tooltip breaks the css of the app.

@pauloamado can you fix the CSS of the KML description ?

[2015-07-23 07:41] #2514 closed

[2015-07-23 07:41] oterral commented on #2515
Step to reproduce :
1) Click on a marker --> that displays the tooltip
2) Right click on the map, the css appears like in the screenshot

The css of the contetn of tooltip breaks the css of the app.

@pauloamado can you fix the CSS of the KML description ?

[2015-07-23 07:42] oterral commented on #2513
There is a map on the tooltip. The default print browser is not efficient.

[2015-07-23 07:44] danielabrandt commented on #2513
![pdfprintkmltooltip](https://cloud.githubusercontent.com/assets/5592275/8845411/4a27e7ce-311f-11e5-96db-6a1acec44b27.JPG)
I see the map on the preview but afterwards on the pdf its gone

[2015-07-23 07:45] gjn commented on #2513
Looks like a printer/browser issue then to me. Did you try to print on a different printer?

[2015-07-23 07:45] gjn commented on #2513
Or with a different browser?

[2015-07-23 07:47] danielabrandt commented on #2513
it is IE and I tried with surface print as well it did not work with surface print

[2015-07-23 07:49] danielabrandt commented on #2513
Google Chrome does not work too
![printgooglechrome](https://cloud.githubusercontent.com/assets/5592275/8845506/12c3e4bc-3120-11e5-8b70-a65d76f55f69.JPG)

[2015-07-23 08:00] gjn commented on #2513
hmm. We'll have a look. But as @oterral said, printing maps with browser print is not very well supported. That's why we create pdfs with mapfish print in the first place...

[2015-07-23 08:04] gjn commented on #2515
We should make our css more robust as well. Can't controll all kml driven css..

[2015-07-23 08:15] #2502 closed

[2015-07-23 10:14] pauloamado commented on #2514
the CSS in KML description has been adapted. It works now.

[2015-07-27 09:37] mariokeusen opened #2522 "[topic selector] polygon default layers have 100% opacity instead of 75% since last deploy"
UC: open application, switch to topic=geol or topic=gewiss
Result: the polygon default layers of those topics have 100% opacity
Expected: polygon default layers have 75% default opacity, like it was before the latest deploy

[2015-07-27 13:56] oterral opened #2525 "gjslinter doesn't work as expected"
It seems that the linter command  doesn't work as we expected  :
`.build-artefacts/python-venv/bin/gjslint -r src/components src/js --jslint_error=all `

The files in src/js are not linted and the option `--jslint__error` is not taking in account, the correct syntax  is :
`.build-artefacts/python-venv/bin/gjslint -r src/components -r src/js --jslint_error=all `

[2015-07-27 13:57] oterral commented on #2525
I let you imagine how long is the list of modificaions with the correct command :)

[2015-07-27 21:27] davidoesch opened #2527 "scrollbar in selection window on large screen"
open
https://s.geo.admin.ch/65fcc2a729

result: not all layers are vis in selection even if there are not a lot selected

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/8918196/da8b827c-34b6-11e5-8386-f47797481e3e.PNG)

proposal: add scrollbar in selector if accordeon is bigger than screen height

[2015-07-28 07:03] oterral commented on #2527
I think we can set dynamically the max size of the pulldown on window resize, but we should wait the finish of the pulldown component redesign before doing this.

[2015-07-28 11:15] #2525 closed

[2015-07-28 11:17] #2513 closed

[2015-07-28 11:20] #2522 closed

[2015-07-28 11:34] #2512 closed

[2015-07-28 12:54] #2456 closed

[2015-07-28 13:51] loicgasser commented on #2356
Keeping the same design we could per default, hide the option. (Nothing changes)
![query_1](https://cloud.githubusercontent.com/assets/3306154/8932885/1c12ce88-3540-11e5-80ca-373a49170e77.png)

Then when we have more than 1 filter, display a select box to select the operator:
![query_2](https://cloud.githubusercontent.com/assets/3306154/8932894/34f68f20-3540-11e5-8b98-993fca020ffe.png)

Alternativ

[2015-07-28 15:58] gjn opened #2531 "IE9 browserstack tests fail since today"
Git bisect revealed that this commit:

https://github.com/geoadmin/mf-geoadmin3/commit/975cdc38f5d2b2d6a15cf3849e846c00748b1aa9

makes the IE9 browserstack tests fail. The test only checks for page loading by checking for existence of the first catalog element -> https://github.com/geoadmin/mf-geoadmin3/blob/master/test/selenium/start_test.js#L14

All other browsers in browserstack are doing good.

[2015-07-28 16:19] gjn commented on #2531
If I remove the `timeout` parameter of the http catalog request, it works.
If I set `timeout:10000` it works.

If it uses a promise, it doesn't work for some reason. Looks like IE9 troubles with promises...or our IE9 fixes in conflict with them. Damn.

Other ways to check if page is finished loading?

[2015-07-28 17:24] davidoesch opened #2532 "KML Import: width button does not fit"
ff 39.
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/8938327/4b1ba97a-355e-11e5-975b-24be24820829.PNG)

[2015-07-29 08:57] oterral opened #2534 "Catalog header in pulldown shouldn't be display on 2 lines"
![cartes de la suisse confederation suisse map geo admin ch](https://cloud.githubusercontent.com/assets/621420/8953665/89f428ca-35e0-11e5-9cc5-b4270024c6f8.png)

[2015-07-29 14:17] #2531 closed

[2015-07-30 06:58] mariokeusen commented on #2356
I'd also hide that until the user makes a second filter, because it's simply not needed with only one filter.

[2015-07-30 09:09] oterral commented on #2356
Do you want also grouped queries like (condition1 AND condition2) or (condition3 and condition4) ?

[2015-07-30 10:55] loicgasser commented on #2356
no we simply want a global operator and/or.

[2015-07-30 14:32] alcapat commented on #2355
@cedricmoullet new test created for wordforms https://github.com/geoadmin/mf-geoadmin3/pull/2540

[2015-07-31 06:51] gjn opened #2543 "SEO: google parses angular replacements"
From @davidoesch
[code]

Apparently, the idea that google executes javascript is not really true, or not true all the time. Otherwise, this wont' happen.

Long term solution is server-side rendering of pages, with fully translated content.

Short term: Maybe use english text as keys?

@oterral ?

[2015-07-31 07:08] #2511 closed

[2015-07-31 07:08] cedricmoullet commented on #2448
@oterral do you see a "not too complex fix" for that ?

[2015-07-31 07:09] cedricmoullet commented on #2366
@loicgasser please do

[2015-07-31 07:35] loicgasser commented on #2366
it means code specific stuff for the legends of these layers, but ok.

[2015-08-03 08:25] davidoesch opened #2545 "GPS intervall: settings?"
Es wäre nett, wenn man den Aktualisierungs Intervall beim GPS Tracking manuell einstellen könnte. Bei den paar Sekunden, die jetzt hardcoded drin sind, ist der Akku ganz schnell mal leer.

Als Wanderer z.B. brauche ich bestimmt nicht alle 5 Meter einen Waypoint. Um dann dafür nach 3 Stunden mit leerem Akku dazustehen.

[2015-08-03 13:52] davidoesch commented on #2301
Provide GPX import by an external site http://www.swisstopo.admin.ch/internet/swisstopo/en/home/apps/calc/kml.html - this site has to use http://swissmapconverter.ch/ provide service as swisstopo

[2015-08-03 14:09] loicgasser commented on #2301
http://swissmapconverter.ch/  does GPX to KML not the opposite right?

[2015-08-03 14:10] loicgasser commented on #2301
Anyway this shouldn't be to hard to implement in CHSDI in case we can't use this service.

[2015-08-04 06:52] oterral commented on #2448
Not really we could store theses images in local storage. But I'm not sure how OL will handle base 64 images.

[2015-08-04 06:52] oterral commented on #2448
May be the best is to add default images when offline.

[2015-08-04 08:47] oterral commented on #2543
Maybe google has saved a page during a deploy so the page has failed to load during a small amount of time.

[2015-08-04 08:48] oterral commented on #2543
We could use english as key but it could be diffuclt to maintain.

[2015-08-04 09:01] oterral commented on #2543
Have we tried this : https://developers.google.com/webmasters/ajax-crawling/docs/getting-started#3-handle-pages-without-hash-fragments ?

[2015-08-04 10:04] gjn commented on #2543
Yes, we have this: https://github.com/geoadmin/mf-geoadmin3/blob/master/src/index.mako.html#L26

[2015-08-05 06:29] mariokeusen opened #2548 "[time slider] in desktop mode, tooltip window covers the time-slider"
UC: open app on a desktop client, open the topic=luftbilder, enable the time-slider, go somewhere in space & time where there is data and left-click an object
Result: the tooltip window covers the time-slider (see screenshot)
![tooltip_timeslider](https://cloud.githubusercontent.com/assets/4577749/9079575/fe2dfb60-3b4b-11e5-8d3a-a066f59805b3.PNG)

Expected: tooltip window is placed a bit below the

[2015-08-05 08:48] davidoesch opened #2549 "On load of the application, search input is not focused"
not the case currently on ff

[2015-08-05 14:00] davidoesch opened #2552 "soundex / metaphone results improvement"
in the swissearch results results

- [ ] add a line "Meinten Sie" "Did you mean"  etc

before the soundex / metaphone are shown:
Result: so it is clear for the user that here suggestion are listed

- [ ] try to use the get a score of  soundex / metaphone results/match and only show suggestions if the QS is top 25%
Result: we get rid of completely nonsense answer

[2015-08-10 20:58] UserGis opened #2562 "Problem install"
I  download mf-geoadmin3,but when I run make all I am getting this error:

Exception in thread "main" java.lang.UnsupportedClassVersionError: com/google/javascript/jscomp/CommandLineRunner : Unsupported major.minor version 51.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:643)
	at java.security.SecureClassLoader.defineClass(SecureClas

[2015-08-10 23:38] fbonzon opened #2563 "Bad translations in fr"
In French, I see 1 spelling mistake and 3 poor translations in the Legend for layers
ch.swisstopo.swisstlm3d-karte-farbe
ch.swisstopo.swisstlm3d-karte-grau

German:
Einfahrt / Ausfahrt
Verbindungsstrasse
Perron
Schutzgebietsgrenze

Actual French incorrect:
Entrée / accès
Route d'importance régional
Perron
Limite de refuge

Correct French:
Entrée / sortie
Route d'importance régionale
Quai de gare O

[2015-08-11 04:36] cedricmoullet commented on #2563
@mariokeusen could you please treat this ticket ?

[2015-08-11 05:33] mariokeusen commented on #2563
Forwarded to the data owner @swisstopo who's responsible for these layers.

[2015-08-11 08:34] oterral opened #2564 "Create a test page for font-awesome icons"
Related to #2509
There is something that still bother me. A font-aweosme icon must be aligned with a text by default (default css is vertical-align: baseline) here it's not the case.

Are you able to provide an HTML test page with all the icons we have when you build the font?. Like this one http://fortawesome.github.io/Font-Awesome/3.2.1/cheatsheet/

With this kind of page we could easily see if

[2015-08-12 10:50] fredj opened #2568 "[3D] olcs.OLCesium in GaMainController scope"
Just like the ol.Map, the olcs.OLCesium instance should be available in the GaMainController scope

[2015-08-13 05:22] cedricmoullet opened #2570 "Loading indicator"
For some layers like https://map.geo.admin.ch/mobile.html?X=174472.32&Y=614224.87&zoom=4&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers_opacity=0.75&mobile=true&layers=ch.bafu.gewaesserschutzbereiche the tooltip query can take quite a long time. On mobile, we have a loading indicator. Could we have something equivalent on desktop ? Currently, the user clicks but doesn't know that s

[2015-08-13 06:42] oterral commented on #2570
On desktop the cursor is changing mormally.

[2015-08-13 06:44] cedricmoullet commented on #2570
not on chrome windows (with the desktop version, and not the mobile)

[2015-08-13 08:40] fredj commented on #2568
If I understand correctly, the cesium initialization is in ga_map_directive because the map target has to be set (`map.setTarget(element[0])`) ?

[2015-08-13 08:41] oterral commented on #2568
yes

[2015-08-13 08:45] oterral commented on #2568
but now you can listen for  `globals.is3dActive` change event to load cesium viewer in the main controller .

[2015-08-13 08:45] elemoine commented on #2568
Creating an `olcs.OLCesium` instance with a map that does not yet have a `target` doesn't work? I'd consider this a bug in `ol3-cesium`.

[2015-08-13 08:47] oterral commented on #2568
Yes that doesn't work but in map.geo.admin.ch I don't think this use case happens

[2015-08-13 08:50] fredj commented on #2568
And what about listening to the `change:target` event?

[2015-08-13 08:58] oterral opened #2571 "Use layer.setMap function to manage preview layers"
[`layer.setMap`](http://openlayers.org/en/v3.8.2/apidoc/ol.layer.Layer.html#setMap) function adds a unmanaged layer on top of  others, this layer will not be in the `map.getLayers()` collection

I think using this we can simplify a lot all the `preview` layer stuff in map.geo.admin.ch.

To test  with [gaPreviewLayer service](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/M

[2015-08-13 09:02] oterral commented on #2568
We need lazyloading.

[2015-08-13 09:18] oterral commented on #2568
You can also listen the 'gaBgChange' event.

[2015-08-13 13:09] elemoine commented on #2568
Except if we want to create the `olcs.OLCesium` instance outside the map directive in the main controller, as @fredj is attempting to do (as I understand it).

[2015-08-13 13:11] elemoine commented on #2568
Indeed, the main controller can listen to `change:target`.

[2015-08-13 13:48] loicgasser opened #2574 "Drawing: empty drawing created"
Step to reproduce:

1. Open map.geo.admin.ch
2. Click on Draw and Measure btn
3. Click any draw button
4. Click back button (no drawing)
5. Open layer manager

Result:

An empty drawing layer is in the layer manager

Expected Result:

No layer is in the layer manager if there are no drawings.

[2015-08-13 13:58] davidoesch commented on #2570
loading indicator:

nope ---please not, we managed to get around this

a loading indiactor - turning wheel- is the symbol of a slow websit. and
the prio1 we have is "SPEED" (even if speed is relative)

so: solve the issue where it occurs, simplify the geometries....as we did
for swissboundaries for the highlight

 (even I see that for the above mentioned dataset, in FF there is one on
the mouse)

[2015-08-14 12:02] oterral opened #2578 "Offline broken"
According to this: http://appcache.offline.technology/

on ios, it's broken,  can't save layers config files over https because they come from another origin.

on windows phone, it's broken. Nothing is saved by appcache (related to `no-store` header)

android works

[2015-08-14 21:08] oterral opened #2580 "Embed layer ordering"
From google group:

[2015-08-17 08:07] #2568 closed

[2015-08-17 10:17] oterral opened #2581 "Test $http.useApplyAsync(true)"
We should test this function to see if we gain in performance.

https://docs.angularjs.org/api/ng/provider/$httpProvider

[2015-08-17 14:02] mariokeusen commented on #2563
Adapted legends delivered by data owner:
https://redmine.prod.bgdi.ch/issues/4681
https://redmine.prod.bgdi.ch/issues/4682

[2015-08-17 14:08] oterral commented on #2563
@AFoletti, @alcapat @daguer can you make a PR for the new legend  in chsdi ?

[2015-08-18 05:15] ltclm commented on #2563
i will prepare a pr today.

[2015-08-18 06:26] gjn commented on #2578
Appcache is a big mess.

@davidoesch @cedricmoullet What do we do. Abandon this clients? Use http only for these clients (which seems messy...).

[2015-08-18 06:59] mariokeusen opened #2585 "[Layer search results]: infobox of last entry at the bottom of the list is not clickable"
UC: open app, search for e.g. "Wasser" in the all-in-one-search, watch the results for data layers, try to click the infobox of the last entry at the bottom
Result: infobox can not be clicked
Expected: infobox is available like all other infoboxes

Probably a layout issue...

[2015-08-18 07:17] gjn opened #2586 "[3D] Add inspector widgets"
For debugging, it's usefull to have the inspector widget of cesium enabled. We could introduce a permalink parameter for this or add it with console command.

See https://github.com/geoadmin/3d-testapp/blob/master/poc.js#L80 on how to add it.

[2015-08-18 07:19] elemoine commented on #2586
https://github.com/geoadmin/3d-testapp/blob/master/poc.js#L80 gives a 404.

[2015-08-18 07:20] oterral commented on #2586
It's a private repository

[2015-08-18 07:22] gjn commented on #2586
PRivate repo. But line is basically this:

`viewer.extend(Cesium.viewerCesiumInspectorMixin);`

[2015-08-18 08:39] davidoesch commented on #2578
iOS: since in Switzerland it is the most used mobile OS: we have to support it . Even if it is a mess. ( explaining that it works under droid , warning messages etc will be a mess too)

Windows: prio2

[2015-08-18 10:34] fredj opened #2587 "[3D] Animate reset to north"

[2015-08-18 11:17] #2532 closed

[2015-08-18 11:17] #2534 closed

[2015-08-18 12:34] gjn opened #2589 "Fix kml tests"
kml_test.js still fails alot in browserstack. We already tweaked the timeout but it's still unstable (we have failures every ~5th build).

It might be that the kml we use as limited availability. https://github.com/geoadmin/mf-geoadmin3/blob/master/test/selenium/kml_test.js#L24 We could try to do this test with another kml file, one we created with drawing.

@alcapat Could you give it a try?

[2015-08-18 12:36] #2578 closed

[2015-08-19 10:51] AFoletti opened #2591 "2 timestamps comparison with swipe tool and not time-enabled layers"
With the old mapgeoadmin, this [1] permalink allowed the comparison, thanks to the “swipe” tool, of two WMTS pyramids for the same layer.
In V3 this only works for time-enabled layers.

@davidoesch agrees to re-implement it for each layer. How to do it is still to be defined, but I see two main ways:
- the functionality will be there, but not advertised in any way. You will have to build your perm

[2015-08-20 10:50] gjn commented on #2589
I got rid of the implicit waits here: https://github.com/geoadmin/mf-geoadmin3/pull/2594

[2015-08-20 11:35] mariokeusen opened #2596 "[copyright footer]: no data owner shown for JSON layers"
See on bottom right...
https://map.geo.admin.ch/?X=190000.00&Y=660000.00&zoom=1&topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.bafu.hydroweb-messstationen_gefahren

[2015-08-24 06:33] #2105 closed

[2015-08-24 06:41] oterral commented on #2591
Fine for me if we allow it only from a self-construct permalink.

[2015-08-24 07:04] AFoletti commented on #2591
+1 for @oterral 's proposal.
Who should be assigned? This issue isn't getting much attention :p

[2015-08-24 13:50] fredj opened #2601 "Use angular 1.4 externs"
[Angular 1.4.2](https://github.com/geoadmin/mf-geoadmin3/blob/master/package.json#L23) is used but the externs for [version 1.3](https://github.com/geoadmin/mf-geoadmin3/blob/master/Makefile#L586) are still used.

[2015-08-25 06:44] oterral opened #2602 "PC always load mobile version"
PC always load mobile version.

From helpdesk

[2015-08-25 06:46] gjn commented on #2602
Welcome to the transformer world...

[2015-08-27 06:21] #2580 closed

[2015-08-27 06:58] gjn commented on #2589
Seems to have helped quite a bit. I'll close.

[2015-08-27 06:58] #2589 closed

[2015-08-27 07:00] gjn opened #2606 "select by rectangle"
_From @ltclm on August 5, 2015 7:52_

**Situation:**
Problem occurrs when you do multiple select by rectangle on different layers. the previous search results are still in the results lists and are highlighted, even if the layer has been deactivated in the meantime.
* activate layer a
* select by rectangle
* close search result windows by clicking x
* deactivate layer a
* activate layer b
* select

[2015-08-27 07:11] gjn opened #2608 "[3D] Verify maximum zoom levels for mapproxy sources"
See `maximumLevel` of Cesium.WebMapTileServiceImageryProvider

[2015-08-27 07:49] gjn opened #2610 "[3D] Switch to 3D not possible with singleTile wms layers"
Testlink: `dev3d=true&lang=de&topic=aviation&bgLayer=ch.swisstopo.pixelkarte-grau&catalogNodes=1379,1381,1514&X=168670.41&Y=688454.08&zoom=6&layers=ch.bazl.luftfahrthindernis`

This is a singleTile WMS layer. Not that other WMS layer (e.g. ch.bfe.windenergieanlagen) don't suffer this bug.

@gberaudo I'm not sure, but I think this was introduce with https://github.com/geoadmin/mf-geoadmin3/pull/259

[2015-08-27 07:58] gjn commented on #2610
The only difference I see in the configuration between the working wms and non-working wms is that the non-working wms is a single-tile wms. That's probably the cause.

[Here's a diff of the configurations. Left is working, right is causing this bug](https://www.diffchecker.com/kxomxqc6)

I could confirm that singleTile wms seems to be the cause of this behaviour. Other singleTile wms (e.g. ch.baz

[2015-08-27 08:32] gberaudo commented on #2610
I quickly checked Cesium support for singletile WMS but find nothing.
https://cesiumjs.org/Cesium/Build/Documentation/WebMapServiceImageryProvider.html

There is only a
https://cesiumjs.org/Cesium/Build/Documentation/SingleTileImageryProvider.html
which has nothing to do with WMS: a single image is loaded at creation of
the provider and never updated.

I guess the reason is that only tiled or smal

[2015-08-27 08:43] gjn commented on #2610
I think it should be possible to use the singleTile layers in tiled wms over mapproxy in 3D.

[2015-08-27 13:26] AFoletti commented on #2591
recently the old timestamps were removed from the layersconfig table. This makes this ticket obsolete since there is no way now for the viewer to use them

[2015-08-27 13:26] #2591 closed

[2015-08-28 10:11] #2610 closed

[2015-08-28 12:23] gjn opened #2612 "[3D] Support kml/kmz"
For our layer ch.bazl.luftfahrthindernis, we currently do wms in 3d and drap it on the terrain. This layer has an official kml/kmz file that could be used. This file is in fully 3d (see attached screenshot which was dropped in a cesium example.

Sample code showed that this could easily be done by specifiying a kml datasource on a viewer widgets. As ol3cesium doesn't use the viewer, I was unable t

[2015-08-28 14:21] oterral opened #2613 "getResolutionForExtent is not exported anymore"
Since ol 3.5.

That breaks some functionnalities of Import WMS.

We need to add a custom exports.

[2015-08-28 14:32] gberaudo commented on #2612
Is it a single KML file or does it rely on KML network links?

[2015-08-28 15:22] oterral commented on #2596
Good catch

[2015-08-28 15:31] gjn commented on #2612
Single file, dropable on the cesium viewer demo.

[2015-08-31 05:55] oterral commented on #2612
Technically we have a vector layer with the data, so with the VectorSynchroniser of ol3cesium we should apply a 3d style when we swicth to 3d. I guess.

[2015-08-31 07:12] oterral commented on #2602
Nearly impossible to detect.

[2015-08-31 07:50] oterral commented on #2331
@davidoesch in fact, the kultugebiet layer appears when you click the offline button then click to zoom to extent .

For the voidLayer we doesn't save the fact it is used.

I think we do that to avoid layer appears / disappears if you have a capricious web connection.

[2015-08-31 08:06] gberaudo commented on #2612
We have two solutions:
- either to parse the KML with OL3 format and then convert it to Cesium
with the VectorSynchronizer;
- or add support for Cesium datasources in OL3-Cesium.

Both solutions have values.
The second one has the advantage of letting Cesium handle the conversion.

[2015-08-31 09:32] oterral commented on #2563
Fixed

[2015-08-31 09:32] #2563 closed

[2015-08-31 09:33] oterral commented on #2562
@UserGis  install java 7 I guess see https://lifeforcode.wordpress.com/2015/01/09/how-to-fix-error-closure-compiler-unsupported-major-minor-version-51-0/

[2015-08-31 09:33] #2562 closed

[2015-08-31 09:35] oterral commented on #2549
can't reproduce

[2015-08-31 09:43] oterral commented on #2515
Whatever we do, the user could  always override the previous css. Currently it's because a `!important` text is in specified in the html of the KML feature description.

[2015-08-31 09:56] oterral commented on #2468
Can't reproduce

[2015-08-31 10:02] oterral commented on #2225
Done

[2015-08-31 10:02] #2225 closed

[2015-08-31 12:13] oterral commented on #2612
In the specific case of  `ch.bazl.luftfahrthindernis`, in 2d it's a WMTS and then in 3d it should be the KML file.

[2015-09-01 05:32] #2586 closed

[2015-09-01 05:34] gjn commented on #2612
I think luftfahrhindernisse will not be the only case where a 2D layer is wmts/wms and in 3D, it will be vector based (geojson or kml). So I would say that we need to address this in a general manner.

It would be great to have kml datassource in ol3-cesium.

[2015-09-01 05:38] #2373 closed

[2015-09-01 05:38] #2574 closed

[2015-09-01 05:38] #2585 closed

[2015-09-01 05:38] #2596 closed

[2015-09-01 05:38] #2601 closed

[2015-09-01 05:38] #2606 closed

[2015-09-01 05:38] #2613 closed

[2015-09-01 07:21] fredj opened #2617 "[3D] remove zoom in and zoom out buttons in 3d"

[2015-09-01 08:51] cedricmoullet commented on #2617
No, we will keep it. @davidoesch will propose a new design

[2015-09-01 08:56] fredj commented on #2617
ok, closing

[2015-09-01 08:56] #2617 closed

[2015-09-02 06:27] davidoesch commented on #2549
The cursor is not active in the search window, all browsers
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/9624377/6f11489e-514c-11e5-8835-e5b8bd60b41d.gif)

[2015-09-02 06:29] davidoesch commented on #2468
will show it to you tomorrow

On Mon, Aug 31, 2015 at 11:56 AM, oterral <notifications@github.com> wrote:

[2015-09-02 06:31] gjn commented on #2549
I can reproduce. Bad regression. I'll elevate this to prio 1.

[2015-09-02 06:32] gjn commented on #2549
@alcapat Would be great if this is testable with selenium.

[2015-09-02 06:40] oterral commented on #2549
ok I haven't understood what the problem was.

[2015-09-03 11:36] davidoesch commented on #2468
Might be related to nearby metal (IMHO a smartphone relies on GPS)

[2015-09-03 11:36] #2468 closed

[2015-09-07 05:27] oterral commented on #2468
I've experimented the same this we, but I was close to a  car, few meters further all worked fine so I really think  it was related

[2015-09-07 06:04] oterral opened #2618 "Draw and Print: Add marker's color using FontAwesome for icons"
It seems we could use FontAwesome to draw markers:
http://stackoverflow.com/questions/27809479/use-semantic-ui-or-font-awesome-icons-as-markers-in-openlayers3

and the print v2 could manage it with a custom font:
http://www.mapfish.org/doc/print/configuration.html#fonts-definition

[2015-09-07 07:02] oterral commented on #2549
@davidoesch on mobile we don't have the search focused on page laod, am I correct?

[2015-09-07 07:51] davidoesch commented on #2549
yes

On Mon, Sep 7, 2015 at 9:02 AM, oterral <notifications@github.com> wrote:

[2015-09-08 06:20] #2549 closed

[2015-09-08 13:27] #2602 closed

[2015-09-09 07:21] oterral opened #2626 "Controls 3D improvements"
- [x] Fix css. We can't drag the map at the bottom, the controls takes all the window width.
- [x] Fix dynamic css when screen gets smaller. (oli)
- [x] UI (icons)

[2015-09-09 09:07] fredj opened #2628 "[3D] Permalink and 3d mode"
The 3d mode (versus the 2d mode) is not saved when reloading the page.

To reproduce:
 - load the page
 - switch to 3d
 - reload the page

-> the page loads in 2d instead of 3d.

Proposed solution: if the permalink contains `lon`, `lat` and `elevation` switch to 3d, otherwise stay in 2d.

[2015-09-09 14:16] oterral opened #2632 "Remove the bg layers array in bg selector service"
This [object](https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/backgroundselector/BackgroundService.js#L22) contains hardoced value for background layers we could easily put in the layersConfig.

[2015-09-09 14:20] oterral commented on #2632
What do you think @gjn @loicgasser @procrastinatio ?

[2015-09-10 05:46] cedricmoullet opened #2634 "Multiurl provider for 3D"
I make an issue in order to keep the record of the needed changes for the multiple url optimization.

for https://github.com/geoadmin/mf-geoadmin3/blob/49067e0bfa2d273382a5748f67e63808ad53a542/src/components/map/MapService.js#L912
please use wmts5 to wmts9.geo.admin.ch

We need multi urls for:
 - [x] WMTS MapProxy  (wmts{10 -14}.geo.admin.ch)
 - [x] WMS MapProxy  (wmts{10 -14}.geo.admin.ch/mapprox

[2015-09-10 12:06] cedricmoullet opened #2636 "Remove "2D north arrow" in 3D mode"
In 3D, we can see the 2D north arrow (together with the north arrow of the 3D navigation).
Could you please remove this icon in 3D mode ?

[2015-09-11 14:11] #2283 closed

[2015-09-11 15:25] oterral opened #2639 "Measure tooltips appears on basic polygon"
1) Draw a polygon with `Line` tool
 2) Exit draw  mode
 3) Open the layer manager
 4) Hide/show the Drawing layer

Measure tooltip appears.

Expected:
   No measure tooltips

[2015-09-14 07:40] p1d1d1 opened #2640 "Feedback-Tool: problem with absolute filepath in attached filename - IE"
Steps to reproduce:

1) Open Feedback-Tool with IE
2) Attach a file. Let's say the file name is "file.png"
3) Send report

The name of the attached file in the email contains the entire path to the file on the local PC.
e.g. vt00003a.lt.admin.chswisstopo-Home$UserconfigDesktopfile.png.

Could you check it?
Thanks

[2015-09-14 14:24] mariokeusen commented on #2356
What is the status here?

[2015-09-14 14:27] davidoesch opened #2641 "Draw text: if text no tooltip"
if a text field is drawn, no tooltip is needed, since all the text is already shown on map

[2015-09-15 05:35] #2628 closed

[2015-09-15 07:27] cedricmoullet opened #2642 "big geometries: adapt client in order to avoid console errors"
See https://github.com/geoadmin/mf-chsdi3/pull/1624 for details

[2015-09-15 07:55] gjn commented on #2632
Not sure about that. How would we put it in layersConfig?

[2015-09-15 07:59] oterral opened #2643 "3D permalink params allow bad value"
Just saw, if we put bad value for `lon` and `lat` . The map stays black.

For `x` and `y` param  we use `isFinite` to test if the value is usable, may be we should do the same for 3d params

[2015-09-15 08:26] fredj commented on #2643
+1

[2015-09-15 08:37] #2643 closed

[2015-09-15 08:50] oterral commented on #2632
Since backgrounds available are in the layersConfig through the `background` property. When this value is `true` we could add à `bgLabelId`  and a `bgDisable3d` properties as well.

[2015-09-15 10:02] fredj commented on #2587
See #2636

[2015-09-15 10:02] #2587 closed

[2015-09-16 05:21] cedricmoullet opened #2648 "Provide a way to remove the cesium inspector (for mobile mainly....)"

[2015-09-16 06:38] gjn commented on #2648
+1. We can hardcode this for mobile.

In any case, it will disappear before publishing the beta.

[2015-09-16 07:59] gjn opened #2649 "Remove time dynamics in 3D"
Goal is to support timestamp as it was active when switching to 3D and don't allow the user to change it in LayerManager or in the Timeslider.

[2015-09-16 08:18] gjn opened #2650 "Remove inspector on mobile"

[2015-09-16 09:18] cedricmoullet opened #2652 "Reset rotation refactoring"
use the existing function https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/MapService.js#L1443 for adding an ol3d param?

[2015-09-16 11:00] fredj commented on #2636
See #2653

[2015-09-16 11:00] #2636 closed

[2015-09-16 11:03] cedricmoullet opened #2654 "When clicking on rotate or tilt icon : reset to north at a 45° view at current position"

[2015-09-16 11:11] #2654 closed

[2015-09-16 12:49] fredj opened #2656 "hide ga-offline if 3d is active"

[2015-09-16 13:05] cedricmoullet commented on #2656
Fixed with https://github.com/geoadmin/mf-geoadmin3/pull/2657

[2015-09-16 13:05] #2656 closed

[2015-09-16 13:12] cedricmoullet commented on #2650
https://github.com/geoadmin/mf-geoadmin3/pull/2658

[2015-09-16 13:44] #2650 closed

[2015-09-16 13:52] #2648 closed

[2015-09-16 14:03] cedricmoullet opened #2661 "2D and 3D position differs of some meters after a search"
Search for "Berges 37 payerne"

In 3D, the marker points here:
![image](https://cloud.githubusercontent.com/assets/319676/9906835/7f47a92e-5c8c-11e5-8fb9-4a79c9cc271c.png)

In 2D, the marker points to another position:
![image](https://cloud.githubusercontent.com/assets/319676/9906815/60f9dc9e-5c8c-11e5-90d6-32081a510497.png)

[2015-09-16 17:19] davidoesch opened #2663 "double click /tab -> zoom"
desktop and mobile
all os
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/
in 3d
double click /tab
Result: nothing happens
expected result: zoom to mouse position as in 2d an gmaps

[2015-09-16 17:33] davidoesch opened #2664 "void layer : set lightning"
all os / all devices
start with
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.swisstlm3d-karte-farbe,ch.bfs.arealstatistik-1997&layers_opacity=1,0.75&lon=7.86309&lat=46.37826&elevation=3112&heading=195.037&pitch=-5.312&layers_visibility=false,true

a layer draped over pure terrain
switch to 3d
result: "blue hills"
expected result : hills

[2015-09-16 17:41] davidoesch opened #2665 "Tilt: when max and min reached, turn arrows grey"
tilt: when max and min reached, turn arrows grey
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.swisstlm3d-karte-farbe,ch.bfs.arealstatistik-1997&layers_opacity=1,0.75&lon=7.86311&lat=46.37830&elevation=3113&heading=195.033&pitch=-0.312&layers_visibility=false,true

result: tilt arrow up is red
expected result: tilt arrow up is grey (as i

[2015-09-16 17:44] davidoesch opened #2666 "icons rotate/tilt on mobile smaller"
on mobile screens the icons rotate/tilt on mobile smaller are taking up a lot of space
-> since pinch/rotate makes more sense there , we can at least have the tilt/rotate have the same size as the other icons on the right

[2015-09-16 17:47] davidoesch opened #2667 "zoom in/out: leftmouse hold and wheel"
compared to schweizmobil

zoom in/out: leftmouse hold and wheel makes to big steps : user gets lost very fast

expected result: same increment as in schweizmobil

[2015-09-16 17:54] davidoesch opened #2668 "collision distance: default mode"
collision distance: default mode

*default* views like this https://mf-chsdi3.dev.bgdi.ch/ltmoc/shorten/6702a2f1bf

do not make any sense

proposal:
an altitude dependent collision setting:

for camera positions of altitudes above 1800m : use the same settings for distance camera - terrain as in schweizmobil
for camera positions of altitudes below 1800m : use half the distance schweizmobil has cur

[2015-09-16 18:05] davidoesch opened #2669 "WMS Import support"
Since cesium supports WMS
-> the WMS inport should work, but does currently not:
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-grau&layers=WMS||Fahrverbotszone||https:%2F%2Fwww.gis.stadt-zuerich.ch%2Fmaps%2Fservices%2Fwms%2FWMS-ZH-STZH-OGD%2FMapServer%2FWMSServer%3F||Fahrverbotszone&lon=8.53992&lat=47.36157&elevation=1963&heading=360.000&pitch

[2015-09-16 18:34] davidoesch opened #2670 "space view: lost"
if zooming completely out
the white globe makes it hard to find switzerland https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product&lon=5.58031&lat=44.90932&elevation=20074287&heading=359.935&pitch=-88.562

schweizmobil does not have a solution neither

-possibility to restrict cesium on zoom out?
-add at lea

[2015-09-17 02:47] #2649 closed

[2015-09-17 04:53] cedricmoullet commented on #2664
Or deactivate void layer of the 3d mode.

[2015-09-17 04:54] cedricmoullet commented on #2666
@davidoesch could you organize the icons ?

[2015-09-17 04:55] cedricmoullet commented on #2667
@gberaudo @fredj what are the schweizmobil settings ?

[2015-09-17 04:56] cedricmoullet commented on #2670
@gberaudo @fredj is it possible to restrict the space where the camera can move ?

[2015-09-17 04:58] cedricmoullet commented on #2663
@fredj doable ?

[2015-09-17 05:13] davidoesch commented on #2664
Void layer is a need - as is it in 2d. Let's see how lighting works.

On Thu, Sep 17, 2015 at 6:53 AM, Cédric Moullet <notifications@github.com>
wrote:

[2015-09-17 07:01] fredj opened #2671 "Replace tilt and rotate icons"
see mail from Paulo

[2015-09-17 07:02] fredj commented on #2671
![icon_right_roll1](https://cloud.githubusercontent.com/assets/100959/9926987/b05a6536-5d1a-11e5-859f-2213e929a903.png)

[2015-09-17 07:16] fredj commented on #2667
I don't remember that we have a specific setting for veloland, maybe the cesium version ?

[2015-09-17 08:45] #2671 closed

[2015-09-17 08:50] fredj commented on #2670
The maximum zoom can be restricted by using the `maximumZoomDistance` property (see https://cesiumjs.org/Cesium/Build/Documentation/ScreenSpaceCameraController.html)

[2015-09-17 08:53] cedricmoullet commented on #2670
I was more thinking to a kind of 3D box limiting the movement of the camera

[2015-09-17 09:36] davidoesch commented on #2667
Cesium version

On Thu, Sep 17, 2015 at 9:16 AM, Frédéric Junod <notifications@github.com>
wrote:

[2015-09-17 09:51] fredj commented on #2663
I've asked the question in the cesium mailing list

[2015-09-17 12:08] cedricmoullet opened #2674 "Deactivate 3D button if print, compare, draw, object info is activated"

[2015-09-17 12:23] cedricmoullet opened #2675 "3D quality loss"
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product&lon=7.06684&lat=45.94749&elevation=3090&heading=360.000&pitch=-39.996

In 3D:
![image](https://cloud.githubusercontent.com/assets/319676/9932883/9b0f7572-5d47-11e5-9b6e-212f618fbc71.png)
in 2D:
![image](https://cloud.githubusercontent.com/assets/319676/9

[2015-09-17 12:27] gjn commented on #2675
Is it similar on flat regions?

How is the view from top (and not at an angle as in the example above)?

[2015-09-17 12:28] gjn commented on #2675
Also, requested LOD might make a difference. What happens if you zoom in?

[2015-09-17 12:39] mariokeusen opened #2676 "[PDF print] no data visible in PDF"
UC: open app, choose any bg layer and any data layer(s), print a PDF in any scale or format
Result: the PDF is empty, not data are drawn in the document, neither from the bg layers nor from data layes
Expected: same bg and data layers are visible in the PDF as in the map window.

Please fix with high prio! I checked with IE11 and chrome -> same results.

[2015-09-17 12:39] mariokeusen commented on #2676
There are also first helpdesk messages with the same problem...

[2015-09-17 12:41] cedricmoullet commented on #2676
@procrastinatio @gjn @danduk82 related to varnish change ?

[2015-09-17 12:45] procrastinatio commented on #2676
Non, il y a une histoire de certificat

[2015-09-17 12:46] cedricmoullet commented on #2676
Who treats this issue ?

2015-09-17 14:45 GMT+02:00 procrastinatio <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 12:49] procrastinatio commented on #2676
[code]

[2015-09-17 12:50] cedricmoullet commented on #2676
Again, who treats this issue ??

2015-09-17 14:49 GMT+02:00 procrastinatio <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 12:51] gjn commented on #2676
expired root certivicate that jvm is not able to update?

Maybe tomcat restart might help.

I propose me, @procrastinatio and @danduk82 work on this as it's cause is not clear.

[2015-09-17 12:52] cedricmoullet commented on #2676
Thanks.
Yes, please restart.

2015-09-17 14:51 GMT+02:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 12:53] gjn commented on #2676
I would first like to know what changed regarding certificates on our infrastructure. pinging @danduk82 @hpchrist .

[2015-09-17 12:54] cedricmoullet commented on #2676
I wouldn't wait. Prod is down, so it can't be worst.....

2015-09-17 14:53 GMT+02:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 12:56] gjn commented on #2676
restart of tomcat seems to have fixed the issue. Could anyone verify?

[2015-09-17 12:57] cedricmoullet commented on #2676
yes, it works

2015-09-17 14:56 GMT+02:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 12:57] mariokeusen commented on #2676
it works again

[2015-09-17 12:58] gjn commented on #2676
We need to analyse this why this can happen out of a sudden. Was it triggered by something we changed?

[2015-09-17 12:58] gjn commented on #2676
@procrastinatio Can you ping @danduk82 or @hpchrist ?

[2015-09-17 12:59] hpchrist commented on #2676
Hi

we have changed the geo.admin.ch multi SAN certificate. But I cannot say why tomcat needed to be restarted. As far as I know, it has never been necessary in the past, has it?

Best regards,

Hanspeter

From: Cédric Moullet [mailto:notifications@github.com]
Sent: Donnerstag, 17. September 2015 14:57
To: geoadmin/mf-geoadmin3
Cc: Christ Hanspeter swisstopo
Subject: Re: [mf-geoadmin3] [PDF print]

[2015-09-17 13:00] procrastinatio commented on #2676
Not the first time we change a certificate. Didn't happen before

[2015-09-17 13:01] cedricmoullet commented on #2676
afaik, it was never the case before.

2015-09-17 14:59 GMT+02:00 hpchrist <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-17 13:02] gjn commented on #2676
I seem to remember a similar issue once with JVM that wasn't capable to update a certificate. Might be that it caches some certificates and an updated SAN certificated can't be validated anymore.

Maybe it also depends on the domain that is update. Printing worked, but no tiles could be downloaded. So maybe we never updated wmts related certificates before.

[2015-09-17 13:02] procrastinatio commented on #2676
So now expect trouble form other java users...

[2015-09-17 13:05] hpchrist commented on #2676
I already informed Beat about this issue and asked him to inform the clients that we know had issues in the past when our SSL certificate changed. As far as I know it was Mobiliar (and maybe as well ASTRA?`) who use some kind of Java SSL clients to access our services...

[2015-09-17 13:12] hpchrist commented on #2676
@gjn we updated wmts related certificates before, since *all* geo.admin.ch "subdomains" are treated in one single SAN EV certificate. It's the same certificate that contains map.geo.admin.ch, wmts.geo.admin.ch, wms.geo.admin.ch, etc., etc.

[2015-09-17 13:17] gjn commented on #2676
Might be that my memory brought up other clients JVM issues with new certificates.

[2015-09-17 14:08] cedricmoullet commented on #2675
Yes, same issue in flat region and from top.
I tried to zoom in, without more success.
Is there any setting with a kind of min resolution parameter in Cesium ?

[2015-09-17 14:41] davidoesch opened #2677 "layer selector: empty"
Current selection
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&lon=8.43054&lat=47.10591&elevation=1095&heading=29.410&pitch=-49.998

if no layer is loaded
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/9936083/849f7388-5d5a-11e5-86f4-51d7d984898e.PNG)

-> this text is to big (not standard typefont, not CI CD) and it tells the

[2015-09-17 14:42] cedricmoullet commented on #2677
B

[2015-09-17 14:56] davidoesch commented on #2677
ok go for B @oterral

On Thu, Sep 17, 2015 at 4:42 PM, Cédric Moullet <notifications@github.com>
wrote:

[2015-09-18 06:39] gjn commented on #2675
This might be related to the latest mapproxy adaptions to use the correct tilegrid. Maybe the tilegrid matching (from 4326 to lv03) is not optimal e.g. for level 12 it takes source 12 instead of source 21...or some such thing.

I try to see if the raw request is already with bad quality of if it's cesiums rendering.

[2015-09-18 06:40] oterral commented on #2677
ok

[2015-09-18 06:46] gjn commented on #2675
it's not mapproxy.

It's because it's using the pre-generated 4326 tiles that was done for testing by marcel. It's not complete and lacks higher zoom levels. Cesium is requestiong higher zoom levels but gets a 204 and therefore displays lower quality images from lower zoom levels.

Once we have full pyramid pre-generated, it should be good.

@ltclm When can we expect this for this layer? Or is it

[2015-09-18 06:48] cedricmoullet commented on #2675
Could we use mapproxy for this swissimage layer ?
I wouldn't generate the tiles since it will not be used in the first
release.

2015-09-18 8:46 GMT+02:00 Gilbert Jeiziner <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-18 06:53] ltclm commented on #2675
tiles are ready for weeks already:
[code]

[2015-09-18 07:07] gjn commented on #2675
Yes, butter with the pre-generated, final tiles:

![image](https://cloud.githubusercontent.com/assets/2572317/9953828/8cb5baac-5de4-11e5-95a0-23a8d3443579.png)

PR coming

(note however that qualit is _not_ the same)

[2015-09-18 07:49] oterral commented on #2677
@davidoesch like this:
![layermanager](https://cloud.githubusercontent.com/assets/621420/9954585/935d7ccc-5dea-11e5-90c7-5aa1c5aeef0f.png)

[2015-09-18 07:52] oterral commented on #2677
or you  want it is centered and larger?

[2015-09-18 07:52] davidoesch commented on #2677
yes

On Fri, Sep 18, 2015 at 9:49 AM, oterral <notifications@github.com> wrote:

[2015-09-18 07:56] davidoesch commented on #2677
Centered makes sense, also if other data is available. don't change the
font since we should stick to CI CD  fonts we have

On Fri, Sep 18, 2015 at 9:52 AM, oterral <notifications@github.com> wrote:

[2015-09-18 08:09] oterral commented on #2677
@davidoesch [test](https://mf-geoadmin3.dev.bgdi.ch/teo_empty)

[2015-09-18 08:11] davidoesch commented on #2677
purrfect - ready for deploy

On Fri, Sep 18, 2015 at 10:09 AM, oterral <notifications@github.com> wrote:

[2015-09-18 08:11] oterral commented on #2674
Should we deactivate the button or deactivate these tools when we click on 3d. I prefer to deactivate the tolls when we click on 3d button (a bit the same we do when we active the draw mode)

[2015-09-18 08:13] oterral commented on #2641
If the KML comes from import KML . A description can be provided.

[2015-09-18 08:17] davidoesch commented on #2641
my fault , agree

[2015-09-18 08:17] #2641 closed

[2015-09-18 08:33] #2626 closed

[2015-09-18 09:13] oterral commented on #2634
PR in cesium https://github.com/AnalyticalGraphicsInc/cesium/pull/3038

[2015-09-18 11:55] oterral commented on #2571
Not anymore since we use z-index and if we want the layer is displayed in 3d

[2015-09-18 11:55] #2571 closed

[2015-09-18 11:57] oterral commented on #2458
Fixed

[2015-09-18 11:57] #2458 closed

[2015-09-18 12:01] oterral commented on #1401
I close this since the resizable thing introduce too much css complexity and the dynamic size of poup has been improved with  https://github.com/geoadmin/mf-geoadmin3/pull/728

[2015-09-18 12:01] #1401 closed

[2015-09-18 12:07] #2676 closed

[2015-09-18 12:10] cedricmoullet commented on #2091
@davidoesch ?

[2015-09-18 12:12] #1864 closed

[2015-09-18 12:14] oterral commented on #2355
#2540 merged

[2015-09-18 12:14] #2355 closed

[2015-09-18 12:15] oterral commented on #2286
Fixed

[2015-09-18 12:15] #2286 closed

[2015-09-18 12:38] davidoesch commented on #2091
Proposal
Always remove geolocation=true parameter when creating a a short Url.

Then via sharing the user sets the right extent when sharing

Link with faden Kreuz : here he already has to right parameters to share with whatever app he wants

@cedricmoullet?

[2015-09-18 15:09] cedricmoullet opened #2683 "A lot of 204"
If I start https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&lon=7.85044&lat=46.37530&elevation=8588&heading=0.094&pitch=-49.972 I can observe that several requests for ch.swisstopo.swisstlm3d-karte-farbe WMTS delivers a 204. Since this layer covers whole switzerland, it's not supposed to send 204 back. Any idea ?

[2015-09-18 15:28] oterral commented on #2683
There is some tiles outer the swiss which are downloaded, see the tile L10X1056Y249

![outside](https://cloud.githubusercontent.com/assets/621420/9963246/a0d00754-5e2a-11e5-88cf-93cdd06c7d3c.png)

[2015-09-18 15:51] cedricmoullet commented on #2683
I hope that it's possible to avoid to download tiles outside switzerland

[2015-09-18 15:57] gjn commented on #2091
So the famous 'where am  I' / 'where are you' qrcode can't be shared anymore? :-)

[2015-09-18 15:59] davidoesch commented on #2091
Ahh bloody hell you are right Gilbert - here the code must be generated manually with the parameter.... Imho no issue

On Fri, Sep 18, 2015 at 5:57 PM, Gilbert Jeiziner
<notifications@github.com> wrote:

[2015-09-18 16:03] procrastinatio commented on #2431
E.g. from BRGM:

http://geoservices.brgm.fr/geologie

Layer list loads fine, but obviously, not layer are displayed.

[2015-09-18 16:11] oterral commented on #2431
Thx

[2015-09-21 09:14] oterral commented on #2669
In the url you send the problem is the WMS has 2 `??`at the end of wms url. I fix that.

[2015-09-21 12:10] #2431 closed

[2015-09-21 12:10] #2669 closed

[2015-09-21 12:11] #2639 closed

[2015-09-21 12:12] #2677 closed

[2015-09-22 12:37] cedricmoullet opened #2686 "Add preview for activated layers in the layer selector"
@davidoesch since we have now preactivated layer, should we add a preview mode when hovering it ?

[2015-09-22 14:40] oterral opened #2687 "On second click on 3d, the map doesn't keep the current center"
First laod is ok then you re-click to go on 2d then on 3d, the mpa slide to the south.

1) Open https://mf-geoadmin3.dev.bgdi.ch/index.html?lang=fr&topic=are&bgLayer=ch.swisstopo.pixelkarte-grau&dev3d=true&layers_visibility=false&catalogNodes=954,959,965&X=198957.00&Y=600930.00&zoom=10

2) The map is centered on Kirchenfeld
3) Active the 3d -> The map is centered on Kirchenfeld
4) Active the 2d ->

[2015-09-22 16:14] davidoesch commented on #2686
+1
to be consistent with 2d?
performance might be an issue

[2015-09-22 17:24] davidoesch commented on #2669
nice works now--even with labels https://mf-chsdi3.dev.bgdi.ch/ltmoc/shorten/6721706404

[2015-09-23 04:51] cedricmoullet opened #2689 "Error in IE 11"
Starting in IE11/IE10: https://mf-geoadmin3.dev.bgdi.ch/ltmoc/src/
Generates the following errors:
![image](https://cloud.githubusercontent.com/assets/319676/10038078/8b4fb9e0-61bf-11e5-91a5-c7367614572b.png)

[2015-09-23 04:52] cedricmoullet commented on #2689
@oterral @gjn could you please have a look before the deployment ?

[2015-09-23 05:19] cedricmoullet opened #2691 "Draw annotation text not translated"
![image](https://cloud.githubusercontent.com/assets/319676/10038260/5c5b6630-61c3-11e5-80ac-200a4995f2c6.png)

[2015-09-23 06:07] gjn opened #2692 "Visibility in 3D permalink"
It seems that the 3D viewer doesn't take in account the fact that a layer can have a "false" visibility:
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timest

[2015-09-23 06:11] gjn commented on #2692
I've tested it quickly. This seems only to be the case for wohnungs_register layer. Other layers seem to be ok.

Maybe because wohnungsregister layers is a layergroup? As we know, Guillaume is currently working on layergroup, so I expect this to be fixed by then.

@gberaudo Good testcase for layer group: `ch.bfs.gebaeude_wohnungs_register`

[2015-09-23 06:22] gjn commented on #2689
source mode in IE is broken for quite some time now (> 12 month). It never worked in IE9.

[2015-09-23 06:22] gjn commented on #2689
non-issue for me. @oterral ?

[2015-09-23 06:24] gjn commented on #2691
Like this in prod. I'll have a look.

[2015-09-23 06:28] gjn commented on #2691
missing translations for annotation as well.

[2015-09-23 07:22] cedricmoullet commented on #2689
It affecta all IE version

Envoyé de mon iPhone

[2015-09-23 08:08] davidoesch commented on #2691
draw_next_marker would fit

[2015-09-23 09:16] mariokeusen opened #2695 "[hydroweb] one comma too much in copyright tool"
UC: open the following permalink:
Ehm, this problem is not solved...
https://map.geo.admin.ch/?X=190000.00&Y=660000.00&zoom=1&topic=ech&lang=fr&bgLayer=voidLayer&layers=ch.bafu.hydrologie-hintergrundkarte,ch.bafu.hydroweb-messstationen_gefahren
Look at the copyright on the bottom right

Result: Données: OFEV,

Expected: Données: OFEV

Workaround: Please remove the comma, which is too much in this

[2015-09-23 18:51] davidoesch opened #2697 "print: maquette portrait is not centered"
all browsers on a 16:9 screen

open https://s.geo.admin.ch/6726e1e8f4
use print rotate
result:
1:20K is not centered
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10055106/c287748c-6234-11e5-978d-efe2bd4fdcdd.png)

[2015-09-23 18:54] davidoesch opened #2698 "print kml: not all files printed"
open those 9 kmls
https://s.geo.admin.ch/6726e7076b

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10055204/38cddc4e-6235-11e5-956d-411bf893339e.png)

then print it to pdf

we miss one file
![unbenannt1](https://cloud.githubusercontent.com/assets/4577727/10055210/443a2d1c-6235-11e5-9b61-aaa9b262440b.PNG)

[2015-09-23 18:58] davidoesch opened #2699 "print: portait 3rd party warning"
3rd party warning eg https://s.geo.admin.ch/6726e7076b

in print portrait

- 3rd party part font is not the same size as the standard disclaimer
- 3rd party part: line break carriage return is missing
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10055314/cfb4d108-6235-11e5-9e56-e931718d1bdd.png)

[2015-09-23 19:01] davidoesch opened #2700 "print: third party warning doubel entries and not red"
load 9 third party kml files from same location as eg in https://s.geo.admin.ch/6726e7076b

then print portrait
result:
- twice the same 3rd party in footer
- one in red once in black

expected result:
only one mention of the same url, in red
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10055378/2b804238-6236-11e5-9b43-87683814967d.png)

[2015-09-23 19:03] davidoesch opened #2701 "print: Zeitreihen (Multi-PDF) print is always active"
start viewer
activate print

result:
Zeitreihen (Multi-PDF) is always there as a checkbox

expected result:
Zeitreihen (Multi-PDF) is only active if a time enabled layer is active (if it is only in the layer selection window and not active: no multi pdf active)

[2015-09-24 02:45] cedricmoullet commented on #2700
@procrastinatio could you have a look and fix it ?

[2015-09-24 02:47] cedricmoullet commented on #2697
Yes, it is. It's because of the transparency of the header and because your screen is small. I would keep as it is.

[2015-09-24 02:47] #2697 closed

[2015-09-24 05:39] oterral commented on #2695
@mariokeusen cache issue? it works for me

[2015-09-24 06:13] oterral commented on #2689
Doesn't affect the functionnalities but it's not nice. It seems it's related to teh translate directive.

[2015-09-24 06:33] oterral commented on #2698
Works for me can you retest please? Which browser do you use?

[2015-09-24 06:50] davidoesch commented on #2698
Latent ff on win10 still have an isdue

[2015-09-24 06:59] procrastinatio commented on #2698
Works on Chrome and IE.

Can you send us the `spec`(the json file)  that is sent to `create.json`, so we can see if it is a client or a server issue ?

[2015-09-24 07:25] #2701 closed

[2015-09-24 07:29] oterral commented on #2699
@davidoesch Can we put the red warning on the bottom after the "Haftung: ...." text ? Because in portrait the number lines used differs between languages and it's not nice.

[2015-09-24 07:43] davidoesch commented on #2699
Yes ok

On Thu, Sep 24, 2015 at 9:29 AM, oterral <notifications@github.com> wrote:

[2015-09-24 08:50] p1d1d1 opened #2707 "Popup on topic switch"
Use case:

1) Go to "Change topic"
2) Click on a specific topic
3) Topic is shown and a popup is shown containing "Nutzungsbedingungen"

is that possible?

[2015-09-24 09:27] davidoesch commented on #2707
No - no po ups and we deal globally in disclaimer with nurzungsbedingungen. This fits for wildruhezonen, skitouren et al.

So definitely no. Happy to discuss this with your customer

[2015-09-24 09:27] #2707 closed

[2015-09-24 12:37] #2689 closed

[2015-09-24 12:39] #2691 closed

[2015-09-24 12:39] #2700 closed

[2015-09-25 11:26] #2699 closed

[2015-09-25 11:38] gberaudo commented on #2692
Fixed with #2710.

[2015-09-25 11:38] #2692 closed

[2015-09-25 12:26] ltclm opened #2711 "newly added ech default layers are draped when loading the page"
The "featured" default layers of ech topic are shown automatically when switching to 3d mode
https://mf-geoadmin3.dev.bgdi.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&dev3d=true

T

[2015-09-25 12:32] gjn commented on #2711
Duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/2692

Will be fixed with #2710.

[2015-09-25 12:32] #2711 closed

[2015-09-26 20:30] cedricmoullet opened #2712 "Ordering issue in 3D viewer"
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product,ch.bfs.gebaeude_wohnungs_register&lon=6.93318&lat=46.81298&elevation=1548&heading=355.093&pitch=-49.422

Addresses should be above swissimage

[2015-09-27 09:45] davidoesch opened #2713 "location search: zoom to : tilt in 45°"
When choosing a result in swisssearch, eg creux du van

the camera position is looking into nadir
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=geol&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&lon=6.73053&lat=46.93696&elevation=2509&heading=360.000&pitch=-90.000&catalogNodes=1786,1787

expecting result when in 3D: pitch 45° to north
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=geol&la

[2015-09-27 09:50] davidoesch opened #2714 "switch from 2d to 3d: move south"
start
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true

activate 3d

result: half of the screen (north) is empty is germany
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&laye

[2015-09-27 09:59] davidoesch opened #2715 "Tooltip: 2d footprint of highlight visible"
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=geol&lang=fr&bgLayer=ch.swisstopo.pixelkarte-grau&lon=7.14721&lat=46.08595&elevation=6990&heading=286.274&pitch=-24.682&layers=ch.swisstopo.swissimage-product

although it is a nice feature, for the normal user this will be to complex to understands

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10122164/28b7b406-650f-11e5-9eea-f

[2015-09-27 10:02] davidoesch opened #2716 "tooltip box highlight"
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=geol&lang=fr&bgLayer=ch.swisstopo.pixelkarte-grau&lon=7.14721&lat=46.08595&elevation=6990&heading=286.274&pitch=-24.682&layers=ch.swisstopo.swissimage-product

when clicking in the object info box: red background

expected result:
as in 2d -> no bg color change in
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10122178/900d02b4-65

[2015-09-27 11:20] gjn commented on #2714
We need a solution that works allmthe time, not just for default coordinates, but for any coordinate and any zoom level.

I'd say A with the condition that everything that was visible in 2d should at least be shown in 3d. 3d wil show mor3 because of inclination.

[2015-09-27 11:21] gjn commented on #2715
That's a bug.

[2015-09-29 06:33] gjn opened #2717 "wms multi-url support"
We now have it and should therefore use it.

[2015-09-29 07:59] gjn opened #2718 "wms/balz layer not shown in A3 print"
From helpdesk:

 Guten Tag
Wir haben ein Problem festgestellt beim erstellen eines PDFs. Wenn man im map.bazl... mit den Hindernissen darauf eine A3 Seite erstellt, dann sind die Hindernisse nicht mehr darauf. Nur bei A4 funktioniert es dass die Hindernisse auch im PDF korrekt dargestellt werden. Das Problem bestand aber vor einigen Monaten nicht, da hatten wir es genau gleich gemacht und es funkt

[2015-09-29 08:03] procrastinatio commented on #2718
Ich nehme an, das Bild ist zu gross und der WMS Dienst liefert nichts beim A3.

[2015-09-29 09:00] procrastinatio commented on #2718
The print server is making a single tile WMS (1619x2396) request for A3:

`curl -I -L "http://wms.geo.admin.ch/?BBOX=510326.3923339844%2C129722.91666666667%2C713173.6076660156%2C266777.0833333333&HEIGHT=1619&WIDTH=2396&EXCEPTIONS=XML&TRANSPARENT=true&map_resolution=150&CRS=EPSG%3A21781&VERSION=1.1.1&FORMAT=image%2Fpng&SERVICE=WMS&format_options=dpi%3A150&LAYERS=ch.bazl.luftfahrthindernis&REQUEST=G

[2015-09-29 09:56] gjn commented on #2718
Well, IMO, basic problem is that the datenstand is part of the wms image. We should fix that and then switch to wms-c for this data.

Datenstand could be a (new) service of our API.

[2015-09-29 10:03] procrastinatio commented on #2718
The `datenstand`is also in the [legend](https://api3.geo.admin.ch/rest/services/all/MapServer/ch.bazl.luftfahrthindernis/legend?lang=de)

We could also do an aggregate layer of it:
* point, line and polygon as WMS-C
* datenstand as single tiled WMS

[2015-09-29 12:29] loicgasser opened #2720 "Topic Switch and Default Layers"
Step to reproduce:
1. Open map.geo.admin.ch
2. Switch to bafu to topic
3. Switch back to ech

Result:
Journey through time layer is added 2 times to the map and can been seen twice in the layer tree

Expected Result:
Journey through time is added only once.

[2015-09-29 12:42] loicgasser opened #2721 "Inconsistent behaviour on topic change"
Step to reproduce:
1. open map.geo.admin.ch
2. Switch to geol topic

Result:
The layer manger is closed automatically.

Expected result:
??

Another use case is:
1. Open map.geo.admin.ch?topic=geol
2. Switch to ech topic

Result:
The catalog is closed automatically.

Excpected result:
??

This is kind of confusing for me, so I can't imagine users...

I believe that if the catalog or layertree were

[2015-09-29 13:06] p1d1d1 opened #2722 "[Revision Service]: Permalink without X/Y"
@gjn we are receiving revision messages where the permalink has no X/Y coordinates.
Could you please check this?

[Meta-2015092410280637.txt](https://github.com/geoadmin/mf-geoadmin3/files/4406/Meta-2015092410280637.txt)

[2015-09-29 13:32] gjn commented on #2722
It's due to a recent change we did. In default view, then the user didn't pan or zoom yet, X/Y/zoom is not in the permalink.

That's not a problem, because the default view doesn't change.

[2015-09-29 13:32] #2722 closed

[2015-09-29 15:13] loicgasser commented on #2356
@mariokeusen I need the translations for "query_operator" as in print screen above.
@davidoesch What would be the title?

[2015-09-30 09:32] cedricmoullet opened #2724 "First 3D activation doesn't position the camera correctly"
all in the title

[2015-09-30 09:44] cedricmoullet opened #2725 "Deactive right mouse click in 3D"

[2015-09-30 09:45] cedricmoullet opened #2726 "Switch directly to 3D if permalink is 3D"

[2015-09-30 10:33] davidoesch commented on #2725
Why this? If the user clicks over the horizon line just don't show no coordinates . Since we already plan to show the altitude in the footer the tooltip makes complete sense--- if not In the alpha then in the beta

[2015-09-30 10:36] cedricmoullet commented on #2725
Right button is used to zoom in zoom out.
We try to change that, but, for now, we need to deactivate context popup.

2015-09-30 12:33 GMT+02:00 davidoesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-09-30 10:38] davidoesch commented on #2725
Ok

To Be consistent with 2d : left double click is zoom in

[2015-09-30 12:42] procrastinatio commented on #2718
@gjn @ltclm @AFoletti Datenstand is already in the legend. Has it to be displayed on the map ? The real trouble is that this information is in the BOD and the layer's table. If the layer fails to deploy but not the BOD, you may have two `datenstand`.

[2015-09-30 14:36] procrastinatio commented on #2718
Please test against `wms-bgdi.dev.bgdi.ch`

[2015-09-30 14:38] procrastinatio commented on #2718
See PR https://github.com/geoadmin/wms-bgdi/issues/11

[2015-09-30 14:48] procrastinatio commented on #2718
@AFoletti @ltclm Could you please deploy the WMS-BGDI service to prod ?

[2015-10-01 07:20] gjn commented on #2724
I think I've found the reason for this. It's related to ol3-cesium initialisation, where the canvas size is not updated on initialisation.

[2015-10-01 07:44] gjn commented on #2724
ol3-cesium patch is ready. See https://github.com/openlayers/ol3-cesium/pull/253

@gberaudo if you could have a look.

[2015-10-01 09:16] #2725 closed

[2015-10-01 13:05] fredj opened #2731 "ol3cesium.js never cached"
The file is never cached by the browser (or the proxies) because a `?_=xxx` suffix is added by jquery.
See https://api.jquery.com/jquery.getscript/ (Caching Responses)

[2015-10-02 07:40] procrastinatio opened #2733 "KML import: issues with coordinates well outside extent"
Look at:

[Good KML](https://s.geo.admin.ch/6752d7872b)

[Wroong KML](https://s.geo.admin.ch/6752d8789d)

[code]

[2015-10-02 18:44] AFoletti opened #2734 "Offline mode downloads selected but not active layers"
To reproduce:
- open map.geo.admin.ch with default settings on a mobile device (or desktop with mobile=true)
- select an area and download data

Result:
- not only pixelkarte, but the 4 selected (which are not visible on the map, since not active) layers are downloaded.
- Several pixelkarte tiles are missing, maybe because of limited memory (gobbled up by unwanted layers). To the user, it looks li

[2015-10-02 20:32] davidoesch commented on #2356
Since Boolean is not that common, I would call it

DE "Abfragebedingung"
EN "Query condition"

etc

and and a "-" in pulldown for no query operator

[2015-10-02 20:37] davidoesch commented on #2721
Shortterm
A) "if the catalog or layertree were previously open before topic change, we shouldn't close them."
-> Agree, if the cost on implementing that (incl side effects/regression) are reasonable- please do so

Longterm
B) we would like to close the topic tree by default on all topics and encourage the topic owner to show off on start with his 3-5 most wanted layer and layer manager open. for t

[2015-10-03 10:24] loicgasser commented on #2356
You want to use (-) when we have only one condition? How it works at the moment is that you can't select an operator untile you have at least 2 conditions.

What about "Query conditions operator"?
or "Query conditions connector"?

[2015-10-05 07:23] #2731 closed

[2015-10-05 20:34] davidoesch commented on #2356
You want to use (-) when we have only one condition? How it works at the moment is that you can't select an operator untile you have at least 2 conditions.
-> omit the "-" if it is only visible if it has 2 conditions

What about "Query conditions operator"?
or "Query conditions connector"?

-> lets do how  google does it

[EN] Advanced search operator (https://support.google.com/mail/answer/7190?h

[2015-10-05 21:44] davidoesch opened #2737 "3d search: two markers visible"
open 3d dev on ff
enter "bern"

got to bern first result,
pan zoom/tilt around

zoom out: https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&lang=en&topic=ech&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,

[2015-10-06 07:16] loicgasser commented on #2356
makes total sense

[2015-10-06 08:45] gjn opened #2738 "Whole globe with countries for LOD 0-7"
In 3D, we want to show whole globe including continent/nation boundaries for LOD 0-7

[2015-10-06 11:27] #2734 closed

[2015-10-06 11:54] oterral commented on #2733
If the placemark (well outside extent) is alone in the KML, the map is well centered on it.
When there is 2 placemarks very far away one from each other the map can't zoom out enough to show the 2 features because we have constrained the resoulton of the view .

So I don't think it's a bug.

[2015-10-06 11:55] oterral commented on #2733
Or may be we can improve that and at least, intersects the features's extent with the projection extent to avoid the map zooms in a no man's land.

[2015-10-06 11:57] davidoesch opened #2740 "activate preselected layer via search"
all browsers

start app
 search for adresses "Gebäude- und Wohnungsregister"

-> layer is  loaded - but cant' be activated via all in one search

expected result:

if a layer is searched for and he is already in the availbale layer list: he can be activated via all in one search

[2015-10-06 12:01] gjn commented on #2740
This affects all pre-selected layers.

The reason is probably that these layers are already added to the map, but invisible. So clicking them does nothing because usually a click adds a map with default visibility.

What should happen? Should we activate the layer on click? For all layers in the layer manager?

[2015-10-06 12:01] davidoesch commented on #2740
expected result:

if a layer is searched for and he is already in the availbale layer list: he can be activated via all in one search

[2015-10-06 13:47] oterral commented on #2715
Line clamped to ground not yet available in Cesium

[2015-10-06 13:51] oterral commented on #2721
I think the catalog should be hide if the new topic has activated layers , no?

[2015-10-06 14:31] #2695 closed

[2015-10-06 14:39] #2733 closed

[2015-10-06 19:59] cedricmoullet commented on #2718
@alcapat @AFoletti @ltclm Have you deployed the WMS BGDI ?

[2015-10-06 20:01] #2356 closed

[2015-10-07 09:25] gjn opened #2744 "Print A3: Coordinate labels"
From feedback:

 Koordinaten werden nur in X-Richtung beschriftet, im A3-Querformat wird überhaupt kein Netz generiert. Danke..
Permalink: https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.swisstopo.swissimage-product&layers_visibi

[2015-10-07 09:41] davidoesch commented on #2744
Known issue @afoletti and @mariokeusen are working on it

[2015-10-07 10:16] procrastinatio commented on #2744
See PR https://github.com/geoadmin/wms-bgdi/pull/13

@AFoletti @alcapat @daguer @ltclm Die someone deployed the WMS BGDI since the merge ?

[2015-10-07 19:04] davidoesch opened #2745 "Object filtering/ Query tool : more than 2 Conditions"
with an Advanced search operator (and/or function) it would be helpful to
- [ ] have more more then 2 search condtions and set for each condition the boolean operator
- [ ] and NOT as operatore (with this we support all three basic boolean operators)

[2015-10-07 19:16] davidoesch opened #2746 "Footer: Commune/Canton info"
For Desktop only
Add Commune and Canton for mousposition, based on UTFGrid or similar service
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10348319/adee7caa-6d38-11e5-8417-0baea8852a12.png)

[2015-10-07 19:18] davidoesch opened #2747 "Layer Selection: reorder by drag and drop"
as in http://map.geo.fr.ch/
Layer Selection: reorder by drag and drop

[2015-10-07 19:24] davidoesch opened #2748 "Toggle for advanced settings in layer selector: show title of layer edited"
it is more clear which layer is changed/edited (eg set transparency
proposal
- open on toggle on setting below the layer name as in As for exmaple in http://map.geo.fr.ch/?dataTheme=Localisation&theme=CARTES_COULEUR&lang=de

@all other proposals?

[2015-10-07 19:26] davidoesch commented on #2721
this is currently the goal for ech and after the feedback from the topic
owners for all topics

On Tue, Oct 6, 2015 at 3:51 PM, oterral <notifications@github.com> wrote:

[2015-10-07 19:32] gjn commented on #2745
We decided against multiple and/or because it would cluster the UI and there's no user friendly way to put the parantheses...user would basically need to write part od query by hand.

Having not operator does make sense.

Proposal: wait for feedback of new and/or and analyse usage and re-discuss in a couple of weeks.

[2015-10-08 05:43] oterral commented on #2745
+1 for let the user specify himself the query string for more complex search. There is no nice UI way to do that in the tiny small popup.

[2015-10-08 05:50] cedricmoullet commented on #2745
Let's go with this version for now.

2015-10-08 7:43 GMT+02:00 oterral <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-10-08 06:07] gjn commented on #2748
+1 from me.

[2015-10-08 18:43] cedricmoullet commented on #2748
+1

[2015-10-09 07:37] oterral opened #2755 "Draw an annotation triggers a js error in ol3-cesium"
PR in https://github.com/openlayers/ol3-cesium/pull/259

[2015-10-09 07:39] oterral commented on #2726
Fixed

[2015-10-09 07:39] #2726 closed

[2015-10-09 07:40] oterral commented on #2724
Fixed [Test](https://mf-geoadmin3.dev.bgdi.ch/?lang=fr&topic=ech&dev3d=true&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=8.88086&lat=43.36545&elevation=389646&heading=360.000&pitch=-43.714)

[2015-10-09 07:40] #2724 closed

[2015-10-09 07:55] oterral commented on #2713
Maybe some results from searh should have a pitch and rotate properties to position the camera well.

[2015-10-09 07:58] oterral commented on #1041
Fixed [Test](https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=geol&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&lon=6.94440&lat=47.01709&elevation=7145&heading=239.460&pitch=-16.188&catalogNodes=1786,1787&layers=ch.swisstopo.geologie-geocover,WMS%7C%7CTektonische%20Strukturen%7C%7Chttp:%2F%2Fwww.sogis1.so.ch%2Fcgi-bin%2Fsogis%2Fsogis_geologie.wms%7C%7Ctektonik&layers_opacity=0.75,1)

[2015-10-09 07:58] #1041 closed

[2015-10-09 08:01] oterral commented on #2634
Finally fixed with https://github.com/geoadmin/mf-geoadmin3/pull/2749

[2015-10-09 08:01] #2634 closed

[2015-10-09 08:10] gjn commented on #2687
It seems to happen after every pan in 2D. Effect is more visible when browser is sized in landscape. (In protrait, effect is minimal).

[2015-10-09 21:18] davidoesch opened #2758 "aggregated layer: order not taken into account"
https://mf-geoadmin3.dev.bgdi.ch/?bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&lang=en&topic=ech&layers=ch.swisstopo.swissimage-product,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&lon=7.67856&lat=46.50017&elevation=2640&heading=359.922&pitch=-88.441

expected result:

Address points are on swissimage

[2015-10-10 08:08] davidoesch commented on #2489
we solve this with intgerating each EPSG as dataset and have only LV03 in the print as default

[2015-10-10 08:09] davidoesch commented on #2716
this affects now as well prod... and is really not nice

[2015-10-10 18:08] cedricmoullet commented on #2716
Is it not what we wanted ?

[2015-10-12 06:27] oterral commented on #2758
Simlilar to https://github.com/geoadmin/mf-geoadmin3/issues/2712 , I guess

[2015-10-12 06:45] davidoesch commented on #2758
duplicate of  #2712 ,

[2015-10-12 06:45] #2758 closed

[2015-10-12 06:57] davidoesch commented on #2716
it makes sense if multiple ( more than one) features are active/selected on the map (consistency with select by rectangle) , but  not if there is only one (1) object selected: since it *is* already highlighted

@oterral  doable?

[2015-10-12 07:56] oterral commented on #2716
Yes we could remove it if only one object selected.

[2015-10-12 07:57] davidoesch commented on #2716
ok please proceed

[2015-10-12 08:34] mariokeusen commented on #2744
Steps to improve this situation (according to discussion with oed, foa and main customer bazl):
1. Integrate all wms-grid layers as data layers by data integrations: [1, 2, 3,]. This way the has the choice, which grid(s) he wants to have displayed on the map. And when this is done:
2. Keep only the org.epsg.grid_21781 grid (old swiss) on the grid "checkbox" of the print tool

[1] https://redmine.p

[2015-10-12 08:39] mariokeusen commented on #2718
Could verify with Chrome and IE.
I can only confirm that, yes, the Datenstand has to be present on the map due to safety reasons, especially for the print use-case. This was a MUST condition by the data owner when we first-integrated this layer.

[2015-10-13 06:19] oterral commented on #2755
Fixe dwith https://github.com/geoadmin/mf-geoadmin3/pull/2759

[2015-10-13 06:19] #2755 closed

[2015-10-13 06:29] davidoesch commented on #2331
correct-- if I zoom to the aoi then it works.
not that nice but for 80/20 it should fit

[2015-10-13 06:29] #2331 closed

[2015-10-13 06:38] oterral commented on #2570
If you don't want the cursor loading wheel effect, I think we have 2 solutions :

 1) Use a common indicator always at the same place for all the application. A message as gmail does, or the red bar effect as on mobile, or whatever else.

or 2) Put a loading indicator at the place where the user click (for example in the button when printing, or replacing the search icon when searching (as gmap),

[2015-10-13 06:41] davidoesch commented on #2570
+1 for " the red bar effect as on mobile" ( but nevertheless: we should
focus on NOT needing a loading indicator

On Tue, Oct 13, 2015 at 8:38 AM, oterral <notifications@github.com> wrote:

[2015-10-13 06:52] oterral commented on #2748
Shouldn't be hard to do.

[2015-10-13 06:57] oterral commented on #2721
We must keep in mind than probably 1% of the user (mainly us) change the topic, so I think we can live with that.

[2015-10-13 07:00] davidoesch commented on #2721
exactly... we do already urge dataowners to communicate URLs rather than
encourage users to switch topics

On Tue, Oct 13, 2015 at 8:57 AM, oterral <notifications@github.com> wrote:

[2015-10-13 07:40] mariavkourouni commented on #2748
I just saw it! yes, I will do it!

[2015-10-13 11:56] #2720 closed

[2015-10-13 12:00] gjn commented on #2570
Shouldn't we have the waitcursore for that? (Hourglass as long as requests are running in the back-end?)?

[2015-10-14 08:02] fredj opened #2762 "pegman improvements"
- [ ] buildings collision on
- [x] mouse over: make it the same mouse icon as when on rotate and shift
- [x] beautify pegman white https://fontawesome.com/icons/street-view?style=solid (otherwise paulo)
- [x] make pegman disappear when active
- [ ] NTH make pegman animated when mousover to jump on to the map (as in gmaps)
- [x] pegman amousover text: "[EN] Explore in FPV"
- [x] in pegman mode: ful

[2015-10-14 08:11] davidoesch commented on #2570
it is simply: hourglasses on mobile do look very win3.1

On Tue, Oct 13, 2015 at 2:00 PM, Gilbert Jeiziner <notifications@github.com>
wrote:

[2015-10-14 08:16] Jenselme commented on #2748
+1

[2015-10-14 11:30] davidoesch commented on #2762
low prio
- [ ] mouse over: make it the same mouse icon as when on rotate and shift
- [ ] put the text below pegman
- [ ] make pegman red when active
- [ ] mosue movement to sensible at the moment

[2015-10-14 13:11] davidoesch commented on #2489
will be solved by data intgeration of the different epsg's.
only lv03 will be visible by default

[2015-10-14 13:11] #2489 closed

[2015-10-14 19:20] davidoesch commented on #2170
"Zolliker Strasse“ has to find „Zollikerstrasse“ (#1860) issue will be solved as soon as more than 50 datasets are displayed in the results.... depending on the decision by the ct. @beat-github  what is teh current status regarding addresses?

[2015-10-14 19:22] davidoesch commented on #2091
@cedricmoullet IMHO adding manually geolocation=true if needed is 80/20. your thoughts?

[2015-10-15 06:28] cedricmoullet commented on #2091
+1

2015-10-14 21:22 GMT+02:00 davidoesch <notifications@github.com>:

--
Twitter: http://twitter.com/cedricmoullet
Linked In: http://www.linkedin.com/in/cedricmoullet

<http://twitter.com/cedricmoullet>

[2015-10-15 07:07] AFoletti commented on #2718
we sill have a problem with the wms-bgdi translation. The maxsize setted by the mentioned PR is present only in the DEV version of the file.
I'm checking that and will deploy ASAP

[2015-10-15 07:31] oterral opened #2765 "Search weird results"
Type `velo` in the search then you obtain weird results in list of layers like `Peste de l'ecrevisse`, `Sites 200 watts`,  `Carte Sigfried`

[2015-10-15 08:00] cedricmoullet commented on #2765
@davidoesch ?

[2015-10-15 08:55] davidoesch commented on #2765
only in french

It is in the word "développement " in french

-> for layer search remove fuzzy search or only show exact matches

[2015-10-15 08:58] davidoesch commented on #2091
decision; Always remove geolocation=true parameter when creating a a short Url.

[2015-10-15 09:01] gjn commented on #2765
There's no fuzzy search for layers. only exact matches; but part words are supported, and I think it's a good idea. But it could be changed if desired.

[2015-10-15 09:03] gjn commented on #2091
Is it ok to never have it in the URL at all? Would facilitate implementation greatly and manual creation would still work. Downside: F5 would loose geolocation state.

[2015-10-15 09:10] davidoesch commented on #2091
Is it ok to never have it in the URL at all? -> yes

[2015-10-15 09:12] davidoesch commented on #2765
Agree on part words-... "velo" is just unhapy example...

Question is: how to ensure the ranking once with have the velolayer?

eg for "wanderwege" in DE ranking works very good

[2015-10-15 09:16] gjn commented on #2765
Full word matches weight more than part word matches. Beginning/end of word matches weight more than in-word matches. So I think this should be good.

[2015-10-15 09:24] gjn commented on #2091
PR ready: https://github.com/geoadmin/mf-geoadmin3/pull/2766

[2015-10-15 09:25] davidoesch commented on #2765
ok

[2015-10-15 09:25] #2765 closed

[2015-10-15 09:30] oterral commented on #2765
word in the title of the layer should weight more than others.

[2015-10-15 11:25] tigerfoot commented on #2748
+1

[2015-10-15 11:56] AFoletti commented on #2718
wms-bgdi is deployed to PROD.
Maxsize is now 3850px, in order to allow A3 print and use of the WMS on UltraHD monitors

test [here] (https://wms.geo.admin.ch/?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=ch.bazl.luftfahrthindernis&CRS=EPSG%3A21781&STYLES=&WIDTH=3200&HEIGHT=3200&BBOX=633150%2C177845%2C652350%2C184915)

[2015-10-15 12:29] gjn commented on #2718
Working fine. Thanks alot.

[2015-10-15 12:29] #2718 closed

[2015-10-15 13:25] #2721 closed

[2015-10-15 14:55] #2091 closed

[2015-10-15 14:56] #2716 closed

[2015-10-16 06:33] #2717 closed

[2015-10-16 17:12] Jenselme commented on #2733
FYI, the patch from #2741 fixed the problem in dev but not in prod (with build.js). From what I understand, the versions of OpenLayers are not exactly the same, and in dev, ol refuses to fit to an empty extent, whereas in prod it changes the center anyway.

To completely get rid of the problem, I had to add a method to `gaMapUtils`:

[code]

and modify `addKmlLayer`:

[code]

I can open a PR for t

[2015-10-17 21:37] davidoesch opened #2770 "report a proble: send button not vis"
reproduce

chrome
start map.geo.admin.ch
report a problem
move  report window

result: send button dissapears

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/10561413/e08b6582-7527-11e5-9bea-db97243fd529.png)

expected result
icons not arranged
or scroollbar introduced

cc @p1d1d1

[2015-10-19 06:24] oterral commented on #2733
I'm not fully understand what do you mean.   Do you mean `olMap.getView().fit([])` doesn't work or  `olMap.getView().fit([200000,600000,200000, 600000])` doesn't work ?

[2015-10-19 11:51] #2740 closed

[2015-10-19 11:52] oterral commented on #2740
Fixed by PR

[2015-10-19 12:40] davidoesch opened #2772 "Print asks for permission (403)"
Printing from "outside Bund" : a 403 is returned

Although I can not reproduce it, we had several customers who were able to do so (see eg helpdesk Customer feedback ID : 2015101913282565) and cleaning achace or restarting computer did not help

Error message after hitting the print button

"Die Website hat die Anzeige dieser Webseite abgelehnt.
HTTP 403
Wahrscheinlichste Ursachen:
•Diese Website

[2015-10-19 13:30] Jenselme commented on #2733
I mean that on some version of ol, `olMap.getView().fit([200000,600000,190000, 590000])` (which is a zoom on an empty extent) will zoom somewhere and that somewhere can be outside the portal, thus not completely solving the issue.

Is this clearer?

[2015-10-19 13:52] oterral commented on #2733
Since an extent is defined by `[minx, miny, maxx, maxy]` , your extent is not valid,so I don't think we can consider that as a bug in mf-geoadmin3.  The extent is calculate by the intersection of the `gaGlobalOptions.defaultExtent`and `source.getExtent()`  , what is the value for these extents?

[2015-10-19 15:01] Jenselme commented on #2733
I agree. However, when I imported a KML in our geoportal (which is based on mf-geoadmin3), the intersection of `gaGlobalOptions.defaultExtent` and `source.getExtent()` gave me a invalid extend like the one I gave previously (I can give you the real values if you want). And on the dev version, ol tried to use it anyway and centered the map outside of the portal. Hence my correction.

I think that m

[2015-10-19 15:02] oterral commented on #2733
I agree if the result of intersection is false it's a bug. Can you give the 2 extents please?

[2015-10-19 15:27] Jenselme commented on #2733
Here are the extents (EPSG:21781):

- Portal: 550000.0, 210000.0, 620000.0, 245000.0
- KML: [ 485791.5002320678, 107229.47002169346, 512656.946953667, 142289.5628862556 ] (from http://opendata.utou.ch/urbanproto/geneva/geo/kml/Routes.kml)
- intersect: [ 550000, 210000, 512656.946953667, 142289.5628862556 ]

OpenLayers centers the map at 531328.4734768334, 176144.78144312778 on production. Now that

[2015-10-20 05:23] gjn opened #2773 "Support for non-Swiss projected WMS sources"
OpenLayers has added support for on-the-fly image reprojection [1]. We could use this to support wms sources which don't support Swiss projection systems (like IGN, etc).

[1] https://github.com/openlayers/ol3/pull/4122

[2015-10-20 05:39] gjn commented on #2772
Looks like IE9. Might be security settings.

[2015-10-20 05:42] davidoesch commented on #2772
... We did once implement  a solution for IE for enabling the pdf download- a side effect?

[2015-10-20 05:44] gjn commented on #2772
Could very well be. We recently switched our print back-ends, thus changed something in varnish configuration. Might be that this broke IE9 workaround.

I'll have a look Thursday.

[2015-10-20 06:19] oterral commented on #2733
There is no intersection so `intersectWithDefaultExtent` should return undefined.

[2015-10-20 06:20] oterral commented on #1583
@davidoesch PR merged in ol3 https://github.com/openlayers/ol3/pull/4122

[2015-10-20 06:41] davidoesch commented on #1583
thanks this will solve requests like this https://groups.google.com/forum/#!searchin/geoadmin-api/overlay$20kml/geoadmin-api/StzvQzO-_-A/QHX2Bnte9Ok

[2015-10-20 06:43] Jenselme commented on #2733
Indeed. Do you want me to open a PR for that?

[2015-10-20 06:43] oterral commented on #2733
Sure :)

[2015-10-20 07:18] davidoesch commented on #2773
referenced it in https://github.com/geoadmin/mf-geoadmin3/issues/2414

@cedricmoullet tackle now the Import tool as in 2414 would make sense

[2015-10-20 07:58] #2737 closed

[2015-10-21 12:12] gjn opened #2782 "Reload of page does not work"
This can only be reproduced in FF41 on Linux.

When loading a certain link for the first time, everything loads as expected. When re-loading the page using F5, there are not tiles loaded and map stays completely emtpy.

https://map.geo.admin.ch/?lang=en&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,

[2015-10-21 13:01] fredj commented on #2782
Same issue when clicking on the "reload page" button (right of the address bar)

[2015-10-21 13:23] fredj commented on #2782
@gjn, @oterral I think I've found the issue: it's related to varnish

[2015-10-21 13:28] oterral opened #2783 "Overlays are not well positionned"
Measure overlays .

[2015-10-21 13:35] fredj commented on #2782
See RT ticket 194154

[2015-10-21 13:49] oterral opened #2784 "KML layers > 2mo doesn't display on 3d"
KML layers > 2mo use a `ol.layer.Image` with 2 sources nested so ol3 cesium doesn't detect those as vector layers.

[2015-10-21 14:10] gjn commented on #2782
@fredj Great find!

[2015-10-21 14:29] fredj commented on #2782
fixed

[2015-10-21 14:30] #2782 closed

[2015-10-22 05:23] gjn commented on #2772
We did a change in varnish by also requiring referer for print downloads (before, referer was only needed to create the print).

@danduk82 Could you please revert this change as it break IE9 printing. Instead of /print/* i [1], we should use "/print/*.json*"

I can test it on dev/int before going to prod. Let med know.

[2015-10-22 05:59] #2770 closed

[2015-10-22 06:58] danduk82 commented on #2772
@gjn : I do it ASAP, I'm having a couple of issues right now because of the puppet 4 migration (which I was informed about only this morning by the way...).

[2015-10-22 09:35] oterral opened #2785 "Layer group load all the layers on each zoom level"
Example with `ch.bfs.gebaeude_wohnungs_register` which contains  wms layer and a wmts.

I think specifiyng `minimumTerrainLevel`and `maximumTerrainLevel` to the [imageryLayer](https://cesiumjs.org/Cesium/Build/Documentation/ImageryLayer.html) in the [gaSynchronizer](https://github.com/geoadmin/mf-geoadmin3/blob/master/ol3-cesium-plugin/garastersynchronizer.js#L51) should fix the problem.

[2015-10-22 10:05] mariavkourouni commented on #2748
https://github.com/geoadmin/mf-geoadmin3/pull/2786

[2015-10-22 10:53] mariokeusen commented on #2548
What is the status here for the further procedure? There was again a customer request for that.

[2015-10-22 11:37] fredj opened #2788 "Restrict the 3d extent"
Limit the camera position

[2015-10-22 12:19] oterral commented on #2773
In this PR there is the update of ol for the raster reprojection stuff https://github.com/geoadmin/mf-geoadmin3/pull/2787

[2015-10-23 02:10] cedricmoullet commented on #2785
Could you prepare a demo ?

[2015-10-23 05:43] gjn commented on #2785
[Just add wohnungs register layer](https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,true,false,false&layers_timestamp=18641231,,,&lon=8.22546&lat=42.48845&elevation=605346&heading=360.000&pit

[2015-10-23 13:13] oterral opened #2790 "ol3-cesium is loaded twice when we start in 3d mode"
Open https://map.geo.admin.ch/?lang=fr&dev3d=true&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=7.55347&lat=46.51130&elevation=46011&heading=360.000&pitch=-40.410

Look in the developer tool

[2015-10-23 13:28] gberaudo commented on #2773
It is a feature I have on my radar for ol3-cesium.

[2015-10-23 13:54] oterral commented on #2712
Fixed on prod https://map.geo.admin.ch/?dev3d=true&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swissimage-product,ch.bfs.gebaeude_wohnungs_register&lon=6.95555&lat=46.67230&elevation=19646&heading=355.109&pitch=-49.560

[2015-10-23 13:54] #2712 closed

[2015-10-23 15:25] davidoesch commented on #2773
Omg - if the openstreetmap community starts to display their data via our wms import in 3D .... ;-)

On Fri, Oct 23, 2015 at 3:28 PM, gberaudo <notifications@github.com>
wrote:

[2015-10-26 10:17] davidoesch opened #2791 "Print: on scale change zoom to corresponding extent"
Zoom to ca 1:25k
go to print
change scale to 1:500K

-> print extent is out of window

expected result

If print scale is changed change as well the map extent in in viewer

[2015-10-26 12:41] davidoesch opened #2793 "WMS Import: Maps4BW WMS to the list"
Can you add the
http://owsproxy.lgl-bw.de/owsproxy/ows/WMS_Maps4BW?

to the WMS List in the pulldown?

[2015-10-26 12:55] davidoesch opened #2794 "WMS imported: cannot be shared"
This https://s.geo.admin.ch/67cf903cc9

should contain this http://owsproxy.lgl-bw.de/owsproxy/ows/WMS_Maps4BW?  WMS

but in FF CHrome and IE it does not work when shared

[2015-10-26 12:57] p1d1d1 opened #2795 "[Feedback-Tool] - "Send" button disappears after moving the window."
To reproduce:

* Open the "Feedback Tool"
* Drag the window --> Send button no more available

Tested on IE, Firefox, Chrome

[2015-10-26 13:02] davidoesch commented on #2795
duplicate of  https://github.com/geoadmin/mf-geoadmin3/issues/2770

[2015-10-26 13:02] #2795 closed

[2015-10-26 13:27] oterral commented on #2794
It's a  WMS 1.1.1 , It's not supporeted from the permalink because we don't load the GetCapabilities in this case.

[2015-10-26 13:29] davidoesch commented on #2794
well this is then really confusing for the user: since not even an error is reported.

-> possible to support 1.1.1 as well? or can we onyl support one (1) WMS version clientside?

[2015-10-26 13:46] oterral commented on #2794
The first error is on their  side because in the import WMS tool, we try to load the GetCap 1.3.0 and we receive the 1.1.1.

[2015-10-26 14:05] oterral commented on #2794
We could put the version of the WMS in the permalink too.

[2015-10-26 14:06] davidoesch commented on #2794
Asked the owners in DE for a correction

[2015-10-27 06:53] #2790 closed

[2015-10-27 08:21] davidoesch opened #2796 "IE 11 Loading /rendering performance"
IE11 under win7 (standard office PC) win 8 and win10

a scene takes way longer to load than under ff or chrome or EDGE in win10 on the same device

-> since this IE11 under win7 (standard office PC) is the standard PC: we have to introduce here an optimization to overcome IE11 limitations

(a warning as eg " please use a modern browser" ...is not the way to go...)

[2015-10-27 12:24] p1d1d1 opened #2799 "[Feedback-Tool] - Implement delete options"
It should be possible to delete features.

[2015-10-27 12:34] davidoesch commented on #2799
duplicate https://github.com/geoadmin/mf-geoadmin3/issues/2467

please coordinate with me the priorities. if we do changes to draw functions then we do it globally

[2015-10-27 14:33] p1d1d1 commented on #2799
@davidoesch sorry. In fact I had some doubts whom assigning the ticket to.
Will address future tickets to you.
By the way..... deleting is not possible in Feedback Tool

[2015-10-28 10:13] mariokeusen opened #2802 "[infobox & tooltip window]: Bundesamt für Kultur not translated in EN"
UC: open app, switch lang to EN, load a dataset of Bundesamt für Kultur BAK, open infobox and tooltip window
Result: Data owner is not translated in EN
Expected: Data owner is translated in EN like all other Federal Offices

Workaround: use following translation: Federal Office of Culture FOC
![bak_en](https://cloud.githubusercontent.com/assets/4577749/10785498/d8414384-7d64-11e5-8fd7-af5043839a7c

[2015-10-28 14:38] oterral commented on #2793
fIXED BY #2798

[2015-10-28 14:38] #2793 closed

[2015-10-29 10:14] AFoletti opened #2805 "print does not work with WMS layers"
the print does not work anymore with WMS layers. baseURL is missing in the request.
@gjn already identified a possible fix

[2015-10-29 10:15] AFoletti commented on #2802
Fixed in BOD. Will be online next deploy

[2015-10-29 10:15] #2802 closed

[2015-10-29 11:35] mariokeusen commented on #2802
Merci

[2015-10-30 12:48] gjn opened #2808 "Print test with all kind of layers"
We need a print test in saucelab that tests a map containing the following type of layers:

- wmts
- wms single tile
- wms tiled
- geojson
- external wms
- external kml

Test if print is successfull.

[2015-10-30 12:49] gjn commented on #2808
See also https://github.com/geoadmin/mf-geoadmin3/pull/2807

[2015-10-31 09:28] davidoesch opened #2809 "3d mobile: remove offline button"
when in 3d on mobile: remove offline button

[2015-11-02 07:44] davidoesch opened #2810 "Chrome: Draw&measure "copy link" button does not work"
Chrome 46

https://map.geo.admin.ch/?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,,&X=199428.57&Y=667071.43&zoom=1&adminId=5W5y3gNDRaegfLhUsAEBMA

click admin "copy link"

does not

[2015-11-02 07:55] davidoesch opened #2811 "add msgid for kml drawing"
When current drawing is shared it appears with a title "drawing" in all lang
AFAIK, this is the KML <Document><name> tag - we discussed this as well during the dev  of drawing... with @oterral

proposal
A) detect lang setting at the beginning of the draw session and set <Document><name> to

DE Zeichnung
FR Dessin
IT  Disegno
EN Drawing
RM Dissegn

B) otherwise set it to all lang to a unilang abbre

[2015-11-02 08:23] oterral commented on #2810
It's a collateral damge of a feature without geometry.

[2015-11-02 08:43] #2748 closed

[2015-11-02 09:04] oterral commented on #2809
hmmm should be the case already. Do you have a special usecase?

[2015-11-02 09:05] oterral commented on #2808
and KML from public.geo.admin.ch

[2015-11-02 09:47] cedricmoullet commented on #2811
A

[2015-11-02 09:51] davidoesch commented on #2809
if I open https://mf-geoadmin3.dev.bgdi.ch/teo_fix_2674/index.html?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,true,false,false&layers_timestamp=18641231,,,&mobile=false&X=163030.49&Y=645942.61&zoom=2 from #2813

it is r

[2015-11-03 10:06] #2788 closed

[2015-11-03 10:34] davidoesch opened #2818 "IE 11 Perfomance 3d: setting the viewer.resolutionScale property in IE only, for example, try it with 0.5"
Proposal to fix IE 11

"
Are we talking unusably slow, or just noticeably slower than all other" browsers?  For example, what does this link report for FPS.

If it's the former, you may be experiencing software rendering caused by IE's aggressive and large hardware black list.  If you look in the IE dev console when running Cesium, do you see any messages about software mode or rendering?  The bes

[2015-11-03 12:55] gjn commented on #2818
I played around a bit with fed IE11. It seems to me that performance is generally worse by factor 2-3 for cesium demo viewer; but still slower for our application. I think it's because we load more data than the cesium demo viewer.

Each request individaully does not appear to be slower to me, but they are issued in much greater intervals. This might be triggered by slow/slower software rendering

[2015-11-03 12:55] gjn commented on #2818
I've created an issue with our IT regarding GPU and IE11.

[2015-11-03 13:00] gberaudo commented on #2818
@gjn, it seems easy to implement it. I will have a try to it.

[2015-11-03 16:31] gberaudo commented on #2818
@gjn, I added the ability in ol3-cesium: https://github.com/openlayers/ol3-cesium/pull/281.

Now OL3-Cesium also honours device pixel ratio (like in Cesium viewer) so devices with high density will consume more resources. See https://github.com/openlayers/ol3-cesium/pull/281/files#diff-9efadb08b1671f0f03c3e32face08d92R213
If it is not what we want, we can pass `ol3d.setResolutionScale(1/(window.de

[2015-11-03 18:24] davidoesch opened #2819 "3D keyboard controls v2"
ArcgisEarth  http://blogs.esri.com/esri/arcgis/2015/10/30/earthkeyboardnav/
Googel Earth: https://support.google.com/earth/answer/148092?hl=en&vid=1-635767900786720109-2706116398

-

[2015-11-03 20:04] davidoesch opened #2820 "Measure : 3 circles don't display"
call up this URL https://s.geo.admin.ch/67fa47f06d

3 circles are displayed:
http://www.awesomescreenshot.com/image/720574/d4292e5e4c179fe3989c41b0f1027be7

zoom in: :boom: only one is visible
http://www.awesomescreenshot.com/image/720580/b6a22f736abcd47b9d33f29b85d35cab

expected result

If I draw three circles they are always visible

[2015-11-04 07:51] #2674 closed

[2015-11-04 10:00] #2785 closed

[2015-11-04 10:09] gjn commented on #2818
Google maps in IE11 works very well and is comparable to chrome version (a little slower). So there _are_ ways to have 3D mapping in IE11 at good performance.

The degrading of performance has to do with our code (cesium, ol3-cesium, mf-geoadmin3) that might be in conflict with some IE11 setting.

[2015-11-04 12:22] oterral commented on #2805
Fixed

[2015-11-04 12:22] #2805 closed

[2015-11-04 12:56] oterral commented on #2608
We set 17 by default as maximumLevel
https://github.com/geoadmin/mf-geoadmin3/pull/2803/files#diff-66ac86f99915855fde57c0a20d8f6d6bR1152

[2015-11-04 12:56] #2608 closed

[2015-11-04 13:04] oterral opened #2821 "Weird zeitreihen"
Open https://mf-geoadmin3.int.bgdi.ch/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&X=189085.79&Y=654862.85&zoom=6&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false&layers_timestamp=18821231,,,&time=1882

Zoom in or out

A better map is displayed on zoom 5 and 7 bu

[2015-11-04 14:10] cedricmoullet commented on #2772
@danduk82 any status update ?

[2015-11-04 14:10] #2810 closed

[2015-11-04 14:12] cedricmoullet commented on #2794
Not a bug

[2015-11-04 14:12] #2794 closed

[2015-11-04 14:12] cedricmoullet commented on #2784
@oterral please check it's fixed

[2015-11-04 14:14] danduk82 commented on #2772
I can push a "quick fix in production" in 15 min, or make it clean in a couple of hours. What do you prefer?

[2015-11-04 14:14] cedricmoullet commented on #2744
@AFoletti status update ?

[2015-11-04 14:16] cedricmoullet commented on #2738
3D extend is limited to switzerland

[2015-11-04 14:16] #2738 closed

[2015-11-04 14:17] cedricmoullet commented on #2698
@procrastinatio could you double check ?

[2015-11-04 14:18] cedricmoullet commented on #2687
@gjn could you check with actual version ?

[2015-11-04 14:23] #2661 closed

[2015-11-04 14:23] #2642 closed

[2015-11-04 14:23] #2552 closed

[2015-11-04 14:25] danduk82 commented on #2772
@gjn : can you test the new config on the infra ELB? Its DNS: vpc-lb-infra-923749892.eu-west-1.elb.amazonaws.com

[2015-11-04 14:28] #2809 closed

[2015-11-04 14:31] #2675 closed

[2015-11-04 14:33] #2670 closed

[2015-11-04 14:34] cedricmoullet commented on #2668
@davidoesch what is the prio ?

[2015-11-04 14:34] cedricmoullet commented on #2667
@davidoesch is it still the case ?

[2015-11-04 14:35] cedricmoullet commented on #2666
@davidoesch is it ready ?

[2015-11-04 14:35] davidoesch commented on #2668
IMHO a must for alpha

[2015-11-04 14:36] cedricmoullet commented on #2664
@loicgasser demo link ?

[2015-11-04 14:36] cedricmoullet commented on #2663
@fredj answer ?

[2015-11-04 14:37] cedricmoullet commented on #2652
@fredj ?

[2015-11-04 14:44] davidoesch commented on #2666
Ok.

[2015-11-04 14:44] #2666 closed

[2015-11-04 14:48] davidoesch opened #2822 "3D mobile: tilt rotate do not reflect current state"
Open current dev icon do not change if you move around to rotate .
If geolocation is active u have in addition two north indicator: keep only 3D in 3d
![image](https://cloud.githubusercontent.com/assets/4577727/10941378/709f6704-830b-11e5-8c6e-a831f59e0739.png)

[2015-11-04 15:28] ltclm opened #2823 "tooltip: show "no data available""
When you click into the map and there is no feature, the client could show a message "no data available".
We already have some layers (luftfahrthindernis, agnes) point features with huge symbols or symbols with an offset where this could help. There will soon be more layers like that p.e. ch.astra.wanderland, the tooltip for this layer will only work on the astra data, the swisstopo.tlm trails are

[2015-11-04 16:02] oterral opened #2824 "Strange label in wohnung register layer"
https://map.geo.admin.ch/?lang=fr&topic=ech&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.bazl.sachplan-infrastruktur-luftfahrt_kraft&layers_visibility=false,true,false,false,false&layers_timestamp=18641231,,,,&X=195397.67&Y=602565.40&zoom=12

[2015-11-04 16:08] fredj commented on #2663
Answer: https://groups.google.com/d/msg/cesium-dev/727fX-AhEDQ/Qs0GEBW5AQAJ

Should I start to work on this?

[2015-11-04 16:11] fredj commented on #2652
Done: https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/controls3d/Controls3dDirective.js#L103

[2015-11-04 16:11] #2652 closed

[2015-11-04 16:13] fredj commented on #2822
Fixed with #2814

[2015-11-04 16:15] fredj commented on #2823
Note: and the tooltip automatically disappear after  3 seconds

[2015-11-04 16:33] ltclm commented on #2821
thats not a bug, thats a feature of this famous "layer".
sad but true, zoomlevel 20 only shows lk100 or tk100.

[2015-11-04 19:20] davidoesch commented on #2667
tested under chrome ff: they are the same now

[2015-11-04 19:20] #2667 closed

[2015-11-04 21:57] danduk82 commented on #2818
Anyway, I have tested at home, with a 8 core PC and nvidia GTX980. It's great with firefox, quite slow with IE (not as slow as work). Didn't try it with Chrome.

[2015-11-05 06:56] gjn commented on #2772
@danduk82 I'll do it today. Can you provide a git diff?

[2015-11-05 07:00] #2821 closed

[2015-11-05 07:11] AFoletti commented on #2824
solved. Thaks @ltclm !

[2015-11-05 07:11] #2824 closed

[2015-11-05 07:13] gjn commented on #2772
@danduk82 There's no restriction at all. paths ending with `print/info.json` and `print/create.json` should be restricted. All others open.

[2015-11-05 07:25] danduk82 commented on #2772
@gjn of course there is:
if req.url ~ "^/1.0.0/WMTSCapabilities.xml" || req.url ~ "^/1.0.0/legend/" -> no restrictions
else -> referer check.

[2015-11-05 07:29] gjn commented on #2772
I strictly tested print.

I assume your changes don't affect other regions. Full fletched tests needed?

[2015-11-05 07:35] gjn commented on #2772
all good

[2015-11-05 08:04] oterral commented on #2818
For info I've tested on the win8 we have. And it's as slow in Chrome as in IE 11.

[2015-11-05 08:20] oterral opened #2825 "Saved KML not displayed"
Caused by OL update :

Guten Morgen Herr Keusen

Gestern habe ich wieder vermietete Landflächen um den Sihlsee herum auf ihrer Webseite www.map.geo.admin.ch/ eingezeichnet.
Da aber die Internetanbindung im Kraftwerk Etzelwerk nicht die Beste ist, ist die Seite abgestürzt.
Als ich aber zuhause weiter arbeiten wollte, sind alle gespeicherten Links nicht mehr gegangen und auch die Kml-Datei konnte ic

[2015-11-05 08:47] gjn commented on #2825
Is this true for all drawn kml files? Or just specific ones?

Kml drawing should be part of the squash tests. Drawing, opening linke, opening admin link and editing.

[2015-11-05 08:56] gjn commented on #2772
Let me know when it's ready to be tested on dev/int.

[2015-11-05 09:03] gjn opened #2826 "3D Broken on FireFox"
With the merging of the [auto-render loop](https://github.com/geoadmin/mf-geoadmin3/pull/2814), 3D is not working anymore on FF41 and FF42.

Previoues version (e.g. https://github.com/geoadmin/mf-geoadmin3/commit/e839a0da00a429846ed9245c6704a7341984ce85) works fine.

@gberaudo Could you have a look?

[2015-11-05 10:25] fredj opened #2827 "Take the altitude into account when limiting the camera position"
To be able to view the whole country at maximum altitude

[2015-11-05 10:26] gberaudo commented on #2826
I see several issues, maybe unrelated, on all browsers.
Is your issue specific to firefox? Which particular issue is it?

First I disabled autorender loop by passing the [&autorender=false](https://mf-geoadmin3.dev.bgdi.ch/gberaudo_autorenderloop/src/?dev3d=true&lang=en&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wild

[2015-11-05 10:32] gberaudo commented on #2826
When passing `minimumRetrievingLevel=5`, it fixes the black screen issue.

[2015-11-05 10:35] gjn commented on #2826
What I was reporting was only on FF.

3D worked before merging https://github.com/geoadmin/mf-geoadmin3/pull/2814
After this merge (current master), it doesn't work anymore. I never get anything shown, but I think data is downloaded. Can you reproduce this in FF? (I'm on win7)

AFAIK, we didn't change the `minimumRetrievingLevel ` in https://github.com/geoadmin/mf-geoadmin3/pull/2814, so I guess w

[2015-11-05 11:01] gberaudo commented on #2826
I downloaded firefox 42 (linux) and it is working the same as other browsers.
What did you observed and what steps did you follow?

[2015-11-05 11:15] gjn commented on #2687
This is good on current master.

[2015-11-05 11:15] #2687 closed

[2015-11-05 11:18] gjn commented on #2826
I was obviously being stupid. Can't reproduce anymore on FF.

Anyhow, as noted above, current behaviour when zooming out is not perfect (I think fred is working on that currently).

I'll close this one. Sorry for the inconvenience.

[2015-11-05 11:18] #2826 closed

[2015-11-05 11:21] gjn commented on #2714
@fredj The switch to 3D from default 2D view is not good anymore. I think it's a combination of extent limitations and minimumretrieval level, as discussed in the other issue. You seem to be working on that https://github.com/geoadmin/mf-geoadmin3/pull/2828, right?

[2015-11-05 12:41] #2827 closed

[2015-11-05 13:07] gjn commented on #2772
@danduk82 status?

[2015-11-05 13:11] gjn commented on #2714
The initial switch to 3D is now working well. It's positoined correctly. (You can see [here](mf-geoadmin3.dev.bgdi.ch/?dev3d=true)

Anyhow, I'm not sure about black/white stuff. I'll open an issue for that.

[2015-11-05 13:24] danduk82 commented on #2772
I am still waiting for C2C to solve the puppet-related bug... I cannot deploy the branch until it is fixed.

[2015-11-05 13:25] danduk82 commented on #2772
and I do not want to push it on stable without proper testing. (of course)

[2015-11-05 13:34] gjn commented on #2772
Ok. let me know when it's done.

[2015-11-05 13:44] cedricmoullet commented on #2823
this needs to be discussed. Not 100% convinced

[2015-11-05 13:45] cedricmoullet commented on #2663
@davidoesch is is needed for the first Beta ?

[2015-11-05 13:49] davidoesch commented on #2663
nth

On Thu, Nov 5, 2015 at 2:45 PM, Cédric Moullet <notifications@github.com>
wrote:

[2015-11-05 13:50] davidoesch commented on #2823
organize meeting pls

On Thu, Nov 5, 2015 at 2:44 PM, Cédric Moullet <notifications@github.com>
wrote:

[2015-11-05 13:51] AFoletti commented on #2823
I think it's a very good idea.
It will help those people puzzled by the "hand" cursor doing something on some layers and nothing on others.
Now the cursor morphs into an hand if there is a feature displayed, regardless of tooltip/no tooltip. Sometimes you click and a tooltip appears, sometimes don't. Hmmmm??

[2015-11-05 14:02] gjn commented on #2823
As a reference, here's the PR that got the feature into `master`. Lots of discussion already. https://github.com/geoadmin/mf-geoadmin3/pull/2172

[2015-11-05 14:06] fredj commented on #2668
I'm working on this.

[2015-11-05 14:10] fredj commented on #2668
Note: schweizmobil has only one value for the camera - terrain distance: 500m

[2015-11-05 14:26] mariokeusen opened #2830 "[configuration of topic=wildruhezonen] change default backgroundlayer to color pixelmap"
UC: open app, switch to topic=wildruhezonen, look at the bg-layer
Result: grey map is visible
Change (requested by customer): color map is visible
Workaround: please change topic configuration accordingly

[2015-11-05 14:30] fredj commented on #2668
To play the devil's advocate, this "I don't know what I'm looking at" view is not specific to the 3d mode, example:
https://map.geo.admin.ch/?X=145569.64&Y=535331.46&zoom=13

[2015-11-05 14:40] fredj commented on #2668
Plase test https://mf-geoadmin3.dev.bgdi.ch/minimumZoomDistance/?dev3d=true

[2015-11-05 14:53] danduk82 commented on #2772
It is now applied on DEV and INT. The ACLs seem correct, but I get nothing with a curl on <dev>/print/info.json. But I get a json back when I test it on INT... Can you test it too?

[2015-11-05 16:14] procrastinatio commented on #2772
I did reinstall the print-war. All fine now.

[2015-11-05 17:05] ltclm commented on #2823
do we have to wait for this festure to publish chmobil layers?

[2015-11-05 18:11] davidoesch commented on #2823
@ltclm nope - go out like this. we do this fix in a second step cc @mariokeusen

[2015-11-05 18:28] davidoesch commented on #2668
perfect! ready to give it to the real users  (@fredj in the 2d case: if you ever get lost: :swimmer:)

[2015-11-06 04:05] cedricmoullet opened #2832 "Permalink issue"
The link: https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.swisstopo.swissimage-product&layers_visibility=false,false,false,false,true&layers_timestamp=18641231,,,,&lon=6.93164&lat=46.81563&elevation=578&he

[2015-11-06 04:06] #2822 closed

[2015-11-06 04:12] cedricmoullet opened #2833 "Mix of white and black bg"
![image](https://cloud.githubusercontent.com/assets/319676/10989215/bf081780-8444-11e5-9846-81352f409886.png)
What could we do in order to improve the "no data" areas ? Currently, the mix of white and black is really not nice.
Any idea @oterral @fredj @gberaudo @davidoesch @gjn @loicgasser @procrastinatio ?

[2015-11-06 04:15] cedricmoullet opened #2834 "3D Alpha banner"
![image](https://cloud.githubusercontent.com/assets/319676/10989243/3162a246-8445-11e5-98af-08b81b074da7.png)
The banner hides the search and the logo (desktop).
What about placing it on the right of the search bar ?

[2015-11-06 04:16] cedricmoullet opened #2835 "3D BG data with lighting"
Process map bg with relief information

[2015-11-06 04:18] cedricmoullet opened #2836 "Wildlife areas don't appear in 3D"
https://mf-geoadmin3.dev.bgdi.ch/ltmoc/?dev3d=true&lang=en&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,true,false&layers_timestamp=18641231,,,&lon=7.37905&lat=45.75837&elevation=66630&heading=360.000&pitch=-40.364

[2015-11-06 04:21] cedricmoullet opened #2837 "3D White background is not white but contains a BG layer. It should be empty"

[2015-11-06 07:20] mariokeusen opened #2838 "[topic=ech, top4-layers in selection] remove when changing to a specialized topic"
Often heard user feedback since we initialized those top-4 layers in the ECH topic and IMHO this is really an issue:

UC: open map.geo.admin.ch, switch to a green specialized topic with default layers loaded (e.g. geology or aviation)
Result: the top4 layer from the "ECH" setting stay in the selection, although they have absolutely no relevance to the specialized topic
Expected: only the topic-spe

[2015-11-06 07:49] oterral commented on #2836
According to MapProxy listing wildruhezone is only available in EPSG:21781 and EPSG:4258 .

[2015-11-06 07:53] gjn opened #2839 "LOD level 18 for swissimage"
Swissimage layer is created down to LOD 18, but the client is not loading this level at all.

I think the reason for this is that our layer.json (for terrain) is only defined down to LOD 17.

Will this be fixable with the per-layer-layer.json fix?

[2015-11-06 08:02] davidoesch commented on #2838
you have a point there.

the idea with inheriting the layer  on a topic switch was initially to keep the confguration ( we had a lenghty discussion on that and it was finally a GKG decision to keep the files ona topic switch to foster data aggregation) but I agree: most use cases are: you start with a topic, and you don't switch with a purpose to keep the layers

Proposal:
- on topic switch: we do

[2015-11-06 08:10] davidoesch commented on #2833
A) use a freely available coarse res dataset source as in Cesium

aerial imagery by Bing, on a opacity by 50% so it is clear it is not our
data , but I hate to have bing layer copyright at the bottom.

B) Use DHME25 or GTOPO30/ASTERDEM to provide a coarse resolution DEM
outside switzerland and display it as a grey , very light hillshade, 50%

On Fri, Nov 6, 2015 at 5:12 AM, Cédric Moullet <notific

[2015-11-06 08:10] oterral commented on #2825
Fixed emrgency deploy yesterday

[2015-11-06 08:10] #2825 closed

[2015-11-06 08:10] oterral commented on #2825
Tests added by @alcapat

[2015-11-06 08:11] gjn commented on #2833
I've tried to solve this yesterday, no luck. I played with https://github.com/geoadmin/mf-geoadmin3/blob/master/src/js/GaCesium.js#L67 and other settings in cesium, but could not find a way to change this.

I assume the black regions is where we don't have terrain files loaded (because of definition in layers.json, which was adapted because of performance/data transfer to exclude levels 0-7). The

[2015-11-06 08:12] mariokeusen commented on #2838
Yes, I remember this "political" discussion with GKG and so on...
In the meantime we have a whole bunch of topics with specific default layers and regarding that: your proposal makes sense for me.

[2015-11-06 08:23] gjn commented on #2825
Thanks alot @oterral and @alcapat for reacting fast.

[2015-11-06 08:24] ltclm commented on #2835
Tile generation is ongoing and will take around 3 days for swisstlm3d-karte-farbe and 3 days for swisstlm3d-karte-grau.

[code]

[2015-11-06 08:26] gberaudo commented on #2833
I also think there is a problem with terrain.

https://mf-geoadmin3.dev.bgdi.ch/gberaudo_autorenderloop/?dev3d=true&topic=ech&lang=fr&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=7.07823&lat=45.99270

[2015-11-06 08:27] gjn commented on #2838
We need proposed layers for each topic...or say a given topic does not have those proposed layers.

It's all in data management: activatedLayers properties on [the topics service](http://api3.geo.admin.ch/rest/services). Currently, if this is empty for a given topic, we choose the ones from ech.

If you agree, we fully apply the definition as it is in the service above.

[2015-11-06 08:42] mariokeusen commented on #2838
+1 for the current topic definition
Main goal is IMHO to prevent that the ECH-proposed layers are still in the selection after switch to another topic. For all other topic default layers this is intention of the topic owners and I would not change anything on that unless discussing & agreeing with them.

[2015-11-06 09:03] gjn commented on #2772
@danduk82 For prod addresses, I think everything is good.

But for the mf-chsdi3.int.bgdi.ch adress on int, I'm not sure. Jenkins on int (using mf-chsdi3.int.bgdi.ch address without any DNS spoofing) [fails](https://jenkins.ci.bgdi.ch/job/DEPLOY_chsdi_int/18/console) with the GetCapabilities check (it's not protected there). Any idea why?

[2015-11-06 09:04] danduk82 commented on #2772
OK, I push it in a moment.

[2015-11-06 09:09] davidoesch commented on #2838
+1 we will inform each topic owner when the switch from oen layer tree to
open selection will be made that we don't copy the layers on the topic
switch (planning: q1 2016, after the testphase we currently have with ech)

On Fri, Nov 6, 2015 at 9:42 AM, mariokeusen <notifications@github.com>
wrote:

[2015-11-06 09:17] danduk82 commented on #2772
it is applied on prod. I have to check for INT

[2015-11-06 09:24] danduk82 commented on #2772
Actually, i was told to free WMTSCapabilites/ and legeng/, so this behavior is normal. Should I restrict them instead?

[2015-11-06 09:50] gjn commented on #2772
Ok for me. We just need to adapt the tests then.

[2015-11-06 10:00] gjn commented on #2837
As long as we don't have lighting, we can't have white background, otherwise, nothing can be seen in 3D.

[2015-11-06 10:06] gjn commented on #2772
@danduk82 Prod tests are failing now too.

We will let varnish configuration as it is (open up WMTSCapabilities and Legend) and we adapt the tests. I'll prepare a PR for this in chsdi. So nothing to be done on your side.

[2015-11-06 10:08] danduk82 commented on #2772
OK

[2015-11-06 11:26] cedricmoullet commented on #2837
It s for the draping of layer. Simply geology with terrain, for exemple. Isn't it possible ?

Envoyé de mon iPhone

[2015-11-06 12:02] davidoesch opened #2842 "KML loading and symbol rendering"
-Symbols size is not stable to previous release
-KML do not always load

Customer feedback
•	Beim Rendering von png-Grafiken von Punktsymbolen ist die Grösse plötzlich anders. Siehe z.B.
http://www.energieschweiz.ch/de-ch/mobilitaet/fahrzeuge/fahrraeder/bikesharing.aspx
Vor Mittwoch waren die Symbole grösser. Gleiches Problem auch hier mit den OFA-Standorten:
http://www.bfe-gis.admin.ch/storymaps/

[2015-11-06 12:14] gjn commented on #2818
According to http://www.doesmybrowsersupportwebgl.com/, our installed IE11 does support webgl, but quite an outdated version with little extensions. Compare the results to chrome 45.

IE11:
![image](https://cloud.githubusercontent.com/assets/2572317/10996752/2721d700-8488-11e5-9fca-f56ee351d74b.png)

Chrome 45:
![image](https://cloud.githubusercontent.com/assets/2572317/10996757/3326ba3e-8488-11e5

[2015-11-06 12:26] gjn commented on #2818
[Pure cesium viewer](https://cesiumjs.org/Cesium/Build/Apps/CesiumViewer/index.html?stats=true&view=-86.41356823617337%2C40.968330530058154%2C39914.93747130931%2C3.7105232380439385%2C-52.58141348032261%2C359.26708014877175) gives also differences between chrome and IE11, but they are much close than our application:

In chrome, page is fully loaded in < 15s. ~20s in IE11. Also, the fps shown is qu

[2015-11-06 12:33] gberaudo commented on #2818
You can add terrain by clicking on the second button from the top right.

[2015-11-06 12:36] gjn commented on #2818
Thanks @gberaudo , I will try.

Testing https://cesiumjs.org/Cesium/Apps/Sandcastle/gallery/Terrain.html now and IE11 is really slow compared to chrome...similar as our application.

[2015-11-06 12:37] AFoletti commented on #2842
Regression in OL3. Will be fixed with https://github.com/openlayers/ol3/pull/4385

[2015-11-06 12:39] gjn commented on #2818
You add the terrain, performance drops considerably in IE11. FPS shown is quite good though.

I suspect https and many requests might lead to slowdown in IE11.

[2015-11-06 12:55] gjn commented on #2837
Sure, we can drape any layer that we want if void layer is selected. But to see anything, we have to drape something (as long as we don't have lighting).

draping a white layer won't help because in 3D, you won't see anything.

[2015-11-06 13:04] gjn commented on #2836
@procrastinatio Could you have a look?

[2015-11-06 13:05] gjn commented on #2835
I don't understand the OP. Relief will be inside swisstlm3d?

[2015-11-06 13:20] cedricmoullet commented on #2837
For me it s fine if we need to add a layer. Empty is empty

Envoyé de mon iPhone

[2015-11-06 13:22] gjn commented on #2837
hmm. I can prepare a demo, but we will only see white...

[2015-11-06 13:39] gjn commented on #2837
If starting with voidlayer in permalink, the effect can already be seen:

[See here](https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&mobile=false&lon=8.02483&lat=4

[2015-11-06 13:40] gjn commented on #2837
[Testlink](https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=de&bgLayer=voidLayer&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,ch.swisstopo.fixpunkte-agnes&layers_visibility=false,true,false,false,true&layers_timestamp=18641231,,,,&mobile=false&lon=7.22525&lat=46.02489&elevation=21326&heading=36.935&p

[2015-11-06 14:42] ltclm commented on #2835
yes

[2015-11-09 06:32] ltclm commented on #2835
**ch.swisstopo.swisstlm3d-karte-farbe.3d** tiles with relief are ready:
[code]

[2015-11-09 07:16] alcapat commented on #2830
Bod (re3.topics) updated.
Test link : https://mf-geoadmin3.dev.bgdi.ch/

[2015-11-09 07:18] #2830 closed

[2015-11-09 07:47] oterral commented on #1942
New PR in ol https://github.com/openlayers/ol3/pull/4389

[2015-11-09 09:06] oterral commented on #2784
Fixed on dev

[2015-11-09 09:06] #2784 closed

[2015-11-09 09:10] oterral commented on #2799
Just select the feature and press `Delete` key .

[2015-11-09 09:57] davidoesch opened #2847 "3D : KML drawing line is not shown"
there should be line in the drawing between the points
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttps:%2F%2Fpublic.dev.bgdi.ch%2FBvcmy61fR5qX-u4QH4ZWRQ&layers_visibility=false,false,false,false,true

[2015-11-09 09:57] oterral opened #2848 "Print issue"
This problem happens but randomly. I think it's may be just an order problem.

[code]

[2015-11-09 10:00] oterral commented on #2848
Probably same problem as #2698

[2015-11-09 10:02] davidoesch opened #2849 "3d WMS add error can't add a feature"
Try to add
https://wms.geo.gl.ch/

in https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=WMS%7C%7CBahnachsen%7C%7Chttps:%2F%2Fwms.geo.gr.ch%2Fseilbahnen%7C%7CSeilbahnen_Bahnachsen,WMS%7C%7CStationen%7C%7Chttps:%2F%2Fwms.geo.gr.ch%2Fseilbahnen%7C%7CSeilbahnen_Stationen,WMS%7C%7CAblagerungsstandorte%7C%7Chttp:%2F%2Fmapserver1.gr.ch%2Fwms%2Fbel

[2015-11-09 10:09] davidoesch opened #2850 "3D : zeitreise close data is not shown"
Open
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&catalogNodes=457,458&layers=ch.swisstopo.zeitreihen&layers_timestamp=19231231&time=1923&X=159100.37&Y=621433.49&zoom=7

switch to 3d
 as expected it goes to the first dataset

but the close tiles are not shown,/ missing

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11031067/

[2015-11-09 10:18] fredj commented on #2850
At level >= 15 the tiles are whites (eg. https://wmts14.geo.admin.ch/1.0.0/ch.swisstopo.zeitreihen/default/19231231/4326/15/33962/7912.jpeg)

[2015-11-09 10:47] davidoesch commented on #2848
and as in #2820

[2015-11-09 10:49] #2839 closed

[2015-11-09 12:55] davidoesch commented on #2818
ok: lets solve this with a different approach

if IE11 is detected, the show a pop up message

"EN : You are using InternetExplorer 11 : 3D rendering will be slow. Please use latest Version of Microsoft EDGE, Firefox or Chrome to experience maximum performance"

DE: Sie verwenden InternetExplorer 11: Die 3D Darstellung wird nicht performant sein. Bitte nutzen Sie die neueste Version von Microsoft

[2015-11-09 13:20] #2668 closed

[2015-11-09 13:32] p1d1d1 commented on #2799
Ok didn't know it.
Thanks

[2015-11-09 13:32] #2799 closed

[2015-11-09 13:36] oterral commented on #2849
Fixed by https://github.com/openlayers/ol3-cesium/pull/285/files

[2015-11-10 07:35] gjn commented on #2833
All white on all zoom levels. This is a must for Thursday.

[2015-11-10 07:47] gjn commented on #2837
We support voidLayer in 3D.

[2015-11-10 07:48] gjn commented on #2835
Demo upcoming.

[2015-11-10 07:49] gjn commented on #2832
@fredj To be discussed when you are here.

[2015-11-10 07:53] gjn commented on #2818
(maybe auto-resize window on IE11 start)

[2015-11-10 07:55] #2714 closed

[2015-11-10 07:56] gjn commented on #2713
Important for Thursday release.

[2015-11-10 08:02] gjn opened #2853 "Inline-Help for navigation"
Just like cesium viewer, we should add basic help for 3D navigation directly in the viewer.

See http://cesiumjs.org/NewYork/?view=-74.01881302800248%2C40.69114333714821%2C753.2406554180401%2C21.27879878293835%2C-21.343905508724625%2C0.0716951918898415 and see question mark in upper right corner.

The idea is to have something similar at bottom of screen in 3D.

@pfanguin @rfrancel Do you want to

[2015-11-10 08:20] rfrancel commented on #2853
Yes sure!

De : Gilbert Jeiziner [mailto:notifications@github.com]
Envoyé : mardi 10 novembre 2015 09:03
À : geoadmin/mf-geoadmin3 <mf-geoadmin3@noreply.github.com>
Cc : Francelet Rebecca swisstopo <Rebecca.Francelet@swisstopo.ch>
Objet : [mf-geoadmin3] Inline-Help for navigation (#2853)

Just like cesium viewer, we should add basic help for 3D navigation directly in the viewer.

See http://cesium

[2015-11-10 08:26] fredj commented on #2713
Something like:
[code]
Should be added here: https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/MapService.js#L1546-L1555

[2015-11-10 08:29] fredj commented on #2713
And ol3-cesium version must be updated to have https://github.com/openlayers/ol3-cesium/pull/284

[2015-11-10 08:54] gjn commented on #2835
[Visible difference](https://mf-geoadmin3.dev.bgdi.ch/gjn_relief/?dev3d=true&topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=7.56266&lat=46.25252&elevation=4897&heading=35.005&pitch=-1

[2015-11-10 09:03] cedricmoullet commented on #2835
+100

[2015-11-10 09:05] davidoesch commented on #2835
+100

On Tue, Nov 10, 2015 at 10:03 AM, Cédric Moullet <notifications@github.com>
wrote:

[2015-11-10 09:10] cedricmoullet commented on #2836
@procrastinatio this is a prio 1: could you have a look ?

[2015-11-10 09:27] #2772 closed

[2015-11-10 09:28] cedricmoullet commented on #2713
@fredj @gberaudo could you take care of the PR for the cesium update ?

[2015-11-10 09:36] cedricmoullet opened #2854 "Remove cesium inspector"

[2015-11-10 09:36] cedricmoullet commented on #2854
Add debug PL parameter

[2015-11-10 12:38] procrastinatio commented on #2836
The timestamp do not match '20150106'  against '20151103'. As stated in the integration documentation, every time you:
- add a layer
- add/insert/remove a timestamp
- update its map/project/topics affiliation

You have to rerun `./buildout/bin/buildout -c <config> install mapproxy-config` and commit the resulting `mapproxy.yaml`

Will merge https://github.com/geoadmin/mf-chsdi3/pull/1751 tomorrow.

[2015-11-10 15:20] ltclm commented on #2835
**ch.swisstopo.swisstlm3d-karte-grau.3d** tiles with relief are ready too:
[code]

[2015-11-10 17:18] oterral commented on #2833
To fix this I've proposed a PR in Cesium patches https://github.com/camptocamp/cesium/pull/6 .

This PR will display Terrain and imagery layers only in the extent of switzerland and from llod 8.

Outside the switzerland it's all transparent so we will can play with [Scene.backgroundColor](https://cesiumjs.org/Cesium/Build/Documentation/Scene.html#backgroundColor)

[2015-11-11 06:51] gjn commented on #2833
Do you have a demo for that one?

[2015-11-11 07:42] oterral commented on #2833
Not now but soon. I've tested on the mac.

[2015-11-11 09:14] oterral commented on #2833
@gjn here https://mf-geoadmin3.dev.bgdi.ch/teo_cesium2/?lang=fr&topic=ech&terrainLevels=8,11,13,15,17bgLayer&dev3d=true&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=8.02682&lat=46.50815&elevation=480724&heading=345.566&pitch=-81.896&bgLa

[2015-11-11 09:35] procrastinatio commented on #2698
[KML](https://public.geo.admin.ch/rK1YiwICTTeCY8jTmpdkBg) with random points (to test)

[2015-11-11 09:43] procrastinatio commented on #2698
To recap, this issue has nbothing to do with KML or vector features. The trouble is only that the print extent as displayed in map.geo.admin.ch does not match the PDF.

[2015-11-11 09:46] davidoesch commented on #2698
solution?

On Wed, Nov 11, 2015 at 10:43 AM, procrastinatio <notifications@github.com>
wrote:

[2015-11-11 09:46] #2848 closed

[2015-11-11 09:59] procrastinatio commented on #2698
The PR #2851 fixes this issue, my comment was just a recap to self of was the problem really was. Some point werenot printed, not because of buggy vector layer handling but missmatching print extent.

[2015-11-11 10:06] davidoesch commented on #1666
Since we have a lot of single topic maps (https://docs.google.com/spreadsheets/d/11zjWdLgaCZWiFhB8kP2AWhOb9vKBqLuXeXDPTSd4rDk/edit?pli=1#gid=0) and Topics it makes sense to add them under the map results, with a prefix "Topic" or "Theme". for a fist step we just add the the topic name to the search index, in a second step we can even add an abstract field where we KOGIS control the content and we

[2015-11-11 11:56] davidoesch opened #2859 "3D : permalink layer is not active"
https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers_visibility=false&lon=8.04350&lat=44.93685&elevation=230713&heading=0.027&pitch=-39.960&layers_opacity=0.75&layers=ch.are.agglomerationen_isolierte_staedte

result:

3d mode but layer is not active

expected result

layer is active
(since I need this to test 400 layer if they load: I set this

[2015-11-11 12:29] gberaudo commented on #2859
@davidoesch, do you mean you want the `ch.are.agglomerationen_isolierte_staedte` to be visible?
If yes, removing `layers_visibility=false` from the URL should do this.

[2015-11-11 12:41] gjn commented on #2833
fantastic. I could live with that for next week.

[2015-11-11 12:45] davidoesch commented on #2833
+1 , perfetto

[2015-11-11 12:46] davidoesch commented on #2859
bugger --- sorry for this one

[2015-11-11 12:46] #2859 closed

[2015-11-11 12:47] #2854 closed

[2015-11-11 13:35] fredj commented on #2834
@gjn fixed with  #2844 ?

[2015-11-11 13:38] fredj commented on #2842
Should be fixed by the ol3 update

[2015-11-11 14:03] oterral commented on #2834
yes

[2015-11-11 14:03] #2834 closed

[2015-11-11 14:06] #2842 closed

[2015-11-11 14:46] fredj commented on #2832
Some observations:
 - The issue only occurs when the terrain is active.
 - The issue only occurs when elevation is bellow ~1600m

[2015-11-11 15:53] fredj commented on #2832
This issue should be fixed once https://github.com/camptocamp/cesium/pull/6 is used (thanks Guillaume for the hint !)

[2015-11-11 16:40] gberaudo commented on #2713
Flying to a point or rectangle with a pitch is not supported by Cesium.
In order to implement it, we would need the height of the terrain at the destination point.

Would it be possible to add this height to the search data (attrs) we receive from the server?
https://mf-chsdi3.dev.bgdi.ch/ltteo/1447239069/rest/services/ech/SearchServer?searchText=lausanne&lang=de&type=locations_preview

An alterna

[2015-11-11 16:42] oterral commented on #2836
Fixed

[2015-11-11 16:42] #2836 closed

[2015-11-11 16:51] gberaudo commented on #2713
There is also the simple alternative of rotating around the destination point once the flyTo (nadir) is complete. Hard to say how it will feel for the user.

[2015-11-11 17:42] oterral opened #2862 "Icon drawn are not exported"
Bug regresiioon in ol, see this commit https://github.com/openlayers/ol3/commit/d29f3b9068effdae158885c64ba50f5c57bbd2a9

This bug has been fixed in the release today(11.11.2015 see https://github.com/geoadmin/mf-geoadmin3/commit/4e55d58859a8f3f6d76e0bbd48fd6a902e323089) but not in the master.

[2015-11-11 18:30] davidoesch commented on #2713
- and if we assume that the camera position is always at elevation=8000 after a fly to? would be enough as well (since we actually do not even know in 2d on which scale the locations are visible): here we  can cover AVERS (the highest pop place in europe ) and ZURICH as well

-attributing this to search data: this will slow down the search or increase the index @gjn worth for the beta?

- rotating

[2015-11-12 06:07] gjn commented on #2862
So we need to update ol3 in master?

[2015-11-12 06:23] gjn commented on #2713
We have a height service which is pretty fast (one of our fastest services) which could be used to determine height for a given service. See http://api3.geo.admin.ch/services/sdiservices.html#height. It's already used in mf-geoadmin3 in the contextpopup (https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/contextpopup/ContextPopupDirective.js#L131)

Note that this height service re

[2015-11-12 06:25] gjn commented on #2835
This is done and in master. I'll close.

[2015-11-12 06:25] #2835 closed

[2015-11-12 06:29] gjn commented on #2832
This is in master, but the elevation in the PL does still change. @fredj ?

[2015-11-12 06:31] #2833 closed

[2015-11-12 07:25] oterral commented on #2862
needs to fix ol3 first. I've hacked directly in build-artefacts/ol3 folder for the release.

[2015-11-12 07:46] ltclm commented on #2713
the swisssearch results have different data sources:

origin | source | height available
--------|----------|---------------------
**address**|kobis.bfs.adr | no height information available
**parcel**|dritte.kantone.parzellen | no height information available
**sn25** | stopo.tlm.swissnames_sn25_und_tlm| available as attribute ``altitude`` for some data
**gazetteer** | stopo.tlm.swissnames3d_* |

[2015-11-12 07:55] gjn commented on #2713
Thanks @ltclm

@fredj Please try to use the height service in front-end. But be aware that these are not correct WGS84 heights as in our terrain (I think for this use case, it's safe to add 50 meters to get WGS84 approx. heights).

[2015-11-12 10:39] fredj commented on #2832
The problem occurs because cesium gets the elevation from terrain tiles at level < 8.
Adding `?&terrainLevels=8,9,10,11,...` fixes the issue but I'm not sure it's the way to go.
@oterral , @gberaudo ?

[2015-11-12 10:46] fredj commented on #2713
See also https://github.com/AnalyticalGraphicsInc/cesium/issues/2501

[2015-11-12 11:10] oterral commented on #2832
If it works starting with level 8. We can set the default value for terrainLevels to 8,9,10...17

[2015-11-12 12:41] gjn commented on #1148
This is actually done (legend).

[2015-11-12 12:45] oterral commented on #1148
Legend yes but tooltip no.

[2015-11-12 13:22] davidoesch commented on #1148
the tooltip is needed for EMAPIS - @p1d1d1

[2015-11-12 13:35] fredj opened #2867 "Every layer.json are loaded twice"
PR to come

[2015-11-12 13:35] oterral commented on #2849
Fixed

[2015-11-12 13:35] #2849 closed

[2015-11-12 13:37] procrastinatio commented on #1148
If you do not have to much expectation on GetFeatureInfo display, response may be `text/plain`, `text\html`, `text/xml`, `application/vnd.ogc.gml`, usw.

[2015-11-12 13:42] #2867 closed

[2015-11-12 13:51] davidoesch commented on #1148
text/plain is enough text/html already topnotch

[2015-11-12 14:02] elemoine commented on #1942
See http://erilem.net/ol3/dynamic-params/examples/wmts-dimensions.html for an example demonstrating the new behavior.

[2015-11-12 14:07] davidoesch commented on #1942
nice-- woder how it works with raster....as in https://s.geo.admin.ch/68276043c8

[2015-11-12 14:08] #2832 closed

[2015-11-12 14:15] gjn commented on #1942
This is really nice @elemoine ...quite slow on my side. It drags alot of data in :=). Maybe it would make sense to cancel requests when moving the slider fast. Seems like requests might bottle up; which hurts reactivity on slower connections.

In any case, this would be really nice to have in map.geo.

[2015-11-12 14:31] oterral commented on #2698
Fixed in prod

[2015-11-12 14:33] oterral commented on #2820
Not trivial. The circle disappears because the corresponding line (dotted) is outside the current extent.

We need to change the behavior how we create the circle.

[2015-11-12 14:34] #2862 closed

[2015-11-12 14:41] fredj opened #2870 "pegman and minimumZoomDistance"
Because of  #2829, pegman is not fixed on the terrain

[2015-11-12 15:12] davidoesch commented on #2870
I know ;-) low prio

[2015-11-12 15:14] oterral commented on #2847
Duplicate with  #2715

[2015-11-12 15:49] oterral commented on #2837
It doesn't work in some case :

1) Go to https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true
2) Wait Cesium to be loaded
3) Switch to voidLayer background
4) Active 3d

-----> Pixelkarte is displayed

Expected:

No layer displayed.

[2015-11-12 17:04] oterral opened #2872 "South west of switzerland is missing in 3d"
https://mf-geoadmin3.dev.bgdi.ch/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=6.08960&lat=46.20285&elevation=18158&heading=4.306&pitch=-89.994

[2015-11-12 17:12] oterral commented on #2872
Caused by ol3, ol3-cesium and cesium update https://github.com/geoadmin/mf-geoadmin3/pull/2787

[2015-11-13 07:36] gjn opened #2874 "Layer.json for image layers not correct"
Probably mapproxy configuration?

https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true&topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,true&layers_timestamp=18641231,,,&X=126086.42&Y=632155.82&zoom=6

[2015-11-13 07:37] gjn commented on #2837
Yes. Very early we had voidLayer fully supported in 3D, but then added this behaviour because of white-only screen. But we want it back.

[2015-11-13 07:45] elemoine commented on #1942
I merged my PR. Feel free to create issues if you experience performance problems.

[2015-11-13 07:46] gjn commented on #1942
Thanks alot @elemoine for this and keeping us in the loop.

[2015-11-13 07:54] procrastinatio commented on #2874
No, `ch.swisstopo.swisstlm3d-wanderwege`is correctly configured on `wmts{10-14}.geo.admin.ch`
![15](https://cloud.githubusercontent.com/assets/1236739/11141278/13990e22-89e4-11e5-8d88-86efa638aa5c.png)

[2015-11-13 07:55] cedricmoullet commented on #2874
Then, what is the issue in the viewer ?

[2015-11-13 08:03] gberaudo commented on #2874
The imagery `layer.json` is 5.4 MB, which is very very big.
curl -e "http://terrain3.geo.admin.ch" http://terrain3.geo.admin.ch/1.0.0/ch.swisstopo.swisstlm3d-wanderwege/default/20150101/4326/layer.json > layer.json

If I bypass it, then the imagery shows up in 3D.

[2015-11-13 08:04] procrastinatio commented on #2874
The viewer ask for a layer definition in json. This layer does not exist for [TLM](https://terrain3.geo.admin.ch/1.0.0/ch.swisstopo.swisstlm3d-karte-farbe.3d/default/20150101/4326/layer.json) is empty, but [wanderwege](https://terrain3.geo.admin.ch/1.0.0/ch.swisstopo.swisstlm3d-wanderwege/default/20150101/4326/layer.json) is not.

So the config for this layer seems broken.

[2015-11-13 08:09] gberaudo commented on #2874
Moreover, the layer.json only contains 9 levels: [2, 7, 19, 42, 121, 555, 3396, 17423, 63406].
It makes use of the unsupported `minzoom` attribute.

[2015-11-13 09:03] gberaudo commented on #2874
To elaborate on my last comment, the `minzoom` attribute in the `layer.json` must always be `0`.
Unavailable zoom levels should simply be empty in the `available` array.
The array lengths would become [0, 0, 0, 0, 0, 0, 0, 0, 2, 7, 19, 42, 121, 555, 3396, 17423, 63406].

[2015-11-13 09:03] gjn commented on #2874
ok. seems like problem with layer.json. I will create PR to de-activate usage of layer.json for all layers (of course, well keep the terrain layer.json) - to assure stable environment for tests and next Thursday.

[2015-11-13 09:11] gjn commented on #2874
Changed title and attributed to @loicgasser .

We'll discuss this next Tuesday with @ltclm and @AFoletti .

[2015-11-13 09:16] gberaudo commented on #2872
This happens at all border tiles with missing terrain.
The tiles are not refined, and stay at zoom level 8:
![non_refining_border_tiles_zoom8](https://cloud.githubusercontent.com/assets/7294662/11142671/7e6192aa-89ef-11e5-87bf-ec6fa87a908a.png)

[2015-11-13 09:16] gjn commented on #2872
There are other regions missing as well:

https://mf-geoadmin3.dev.bgdi.ch/?&lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&dev3d=true&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=false,false,false,false&layers_timestamp=18641231,,,&lon=9.96651&lat=46.34553&elevation=47089&heading=359

[2015-11-13 09:44] procrastinatio commented on #2744
See PR https://github.com/geoadmin/wms-bgdi/pull/14.

Looks fine to me.

[2015-11-13 09:56] AFoletti commented on #2744
yes, WMS-side it's ok

[2015-11-13 10:00] gjn commented on #2872
@gberaudo @oterral Oli referred to code change. Would you know where to look?

(I'm currently analysing layer.json file, but it's maybe not related to layer.json).

[2015-11-13 10:08] gjn commented on #2872
I think the current layer.json is correctly defined (at least for LOD the tiles are defined, but not loaded for given region). So problem seems to be in code.

[2015-11-13 10:19] p1d1d1 commented on #1148
to confirm that we need tooltip on WMS for eMapis. But I see interest also for other users.
For me text/plain is enough.
Important is the multilingual support.

Displaying info as simple as possible: just a tuple label:value

[2015-11-13 10:29] gjn commented on #2872
@gberaudo @oterral Could it be this: https://github.com/camptocamp/cesium/commit/6d42f47726df2343f4e210206381e1c0b5487d77

[2015-11-13 11:15] gberaudo commented on #2872
@gjn, I looked at the changes in Cesium, it is only a few commits related to maximum zoom level of imageries. Very unlikely to be related but I traced anyway and found the option was not used (Infinity).

Then I noticed when you ar really close to Geneva (zoom 14) and you refresh the page, it may load with the right tiles (zoom 14, but not for all tiles).

When looking at the property `surface['_d

[2015-11-13 11:44] gjn commented on #2872
The commit in mf-geoadmin3: https://github.com/geoadmin/mf-geoadmin3/commit/fd9271a99ec42c07a73b2c8d85710f98d083cf3f

The changes in ol3-cesium: https://github.com/openlayers/ol3-cesium/compare/d72857d9c53471063d80f3622004dc14acbe6278...cd65a124a2c9f907abf8907be44cfa45228dc5a7

The changes in cesium: https://github.com/AnalyticalGraphicsInc/cesium/compare/9e67416d1016436b5cb237d6ec34f6c988bc5ecc..

[2015-11-13 12:06] gjn commented on #2872
Not sure it's (only) ImageryRelated. It looks to me as terrain files are not loaded as well.

I disabled the autorenderloop and have the same behaviour.

[2015-11-13 12:50] loicgasser commented on #2872
I updated the layer.json with the empty ranges at the begging, it works with wanderwege.
[Test Link] (https://mf-geoadmin3.int.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swisstlm3d-wanderwege&lon=7.71789&lat=46.02437&elevation=28188&heading=1.030&pitch=-39.156)

[2015-11-13 12:51] gjn commented on #2872
@loicgasser That's probably for https://github.com/geoadmin/mf-geoadmin3/issues/2874

[2015-11-13 12:52] loicgasser commented on #2874
I updated the layer.json with the empty ranges at the begging, it works with wanderwege.
[Test Link] (https://mf-geoadmin3.int.bgdi.ch/?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.swisstlm3d-wanderwege&lon=7.71789&lat=46.02437&elevation=28188&heading=1.030&pitch=-39.156)

[2015-11-13 12:58] gjn commented on #2872
Now this here is not an easy one. Couldn't find anything further. @gberaudo Any progress?

[2015-11-13 14:03] gjn commented on #2818
Fix will be merged soon. I'll downgrade to 2nd prio because of temporary approach.

[2015-11-13 14:04] gberaudo commented on #2872
Not yet @gjn.

[2015-11-13 14:14] loicgasser commented on #2872
if the error comes from partial, the problem may solve by itself with new tiles as we will take into account the Switzerland's surroundings.

[2015-11-13 15:43] gjn commented on #2837
This is actually quite an interesting bug that affects only backgroundlayers, because our backgroundlayers a) are layer groups and b) have a special 3d configuration (see https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/map/MapService.js#L987). When adding the layer to the ol map (via background selector), the synchronisation correctly adds the swisstlm3d map as defined in the a

[2015-11-13 15:49] gberaudo commented on #2872
I cloned and compiled from scratch the commit 1e9a63303749ee1de644be031a104e3104a7deb3 (#2787) and the issue does not occur. @oterral, how did you find out about this commit?

[2015-11-13 16:22] davidoesch opened #2879 "3D mobile : Sky is not following rotation"
android 4.4.2 galaxy s4 chrome

start https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true

turn image
![88c2ab04-5bf8-42b1-868b-7c72a650605b](https://cloud.githubusercontent.com/assets/4577727/11150985/fcfe61de-8a2a-11e5-9e58-c9da027b47ef.png)

result:

blue sky is distorted

[2015-11-13 16:25] davidoesch opened #2880 "3D mobile: feature highlight is not shown"
android 4.4.2 galaxy s4 chrome

start https://mf-geoadmin3.dev.bgdi.ch/?dev3d=true

activate swissimage

tap for tooltip

tooltip appears

but no feature highlight shown
![88c2ab04-5bf8-42b1-868b-7c72a650605b](https://cloud.githubusercontent.com/assets/4577727/11151106/7e05bea8-8a2b-11e5-8030-fb8fe3d88780.png)

[2015-11-13 18:52] gjn commented on #2872
I assume he used `git bisect`, as I tracked it down with this.

So it seems versions of ol3, ol3cesium and/or cesium as indicated in the Makefile does not correspond to the actual versions as put in git. I remember some hand patches.

Were you able to get the diff of ol3cesium-devug.js and cesium.js after clean compile?

[2015-11-13 19:43] gjn commented on #2872
Doing `make ol3cesium` for https://github.com/geoadmin/mf-geoadmin3/commit/1e9a63303749ee1de644be031a104e3104a7deb3 does actually create a huge commit. So versions in git are not the same as indicated in Makefile.

I'll try a clean checkout with current master.

[2015-11-13 20:09] gjn opened #2881 "Version mismatches and other build stuff"
Don't we have a potential mismatch of ol3 version as well? We build one in mf-geoadmin3 (OL3_VERSION in the Makefile, part of build.js), and we have one as submodule of ol3-cesium project.

Here's what I think needs to be adressed in current build setup:
**ol3 version mismatch**
- in src -> ol3-cesium subproject version (part of ol3cesium-debug.js)
- in prd -> ol3 version as specified in Makefile

[2015-11-13 20:11] gjn opened #2882 "Fresh checkout fails"
Current master, fresh checkout.

`make ol3cesium` fails with `ERR! Unsatisfied dependency "ol.Observable" in script: /home/ltjeg/mf-geoadmin3/.build-artefacts/ol3-cesium/src/abstractsynchronizer.js`

[2015-11-13 20:23] gjn commented on #2882
To reproduce, do `make ol3cesium` directly after an `make cleanall`.

After a `make ol` the command `make ol3cesium` does not produce this error anymore.

I don't understand our build system anymore.

[2015-11-13 20:25] gjn commented on #2872
The original problem is still there when doing a fresh checkout of master, make ol, make ol3cesium and make all.

[2015-11-15 06:47] cedricmoullet opened #2884 "Remove mini div of cesium inspector"

[2015-11-15 18:54] #2884 closed

[2015-11-15 19:07] gjn commented on #2872
Seems like #2883 new terrain tiles fixed this issue, which is awfully strange. I'd still like to keep this open and investigate a little more.

[2015-11-15 19:24] davidoesch opened #2887 "Cadastral web map in 3D far zones"
I know its a feature and not a bug

Far zooones are in green:  since the WMS for this resoltion is defined as green

https://mf-geoadmin3.dev.bgdi.ch/mobile.html?dev3d=true&topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.kantone.cadastralwebmap-farbe,ch.swisstopo.geoidmodell-ch1903&mobile=true&lon=7.45777&lat=46.92195&elevation=828&heading=303.074&pitch=-15.167&layers_opacity=1,0

[2015-11-16 06:09] mariokeusen commented on #2470
Do we have any news on this? I have a meeting with the customer this week and should give a status update.

[2015-11-16 07:27] oterral commented on #2872
Really weird because I have done a checkout before and after the commit I mentioned and before the commit the bug was not there. But the 2 commits used the same layer.json.

[2015-11-16 08:16] gberaudo commented on #2881
Currently, the OL3 version used in the OL3-Cesium project is only used to
generate OL3 externs.
During the OL3-Cesium build step, these externs are used by the closure
compiler (but not the OL3 code).

There is a reflexion to change the way OL3-Cesium is built: it would not
use OL3 externs,
but instead directly compile with OL3 source (like in ngeo). It would break
several benefits.

As soon as I

[2015-11-16 08:36] gberaudo commented on #2872
The diff showed some debug code was removed. Certainly, the `minifyRelease`
target was not used
when generating Cesium.

This morning it looks like the blurred area was smaller near Geneva and
disappeared in some other places.

[2015-11-16 08:58] oterral commented on #2872
I've just tested   with and without the debug messages. With debug messages it doesn't work and without it's working.

[2015-11-16 09:48] gberaudo commented on #2872
@loicgasser, I am getting Cesium exception on some tiles when it tries to upsample them.
Notably, these upsampled tiles get no horizon occlusion point, which throws an exception.
They also have no vertices.
[code]
sX, sY, sZ are the coordinates of the source tile giving its data.
dX, dY, dZ are the coordinates of the destination tile that is created using data from the source.

This may be the cau

[2015-11-16 09:53] gberaudo commented on #2872
@loicgasser, in the south west of Geneva, I just got the following view:

![gap](https://cloud.githubusercontent.com/assets/7294662/11178828/96e1e9f8-8c4f-11e5-8842-431bd020cea7.png)

Cesium was able to refine the tile (don't know why it succeed this try) and we can see a big white gap.

[2015-11-16 10:17] danielabrandt opened #2889 "3D: IE 11/WIN 7 - Geolocalisation Button does not work"
Test: 3D Navigatiion
Geolocalisation Button works with Chrome and FF, but not with IE 11.

If I click on Button nothing happens. It stays black - no geolocalisation on the Viewer.

[2015-11-16 10:27] rfrancel opened #2890 "3D mode: does not load in IE11 on mobile device (surface)"
OS: Windows 8
BROWSER: IE11
LINK: https://mf-geoadmin3.int.bgdi.ch/3dalpha/
STEPS TO REPRODUCE: click on 3D button
RESULT: background becomes white and then application freezes.

[2015-11-16 10:28] danielabrandt opened #2891 "3 D: WIN7 IE 11: Highlight of feature info and tooltip"
Hi Gilbert,

dont know if the web is too slow, however other functions work, but if I want to Highlight the Jagdbanngebiete and print Feature info (tooltip), the Highlight does not work and I do not get the tooltop after clicking in the object.

Test: 3D Feature Tooltip
Win 7 / IE 11

[2015-11-16 10:32] fredj commented on #2889
Does it work in 2d?

[2015-11-16 10:33] fredj commented on #2889
Does it work here: http://html5demos.com/geo ?

[2015-11-16 10:36] danielabrandt commented on #2891
Hello Daniela.

About this issue : https://github.com/geoadmin/mf-geoadmin3/issues/2891

I’m working on this layer (ch.bafu.wrz-jagdbanngebiete_select).
I have removed tiles to create it again (generation is on going) because of an update (Mario know that : https://redmine.prod.bgdi.ch/issues/4647 )

This layer should work’s normally in few minutes.
Best regards,
Patrick

[2015-11-16 10:39] danielabrandt commented on #2891
However it does not work with KGS Inventar as well. It seems to be a bug, because I get the Objectinfo on Chrome and FF:

[2015-11-16 10:39] danielabrandt commented on #2891
https://mf-chsdi3.int.bgdi.ch/shorten/683b3bf522

[2015-11-16 10:45] gberaudo opened #2892 "Autorender loop issues"
Autorender loop is currently broken.
Below we list known issues:
- 204 responses
  Receiving a 204 is an error for the Cesium image loader (a simple browser image).
  Some top level tiles get marked non renderable, which increases `tilesWaitingForChildren`.
  This prevents the render loop to stop;
- broken upsampled terrain
  Broken terrain (see https://github.com/geoadmin/mf-geoadmin3/issues/2872

[2015-11-16 11:27] danielabrandt commented on #2889
yes works on html5 but not in 2D, you are right.

[2015-11-16 11:27] #2889 closed

[2015-11-16 11:30] gberaudo commented on #2882
@gjn, the line `node build/build.js
../../scripts/ol3cesium-debug-geoadmin.json dist/ol3cesium-debug.js;`
depends on `.build-artefacts/ol3`.

As such, the ol3cesium target should depend on OL3 from geoadmin.

[2015-11-16 11:44] danielabrandt opened #2893 "3 D: i Phone iOS 8- 3 D does not load"
iOS 8 iPhone for Olivier T. and me both the 3 D Viewer does not load after clicking on the 3 D Button.
The Following Errormessage is displayed: "The browser supports WebGL, but initialisation failed".

 i Phone iOS 8 - this is only the old iPhone 4 - 3 D application does not load - but 4S loads on 8.4.1

[2015-11-16 11:54] oterral commented on #2872
I think I understand what was the problem.

For example with the tile at the south east of geneva like.

At zoom level 8 the tile is displayed correctly, but the there is no terrain data on the major part of this tile.
At level 9, this tile is divided in four smaller tiles but, for the tile at the south west, there is no data available (this tile is excluded by the layer.json) so Cesium try to ups

[2015-11-16 11:56] oterral commented on #2872
For informations, with the HEAD of c2c_patches branch I can reproduce the bug.

[2015-11-16 12:35] loicgasser commented on #2892
Starting from level 12 gaps are produced by topo and it's known issue and will be solved.

I will check the occlusion point as well, do you have a tile address where you know there is a problem with the occlusion point?

Regrading raster, to make sure I understand correctly, you mean that a single 204 error in a top level tile will break the autorender loop? Again do you have an exemple of such a

[2015-11-16 12:37] danielabrandt commented on #2893
works with iPhone 4S not with 4, I just Close because it works with the 4S

[2015-11-16 12:37] #2893 closed

[2015-11-16 12:47] davidoesch opened #2894 "when public transport station is selected in swisssearch result load ch.bav.haltestellen-oev layer"
"when public transport station is selected in swisssearch result load ch.bav.haltestellen-oev layer "

@Gjin how to solve this?

[2015-11-16 12:59] gberaudo commented on #2892
Here is the list of errors I get for level 8:
[code]
For example: https://wmts6.geo.admin.ch/1.0.0/ch.swisstopo.swisstlm3d-karte-farbe.3d/default/20150501_50/4326/8/59/264.jpeg

In the code below, the tiles are not `renderable` (missing imagery) thus
`tilesWaitingForChildren` is incremented.
[code]

[2015-11-16 13:17] gberaudo commented on #2892
The occlusion point issue appears when creating upsampled tiles at level 13 from data of a tile level 12.
I guess this is the topo issue you mentioned, see https://github.com/geoadmin/mf-geoadmin3/issues/2872#issuecomment-156972920.
My understanding is that the upsampled occlusion point is undefined because no vertex from the level 12 tile fall in these target level 13 tiles.

[2015-11-16 13:28] loicgasser commented on #2892
BGDI tilegenerator related config is:
https://github.com/geoadmin/bgdi-tilegenerator/blob/master/etc/tilecache.swisstopo.4326.cfg

Per default for TMS Cesium defaults origin is at top or at bottom? Terrain tiles have their origin at bottom for instance, these ones at top.
The only was to completly avoid these errors is to add the correct layer config for these layers. I had a hard figuring out wha

[2015-11-16 13:41] gberaudo commented on #2837
Looking into it.

[2015-11-16 14:41] gberaudo commented on #2837
OL3-Cesium fix in https://github.com/geoadmin/mf-geoadmin3/issues/2837

[2015-11-16 15:16] gberaudo commented on #2892
@loicgasser, I do not have access to this project.
The imagery tile grid coordinates matches the coordinates displayed in the Cesium inspector.
X is going left to right and Y is going top to down.

[2015-11-16 16:17] #2882 closed

[2015-11-16 16:19] #2837 closed

[2015-11-17 08:27] davidoesch opened #2898 "3D all ch.astra.*land layer are not working"
https://mf-chsdi3.int.bgdi.ch/shorten/683fe88b78  no data in 3d

json od mapproxy config issue?

[2015-11-17 08:29] gjn commented on #2470
This was lost. I'll take care of it this week to assure it's in there for next deploy.

For point 2: tooltip means non-modal window? Or modal window (app can't be used while it's open).

[2015-11-17 08:31] davidoesch opened #2899 "3D bgLayer=voidLayer does not work"
test
https://mf-geoadmin3.int.bgdi.ch/3dalpha/?topic=ech&lang=de&bgLayer=voidLayer&layers=ch.bafu.flussordnungszahlen-strahler&lon=8.54986&lat=47.24503&elevation=9890&heading=159.434&pitch=-27.869&layers_opacity=0.75

expected result:

no tlm shown as bg

[2015-11-17 08:33] cedricmoullet commented on #2899
I think it's fixed in the trunk

[2015-11-17 08:59] gjn commented on #2881
But there is ol3 code in ol3cesium-debug.js, or not? If yes, it's the one specified as submodule in ol3-cesium, right?

[2015-11-17 09:00] gjn commented on #2872
Seems like code changes resulted in more strict handling of partial tiles in the data.

[2015-11-17 09:03] gjn commented on #2894
Just adding the layer? Or pointing to the selected object?

If the first: it would be a hack specifically for this kind of location data. We would need to have this type in sphinx index (maybe it already is).

For 2: we would need to assure that we actually have the same data and to have the object id. This would need major changes in back-end for the search indices. But I't maybe worth the pain b

[2015-11-17 09:18] davidoesch commented on #2894
adding the alyer and point to the object (it has a stable id)
-> this is a major change in backend. In the far future  we will more data like this--- it is actaully linked data approch. thoughts on using SPARQL to drive SPHINX or actually the swisssearch service directly?

[2015-11-17 09:42] mariokeusen commented on #2715
Reproduced on all browsers on apple OSX. For me this is also a bug.
Expected: highlight outline fits to the highlight fill geometry.

[2015-11-17 09:44] gjn commented on #2892
For my understanding: if we disable autorenderloop, it won't have any impact on amount of data transfered, correct?

[2015-11-17 09:47] gjn commented on #2837
Great. Thanks alot @gberaudo .

[2015-11-17 09:49] gjn commented on #2898
@procrastinatio Did we miss a mapproxy configuration update?

[2015-11-17 09:49] mariokeusen commented on #2880
I could not even display a tooltip. Tipping on map and nothing happened.
Same OS, same device.

[2015-11-17 09:49] procrastinatio commented on #2898
See PR https://github.com/geoadmin/mf-chsdi3/pull/1763

With autoscalling, the mapproxy config will be automagically updated on the basis of `layersConfig` and `topics` services.

[2015-11-17 09:50] gjn commented on #2899
It's duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/2837, which is fixed in current master.

[2015-11-17 09:50] #2899 closed

[2015-11-17 09:50] gjn commented on #2899
It's duplicate of https://github.com/geoadmin/mf-geoadmin3/issues/2837, which is fixed in current master.

[2015-11-17 09:51] procrastinatio commented on #2898
@gjn yes, but I really would like to test the new `autoscaling`line now.

[2015-11-17 09:52] gjn commented on #2894
It's just about sphinx index creation. We need to assure that for this kind of data, the datasource is the same as for the actual layer. We can do 1) quickly.

For 2), I'll need to discuss this with several players.

[2015-11-17 09:53] mariavkourouni opened #2900 "3D mode: WIN8 IE11: Feature is not highlighted & information popup is not appeared"
Steps to reproduce:
1. 3D button activated.
2. Add ch.bafu.bundesinventare-jagdbanngebiete to the map.
3. Click on an object of the layer in the map.

Result:
1. The feature is not highlighted.
2. The feature information popup is not appeared.

Expected result:
1. A feature information popup appears and the feature is highlighted.
2. The feature tooltip content can be printed.

WIN8 IE11
Same as f

[2015-11-17 09:54] mariavkourouni commented on #2900
#2891

[2015-11-17 09:55] mariokeusen opened #2901 "3D: strange layout of timeslider when returning to 2D from 3D mode"
OS: apple OSX, Chrome and FF

UC: open app, switch to 3D mode, load the layer ch.swisstopo.zeitreihen, return to 2D mode
Result: in 3D the time-support is disabled (which is correct), after returning to 2D mode, the layout of the timeslider is weird (year number shifted to left).
Expected: time slider looks like always
![3d_timesliderafterreturn](https://cloud.githubusercontent.com/assets/4577749/

[2015-11-17 10:04] mariokeusen opened #2902 "[WMS import]: not funtional URL in dropdown list"
UC: open app, open the WMS-import tool, chose https://secure.asitvd.ch/proxy/ogc/vd-wms from the dropdown-list, try to connect to the service.
Result: no connection possible
Expected: WMS is accessible
Workaround: drop from the list or inform the WMS provider.

[2015-11-17 10:09] mariokeusen opened #2903 "[WMS import]: no zoom to layer button for layers of WMS Basel-Stadt"
![Uploading 3D_wms_no_zoombutton.PNG…]()
All OS, all browsers

UC: open app, open the wms-import tool, chose https://wms.geo.bs.ch/wmsBS from the dropdown list, watch the layer selection
Result: no "zoom to layer" button (magnifying glass) available
Expected: button is visible as for all other external WMS-layers

Maybe an external issue with the concerned service itself?

[2015-11-17 10:15] mariokeusen opened #2904 "[3D mobile]: difficult to use the 3D navigation and orientation buttons with samsung galaxy s4"
UC: open app with a samsung galaxy s4 mini (android 4.2.2 and chrome), switch to 3D mode, try to navigate with the buttons on the bottom of the map
Result: with "drummer's" fingers it's almost impossible to use those buttons. Workaround is using the zoom buttons an by panning the map.
Expected: usage of the buttons is more user friendly

Workaround: don't know, if it's possible to improve this, ca

[2015-11-17 10:19] gberaudo commented on #2881
No, it is the one from .build-artefacts/ol3.

[2015-11-17 11:11] gjn commented on #2881
I miss where this definition is made (to use .build-artefacts/ol3).

[2015-11-17 11:13] gjn commented on #2898
What about the baseline instances? Will they be updated as well?

[2015-11-17 11:32] fredj commented on #2892
This is correct

[2015-11-17 11:39] fredj commented on #2683
Can we close this issue?

[2015-11-17 11:39] davidoesch commented on #2902
the WMS changed
http://wms.vd.ch/public/services/VD_WMS/Mapserver/Wmsserver

pls change configuration in pulldown

[2015-11-17 11:41] davidoesch commented on #2904
the icons below di not have the function except reset: rotate tilt is done using the touch/tap&hold on map

@gjin: proposal to grey it out in mobiel? other thoughts?

[2015-11-17 11:42] fredj commented on #2901
Same issue on linux

[2015-11-17 11:44] #2683 closed

[2015-11-17 12:24] gjn commented on #2890
Is there any way to at least catch the error and inform the user? Or to detect configurations (hardware/browser) with sniffer tool and de-activate 3D?

[2015-11-17 12:31] mariokeusen commented on #2470
I'd say non-modal would be better in order to let the user more flexibility. Or do you see any side-effects with that?

[2015-11-17 12:44] fredj commented on #2879
It's working as expected on a Nexus 5 (chrome browser)

[2015-11-17 14:03] gberaudo commented on #2881
The `Makefile` contains the line `node build/build.js ../../scripts/ol3cesium-debug-geoadmin.json dist/ol3cesium-debug.js;`.
In `../../scripts/ol3cesium-debug-geoadmin.json`, the `../ol3` prefix resolves to `.build-artefacts/ol3`.

[2015-11-17 14:03] pfanguin commented on #2564
see : #2905

[2015-11-17 14:06] oterral commented on #2890
Error in console (Surface):
[code]

Here the msdn doc: https://msdn.microsoft.com/library/dn358554(v=vs.85).aspx

[2015-11-17 14:09] oterral commented on #2890
Sandcastls cesium has the same problem. It doesn't work at all.

[2015-11-17 14:12] gberaudo commented on #2892
The `autorenderloop` is designed to reduce the amount of CPU and GPU consummed by Cesium.
It should not impact the amount of data transfered.
Failing to stop is equivalent to being disabled: Cesium will consume the maximum of CPU and GPU resources.

[2015-11-17 14:39] mariavkourouni opened #2907 "3D mode: WIN8 IE11: KML URL import"
Steps to reproduce:
1. 3D button activated.
2. Select "Advanced tools" > "KML import" > "URL"
3. Add https://dav0.bgdi.admin.ch/swisstopo/online/zoo.kml

Result:
KLM is added to the "Maps displayed" and the map, but the tooltip information from the KML does not pop up.

WIN8 IE11

Testlink: https://mf-chsdi3.int.bgdi.ch/shorten/68413d0b40

[2015-11-17 15:20] gjn commented on #2881
Thanks for the explanation and your patience.

[2015-11-17 15:21] gjn commented on #2890
Any whay to catch that?

[2015-11-17 15:27] fredj opened #2909 "make deploybranch is broken"
[code]

[2015-11-17 15:32] oterral opened #2911 "IE 11 and some Android: Highlight of feature doesn't work"
See https://github.com/AnalyticalGraphicsInc/cesium/issues/3214

[2015-11-17 15:33] oterral commented on #2900
Tooltip popup is fixed with  https://github.com/geoadmin/mf-geoadmin3/pull/2910, for highlight see https://github.com/geoadmin/mf-geoadmin3/issues/2911

[2015-11-17 15:33] #2900 closed

[2015-11-17 15:34] oterral commented on #2891
Tooltip popup is fixed with  https://github.com/geoadmin/mf-geoadmin3/pull/2910, for highlight see https://github.com/geoadmin/mf-geoadmin3/issues/2911

[2015-11-17 15:34] #2891 closed

[2015-11-17 15:35] oterral commented on #2880
Tooltip popup is probably fixed with  https://github.com/geoadmin/mf-geoadmin3/pull/2910

[2015-11-17 15:36] gjn commented on #2909
pip target down?

[2015-11-17 15:59] fredj commented on #2909
It's probably temporary

[2015-11-17 16:03] oterral commented on #2890
Seems we can https://cesiumjs.org/Cesium/Build/Documentation/Scene.html?classFilter=scene#renderError

[2015-11-17 16:45] loicgasser commented on #2909
yes slow network and pip was down for a while today.

[2015-11-17 17:17] oterral commented on #2880
For the highlight it's related to this bug https://github.com/geoadmin/mf-geoadmin3/issues/2911 so I close this one.

[2015-11-17 17:17] #2880 closed

[2015-11-17 17:37] oterral commented on #2903
We receive a WMS 1.1.1 Get Cap not 1.4.0. I bet it's the reason.

[2015-11-18 06:33] gjn commented on #2890
It would be great to catch that, fail gracefully and inform the user about it in a popup.

[2015-11-18 06:33] #2909 closed

[2015-11-18 06:39] #2907 closed

[2015-11-18 09:49] loicgasser opened #2913 "Yellow and red stripes at horizon"
![weird_sky](https://cloud.githubusercontent.com/assets/3306154/11237704/c8431bb4-8de1-11e5-83b5-feb904967519.png)

I can only observe this phenomenon in Google Chrome 43.0.2357.134

Fine in Firefox and later versions of Chrome (45)

This may be related to the fog, needs testing.

[2015-11-18 10:45] oterral opened #2915 "Cesium is not compressed in ol3cesium file"

[2015-11-18 13:37] #2915 closed

[2015-11-19 07:22] mariokeusen commented on #2903
Then, not in our responsibility

[2015-11-19 07:22] #2903 closed

[2015-11-19 09:08] davidoesch opened #2919 "PDF generation: marker is not shown"
open map.geo.admin.ch
search for bern

print to pdf

result:
pdf does not contain the marker

expected result:
pdf contains the marker

[2015-11-19 10:56] #2919 closed

[2015-11-19 15:17] oterral commented on #2564
Fixed

[2015-11-19 15:17] #2564 closed

[2015-11-19 15:24] oterral commented on #1942
@davidoesch  I've updated the branch with last changes in ol [Test](https://mf-geoadmin3.dev.bgdi.ch/teo_play/?lang=fr&topic=swisstopo&bgLayer=ch.swisstopo.pixelkarte-farbe&X=190000.00&Y=660000.00&zoom=1&layers_timestamp=18851231&catalogNodes=1392&layers=ch.swisstopo.zeitreihen&time=1885)

[2015-11-20 06:43] davidoesch commented on #1942
question: in the original configration , the play mode was faster.... can you set it to this speed? ( I'l ahve a demo with the steering comitee on monday...)

[2015-11-20 11:09] oterral commented on #1942
Yes currently it's each 2s  how much do you want?

[2015-11-20 12:56] davidoesch commented on #1942
hwo was it before? I'dont remember @cedricmoullet?

On Fri, Nov 20, 2015 at 12:09 PM, oterral <notifications@github.com> wrote:

[2015-11-20 13:16] oterral commented on #1942
I've put 1s [TEst](https://mf-geoadmin3.dev.bgdi.ch/teo_play/?lang=fr&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&X=190000.00&Y=660000.00&dev3d=true&zoom=1&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege&layers_visibility=true,false,false,false&layers_timestamp=19731231,,,&time=1973)

[2015-11-20 13:43] davidoesch commented on #1942
perfect for the demo

On Fri, Nov 20, 2015 at 2:16 PM, oterral <notifications@github.com> wrote:

[2015-11-20 15:45] mariokeusen opened #2925 "[layertree] Catalog categories of topic=verteidigung have disappeared"
UC: open app, switch to topic Verteidigung, look at the layertree
Result: all layers are listed without any categories
Expected: Layertree has the categorie according to the topic configuration (where it is correct):
https://docs.google.com/spreadsheets/d/1evs0_sEqqJ_zC2m3sn5GEMDYurBlUBCV7qVv4sUuhvY/edit#gid=0

Workaround: please import again the topic config for the next deploy.
![vtg_config](htt

[2015-11-21 20:43] davidoesch commented on #1942
fyi: replace the play stop button with
play: http://www.swisstopo.admin.ch/internet/swisstopo/de/misc/timehelp.parsys.44773.Image.jpeg
stop: http://www.swisstopo.admin.ch/internet/swisstopo/de/misc/timehelp.parsys.51411.Image.jpeg

the position at the makes sense

[2015-11-23 07:23] ltclm commented on #2925
the category staging is set to 'test' instead of 'prod'

[2015-11-23 07:23] ltclm commented on #2925
it can be fixed in the bod in place, but the service is cached.

[2015-11-23 08:41] ltclm commented on #2925
the bod has been fixed. we need a deploy to flush the service cache.

[2015-11-23 11:44] davidoesch opened #2927 "Share Buttons: use shariff"
https://github.com/heiseonline/shariff
 respects privacy

-> we can use it for expanding /improving our share functions

more details under http://www.heise.de/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html

[2015-11-23 12:44] gjn commented on #2925
Flushing varnish should be enought.

Or deploying the mf-geoadmin3 snapshot should be fine as well.

[2015-11-23 13:13] loicgasser opened #2928 "Search: empty layer added to the layermanager when hovering on locations"
Steps to reproduce:

1) Open geoadmin on current master and src mode (easier to reproduce)
2) Search for `da`
3) Hover a location result

Result:

1) An empty layer is added to the layer manager

Expected result:

1) No layer is added to the layer manager

Or maybe it's a feature, but a confusing one because we have no names...

[2015-11-23 14:42] davidoesch opened #2929 "Zeitreihe: play loop"
if play is activated . loop from the end to the beginning endless
dependend on #1942

[2015-11-23 14:47] davidoesch opened #2930 "Zeitreihe: play preload data to ensure perfomance"
As in the first version, we need to make sure that

- [ ] the step to the next time stamp is executed only if the current time stamp is completeley loadaed for the whole extent
- [ ] preload data to play time series either on load of the layer or if the timemode is enabled

any proposals?

this needs to be done to before we can go live with
#1942 #2929

[2015-11-23 14:49] davidoesch opened #2931 "Zeitreihe : play v2"
to have v2 of play in zeireise live the following tickets need to be resolved
#1942
#2929
#2930

[2015-11-23 16:36] ltclm commented on #2925
@alcapat could you please flush varnish for the following pattern:
[code]

[2015-11-23 20:57] davidoesch opened #2932 "Print KML: png icons are distorted"
Open
https://map.geo.admin.ch/?topic=ech&lang=de&bgLayer=ch.swisstopo.pixelkarte-farbe&X=195258.27&Y=598135.18&zoom=10&layers=KML%7C%7Chttps:%2F%2Fgist.githubusercontent.com%2Fdavidoesch%2F37bf8ddca3894479ccfd%2Fraw%2Fc76cecc366508ab7d5b12e5716febbb2bab916ef%2FAdvent2015.kml

print file to pdf

Result:
icons are distorted

![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11349572/23

[2015-11-24 06:48] gjn commented on #2930
Do we want to redo zeitreihen application. It won't be that easy and straight forward...

[2015-11-24 08:31] gjn commented on #2414
For the configuration, I would propse a json file inside the project.

But updaters would need to learn to work with git/github process.

[2015-11-24 08:55] oterral commented on #2470
A red tooltip like the third party data warning should be enough

[2015-11-24 09:01] #2890 closed

[2015-11-24 09:01] #2928 closed

[2015-11-24 09:01] #2932 closed

[2015-11-24 09:36] gjn commented on #2925
Still not working?

[2015-11-24 09:47] mariokeusen opened #2934 "[catalog & time button] button active with non time-enabled layers"
UC: open app, go into ECH geocatalog, navigate in the catalog to "Base Maps", load one of the National Map "noscale" layers
Result: the time button on the right side below the zoom-in / zoom-out buttons is visible and functional and stays functional even when I drop the layer from the selection.
Expected: button is not visible at all.

[2015-11-24 09:51] oterral commented on #2934
can't reproduce on prod .

[2015-11-24 09:53] oterral commented on #2934
Forget, I can reproduce.

[2015-11-24 10:28] mariokeusen commented on #2925
Solved now on prod, got the categories again...

[2015-11-24 10:28] #2925 closed

[2015-11-24 11:02] alcapat commented on #2925
Cache flushed today at 11h

[2015-11-24 11:04] davidoesch opened #2935 "Zoom to box (SHIFT Mouse ) not visible"
USer feedback

"Seit kurzem sieht man beim Aufziehen des gewünschten Kartenausschnitts  (Shift- und mit gedrückter Maustaste den Ausschnitt festlegen) die aufgezogene Box (früher in rot) nicht mehr. Wäre hilfreich, wenn diese wieder angezeigt würde!. "

[2015-11-24 11:10] fredj commented on #2935
See https://github.com/openlayers/ol3/pull/4278

[2015-11-24 16:47] oterral commented on #2935
Fixed on master https://github.com/geoadmin/mf-geoadmin3/commit/de81fd6e245b5d37a1844caf5acbd0b1df03f785

[2015-11-24 16:47] #2935 closed

[2015-11-24 20:42] davidoesch opened #2937 "zeitreise : close tiles are not loaded in 3d"
https://mf-geoadmin3.int.bgdi.ch/3dalpha/?topic=ech&lang=en&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen&layers_timestamp=19391231&time=1939&lon=7.84129&lat=46.66672&elevation=2163&heading=254.029&pitch=-15.296

result
see: http://www.awesomescreenshot.com/showImage?img_id=782085

[2015-11-25 07:20] gjn commented on #2937
I need to create account to see the image?

You could direclty paste into github.

[2015-11-25 07:45] oterral commented on #2937
No tiles from lod 15

[2015-11-25 08:30] cedricmoullet commented on #2937
Mapproxy issue ? @procrastinatio

[2015-11-25 08:51] fredj opened #2938 "3d keyboard navigation"
- +/- : zoom in / zoom out center
- left/right: move camera left / right
- Up/down: move camera up / down
- Shift left/right: rotate
- Shift up/down: pitch

[2015-11-25 09:43] cedricmoullet opened #2939 "Go Live 3D"
Necessary things for a 3D go live:
- MapProxy Autoscaling
- WMS + PG: increase #instances
- Routing NAT (before Go Live)
- Varnish: increase #instances

[2015-11-25 09:55] #2076 closed

[2015-11-25 10:18] #2898 closed

[2015-11-25 10:18] #2872 closed

[2015-11-25 10:28] #2874 closed

[2015-11-25 10:29] cedricmoullet commented on #2853
We should have that for the go live

[2015-11-25 10:29] cedricmoullet commented on #2853
@pfanguin ?

[2015-11-25 10:30] #2823 closed

[2015-11-25 10:30] #2818 closed

[2015-11-25 10:32] #2744 closed

[2015-11-25 10:32] #2686 closed

[2015-11-25 10:44] cedricmoullet commented on #2850
data issue: we don't have data here.

[2015-11-25 10:44] #2850 closed

[2015-11-25 10:44] cedricmoullet commented on #2879
@davidoesch still an issue ?

[2015-11-25 11:22] #2901 closed

[2015-11-25 12:14] pfanguin commented on #2853
I am working on this. When is the go live ?

[2015-11-26 06:31] gjn opened #2941 "Swisssearch test fails"
It's a swisssearch parameter test [1] that fails. And indeed, if I re-do it by hand, it fails. Looking at the code, it looks for an element with `Flugplatz`, but it doesn't exist. It seems that changes in the sphinxsearch index created this failure. Test needs to be adapted to search for an existing element and click it.

@alcapat Can you try to adapt?

[1] https://github.com/geoadmin/mf-geoadmin3

[2015-11-26 15:19] davidoesch opened #2942 "Mouseclick sensitivity tooltip: very small"
This is a reoccurring  issue for all tooltips
"Ich finde den sensiblen Bereich für den Klick auf ein Symbol (oranger Kreis) ein bisschen klein, vor allem wenn man weit hineingezoomt hat:"
![unbenannt](https://cloud.githubusercontent.com/assets/4577727/11425944/daad664c-9458-11e5-94e7-cb0b19caed4b.PNG)

Proposal

A) we really do increase once again the click perimeter

or

B) We extend the tooltip

[2015-11-26 22:10] davidoesch commented on #2942
C) +1

[2015-11-27 08:08] davidoesch commented on #2930
question @gjin : AFAIK after the first complete loop, all data is cached. On the second loop no delay will be the case.
Can you confirm? if yes- this should be enough

[2015-11-27 08:14] oterral commented on #2930
I confirm.

[2015-11-27 08:15] #2930 closed

[2015-11-27 09:01] gjn commented on #2942
C) would require re-creating tiles for all affected layers...And the icons are IMO not too big.

There are 2 issues at play here.

1) We have a fixed tolerance in pixels for the underlying identify request. It's 5 pixels on desktop and 15 on mobile devices. This is clearly too small with high zoom levels. For points, the obvious solution would be to adapt the tolerance to the icon size. But we don

[2015-11-27 09:09] davidoesch commented on #2942
Decision:

"increase the click perimeter"

 define ranges depending on zoom levels,
 test them with a couple of typical layers
ch.bazl.luftfahrthindernis
ch.bafu.hydroweb-messstationen_gefahren
ch.bfs.gebaeude_wohnungs_register
ch.bav.haltestellen-oev decision on hwo to proceed (add an additional col in BOD? "wait" for vec tiles? etc)

[2015-11-27 09:35] oterral commented on #2937
After debugging it's general problem for layers with  minResolution = 2 . Like geocover.

[2015-11-27 09:42] #2941 closed

[2015-11-27 09:57] gjn commented on #2942
We'll push vector tiles. I wonder how the price-model for those will look like ;)

[2015-11-27 10:25] procrastinatio commented on #2937
This table shows the native source levels need to generate the EPSG:4326 zoom levels.

As the resolution of 2.0 meters is level 23, you only get reprojected tiles down to zoom level 14.

level 4326 | level 21781 (source)
------------ | -------------
12 |  20
13 | 21
14 | 22
15| 24
16 | 26
17 | 26
18 | 26
19 | 26

[2015-11-27 10:31] gjn commented on #2937
We now the min max resolution in 2D, with the table above we should be able to tell cesium min/max LOD for a given layer. Does imagery provider support this?

[2015-11-27 10:44] oterral commented on #2937
It has been already implemented with https://github.com/geoadmin/mf-geoadmin3/pull/2803